{% extends 'app_general/components/base.html' %}
{% block site_title %}เกี่ยวกับ{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-4">
        <div>
            <h2 class="mb-4" style="color: #00aea5; border-bottom: 2px solid #00aea5;">เกี่ยวกับเรา</h2>
            <br>
            <p class="mb-2" style="color: #00aea5">ชื่อบริษัท:<b style="color: #5f5d5d;"> DoubleTW Pets Shop</b></p>
            <p class="mb-2" style="color: #00aea5">วันที่ก่อตั้งบริษัท:<b style="color: #5f5d5d;">  -/-/2023</b></p>
            <p class="mb-2" style="color: #00aea5">ที่ตั้งบริษัท:<b style="color: #5f5d5d;"> -</b></p>
            <p class="mb-2" style="color: #00aea5">จุดประสงค์:<b style="color: #5f5d5d;"> เพื่ออำนวยความสะดวกต่อลูกค้าให้สามารถหาข้อมูลประกอบการตัดสินใจและเลือกสายพันธุ์ของสัตว์เลี้ยงที่ต้องการได้อย่างสะดวก</b></p>
            <p class="mb-2" style="color: #00aea5">เบอร์ติดต่อ:<b style="color: #5f5d5d;"> -</b></p>
            <br>
            <h5 class="mb-2" style="color: #00aea5; font-size:x-large;">จัดทำโดย</h5>
            <p class="mb-2" style="color: #333333;">นายตุลธร อาศรมพิทักษ์ <br> รหัสนักศึกษา 630910165</p>
            <p class="mb-2" style="color: #333333;">นายธีรภัทร	เจริญเนาว์ <br> รหัสนักศึกษา 630910172</p>
            <p class="mb-2" style="color: #333333;">นายวิษณุ ใจธรรม <br> รหัสนักศึกษา 630910190</p>
        </div>
    </div>
</div>
{% endblock %}