{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild"  href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Scottish Fold.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Russian BlueScottish Fold</h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวสก๊อตทิช โฟลด์ ( Scottish Fold ) เป็นแมวแสนน่ารักที่เมื่อได้พบเพียงครั้งเดียวก็จะรู้ได้ทันทีว่าน้องได้ชื่อนี้มาอย่างไร! แมวสายพันธุ์นี้ไม่เพียงแต่น่ารักมากเท่านั้น แต่ยังเป็นมิตรต่อครอบครัวด้วย สก๊อตทิช โฟลด์ นั้นเข้ากันได้ดีกับเด็กและสัตว์เลี้ยงอื่นๆ รวมถึงแมวและสุนัขที่นิสัยดี
            <p>
                สก๊อตทิช โฟลด์ นั้นอ่อนโยนและขี้เล่น ถึงแม้ว่าอาจจะน้อยกว่าแมวบางสายพันธุ์ แต่น้อง ๆ มีความสุขที่ใช้เวลาอยู่กับคุณอย่างสนุกสนาน และมีแนวโน้มที่จะติดตามคุณไปทั่วทั้งบ้านเมื่อคุณทำกิจวัตรประจำวันของคุณเสร็จสิ้น
                
                หากคุณเป็นคนที่กำลังมองหาแมวที่ชอบพูดคุย ลองพิจารณา สก๊อตทิช โฟลด์ ดูสิ ด้วยเสียงที่เงียบกว่าเสียงร้องของแมวอื่นๆ อย่างแมววิเชียรมาศ โดย สก๊อตทิช โฟลด์ นี้สามารถพัฒนาคำศัพท์ที่น่าสนใจได้ค่อนข้างมาก ซึ่งใช้เพื่อแสดงและพูดคุยกับคุณเกี่ยวกับทุกสิ่ง ตั้งแต่ขออาหาร ไปจนถึงช่วยปลุกคุณในตอนเช้า มั่นใจได้เลยว่าเมื่อพูดคุยกับสก๊อตทิช โฟลด์ แล้วน้องแมวจะพูดคุยตอบ
                
                หากคุณวางแผนที่จะเลี้ยงน้อง สก๊อตทิช โฟลด์ แล้วล่ะก็อาจจะต้องเตรียมใจที่จะรอน้องสักหน่อย เพราะลูกแมวสายพันธุ็นี้เป็นที่นิยมมาก แต่รับรองได้ว่า สก๊อตทิช โฟลด์ เป็นน้องแมวที่น่ารักมาก คุ้มค่าแก่การรอคอย
                
                สก๊อตทิช โฟลด์ ชอบมีเพื่อนและไม่ชอบถูกทิ้งให้อยู่ตามลำพัง โชคดีที่ สก๊อตทิช โฟลด์ สามารถมีความสุขกับการเป็นเพื่อนกับสัตว์อื่นได้ ในวันที่คุณต้องทำงานหรือต้องอยู่ไกลบ้านหลายชั่วโมงต่อวัน เมื่อคุณกลับมาคุณจะพบว่าน้องรีบเข้ามาทักทายอย่างมีความสุข
            </p>
            <h1 style="text-align: center;">การดูแล Scottish Fold:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยีนเด่นที่ทำให้หูของ สก๊อตทิช โฟลด์ ล้มไปข้างหน้ายังสามารถทำให้โครงกระดูกผิดรูปได้เมื่อ สก๊อตทิช โฟลด์ ที่มีหูพับถูกผสมพันธุ์เข้าหากัน ด้วยเหตุนี้ เจ้าของฟาร์มแมวที่มีความรับผิดชอบส่วนใหญ่จึงจับคู่สก๊อตทิช โฟลด์ หนึ่งตัวกับ แมวหูตรง ซึ่งมักจะเป็น อเมริกันหรือบริติชช็อตแฮร์

                สก๊อตทิช โฟลด์ บางตัวจะเป็นโรคข้อเสื่อมที่ข้อเท้า เข่า และข้อหาง แมวสายพันธุ์นี้ยังเสี่ยงต่อ โรคถุงน้ำในไต Polycystic kidney disease (PKD) และ  โรคกล้ามเนื้อหัวใจหนาผิดปกติ (hypertrophic cardiomyopathy: HCM) ซึ่งเป็นเรื่องปกติในแมวสายพันธุ์ที่มีสุขภาพดีหลายสายพันธุ์
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สก๊อตทิช โฟลด์ ขนสั้น ชอบแปรงขนสัปดาห์ละครั้งหรือสองครั้งเพื่อกำจัดขนที่หลุดร่วงออก ในขณะที่ สก๊อตทิช โฟลด์ ขนยาว จำเป็นต้องแปรงขนบ่อยกว่าปกติ ซึ่งอาจทุกวัน เพื่อป้องกันไม่ให้ขนพันกันและเกิดก้อนขน

                    หากหูแมวของคุณพับแน่น คุณอาจต้องช่วยลูกแมวรักษาความสะอาดและป้องกันการสะสม อย่างน้อยสัปดาห์ละครั้งหรือสองครั้ง ให้ใช้สำลีก้อนชุบน้ำอุ่นกับน้ำส้มสายชูสัดส่วน 50-50 ค่อย ๆ เช็ดบริเวณรอยพับ อย่าใช้สำลีพันก้านเพื่อทำความสะอาดส่วนด้านในของหูแมว หากดูเหมือนว่าขี้ผึ้งและเศษต่างๆ ก่อตัวขึ้นในหูและอยู่ห่างจากสำลีก้อนของคุณ ให้ติดต่อสัตวแพทย์ พวกเขาสามารถทำความสะอาดบริเวณที่บอบบางนี้ได้อย่างปลอดภัยพร้อมทั้งปกป้องการได้ยินของแมวด้วย
                    
                    การตัดแต่งเล็บและการแปรงฟันเป็นเรื่องที่ควรทำ สอนลูกแมวของคุณให้ยอมรับการจัดการประเภทนี้ตั้งแต่อายุยังน้อย เพื่อป้องกันปัญหาในชีวิตในภายหลัง</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สก๊อตทิช โฟลด์ ชอบเล่น โดยเฉพาะอย่างยิ่งเมื่อมีเพื่อนอย่างน้อยหนึ่งคนมาร่วมสนุก หากคุณมีแมวสองตัว คุณเตรียมใจไว้ได้เลยว่าน้อง ๆจะวิ่ง กระโดด และปีนป่ายไปด้วยกันได้ หรือหากว่ามีแค่คุณกับน้องแมว พวกเขาจะชอบเล่นแบบโต้ตอบ เช่นเดียวกับแมวอื่นๆสก๊อตทิช โฟลด์ ชอบนั่งริมหน้าต่าง ต้นไม้แมว เสาลับเล็บ ของเล่นปริศนา และสิ่งของในชีวิตประจำวัน เช่น ลังกระดาษ และกล่อง ยิ่งคุณจัดเตรียมสภาพแวดล้อมของแมวดีมากเท่าไร พวกเขาก็จะมีความสุขมากขึ้นเท่านั้น

                    ในช่วงบั้นปลายของชีวิต สก๊อตทิช โฟลด์ ของคุณอาจต้องการกำลังใจมากขึ้นเพื่อเล่นอย่างกระฉับกระเฉงระหว่างงีบหลับ จับตาดูน้ำหนักของพวกเขาและพยายามเพิ่มกิจกรรมหากเป็นไปได้ เนื่องจากโรคอ้วนอาจทำให้ปัญหาข้อต่อและอาการอื่นๆ แย่ลงได้</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สก๊อตทิช โฟลด์ ไม่มีความต้องการโภชนาการเป็นพิเศษ แต่เราแนะนำให้ให้อาหารคุณภาพสูงซึ่งมีโปรตีนในระดับสูงและมีคาร์โบไฮเดรตน้อยที่สุด สำหรับอาหารเม็ด ตรวจสอบให้แน่ใจว่าส่วนผสมแรกคือเนื้อสัตว์หรือปลาจริงๆ</p><br>
            </div>
            </div>
    </div>
</div>
{% endblock %}