{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_a' %}">Chinchilla</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_b' %}">Guinea pig</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_c' %}">Hamster</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_d' %}">Hedgehog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_e' %}">Prairie dog</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_small_f' %}">Mini lop rabbit</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_g' %}">Sugar glider</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_h' %}">Japanese pond turtle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_i' %}">Pygmy marmoset</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/rabbit.jpg' %}"><br>
            <h1 style="text-align: center;">การดูแล Mini lop rabbit:</h1>
            <b style="color: #00aea5;">1. ลักษณะนิสัยและความเป็นมิตร</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mini lop เป็นกระต่ายที่มีความร่าเริง ขี้เล่น อ่อนหวาน และสบายๆ มันชอบ
                การอยู่ร่วมกับเจ้าของและสมาชิกคนอื่นๆในบ้าน ส่วนมากมักจะชอบให้เจ้าของลูบไล้ด้วยความรัก เราจึงควรปล่อยมันออกมาจากที่อยู่ของมันบ้างเพื่อที่จะให้มันได้วิ่งเล่นและทำกิจกรรมต่างๆกับผู้คนรอบข้างเพื่อสร้าง
                ความคุ้นเคยซึ่งกันและกัน แต่ทั้งนี้กระต่ายแต่ละตัวก็สามารถมีบุคลิกเฉพาะตัวของตัวเอง     
            </p><br>
            <b style="color: #00aea5;">2.อาหารการกิน</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อาหารหลักของกระต่ายนั้นคือหญ้าแห้ง ซึ่งสัดส่วนการให้หญ้าแห้งควรอยู่มราประมาณ 70-80% ของปริมาณอาหาร
                ทั้งหมด จะเป็นหญ้าแห้งชนิดทิมโมธี, อัลฟาฟ่า, แพงโกล่า หรืออื่นๆก็ได้ ทั้งนี้หญ้าแต่ละชนิดจะมีสารอาหารที่แตกต่างกันออกไป อีกราวๆ 20% ที่เหลือนั้นสามารถเป็นผักใบเขียวและผลไม้ชนิดที่กระต่ายสามารถทานได้
                เช่น แอปเปิ้ล, แตงกวา, พริกหวาน, แครอท, กล้วย, แตงโม และอื่นๆ แต่ก็มีผักผลไม้บางชนิดที่ไม่ควรให้กระต่ายทานเช่นพืชตระกูลถั่วทั้งหลาย สำหรับอาหารเม็ดของกระต่ายนั้นควรให้แต่น้อยเพื่อเสริมสารอาหารที่จำเป็น
                เท่านั้น ไม่ควรให้ทานมากเกินไป เพราะอาจทำให้น้ำหนักเกินได้และต้องมีน้ำสะอาดให้กระต่ายมากพอสมควร เนื่องจากกระต่ายต้องการทานน้ำเป็นปริมาณมาก
            </p><br>
            <b style="color: #00aea5;">3. ที่อยู่อาศัย </b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อความปลอดภัย เราไม่ควรเลี้ยงกระต่ายแบบปล่อยนอกบ้าน ควรเลี้ยงอยู่ในกรงที่สะอาด
                ไม่อับชื้นและไม่ร้อน กรงควรมีความสูงมากพอที่จะให้มันยืน 2 ขาโดยไม่ชนกับเพดานกรง หรือจะเป็นการล้อมรั้วในบ้านก็ได้ เราควรปล่อยให้กระต่ายออกมาวิ่งเล่นนอกที่อยู่บ้างเพื่อให้มันปลดปล่อยพลังงานและ
                ออกกำลังกาย ทั้งนี้ควรระวังสายไฟต่างๆให้ดี เพราะมันเป็นสัตว์ที่ชอบเคี้ยวและแทะพอสมควร คุณจึงควรดูแลอย่างใกล้ชิดเมื่อพามันออกมาเดินเล่น รวมถึงไม่ให้มันอยู่ในที่ที่สามารถเจอกับเสียงดังมากๆ เพราะ
                กระต่ายอาจตกใจจนถึงขั้นช็อกได้
            </p><br>
            <b style="color: #00aea5;">4. การดูแลขนและความสะอาด</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การดูแลขนให้กระต่ายก็เป็นสิ่งสำคัญเช่นกัน เราควรจะใช้แปรงมาหวีขนให้กับกระต่าย
                อย่างเบามือ สัปดาห์ละ 1-2 ครั้ง เพื่อกำจัดขนตายที่ติดค้างอยู่ในตัวมันออกมาให้หมด ไม่เช่นนั้นมันก็มีโอกาสที่เจ้ากระต่ายจะเลียขนทำความสะอาดตัวเอง จนขนตายเหล่านั้นเข้าไปอุดตันสะสมที่ทางเดินอาหารจนเกิด
                เป็นโรคแฮร์บอล (Hairball) ซึ่งสามารถส่งผลเสียร้ายแรงกับกระต่าย รวมถึงมีการตัดเล็บ และดูแลความสะอาดส่วนที่มันทำความสะอาดเองไม่ได้ เช่น บริเวณใบหูและรอบดวงตา
            </p><br>
        </div>
    </div>
</div>
{% endblock %}