{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild"
                    href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/German-shepherd.png' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ German-shepherd:</h1>
            <p>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์เยอรมันเชพเพิร์ด (German shepherd) หรือที่รู้จักกันในชื่อแอลเซเชี่ยน (Alsatian)
                เป็นสุนัขพันธุ์ขนาดกลางถึงใหญ่ มีถิ่นกำเนิดในประเทศเยอรมนี
                สุนัขพันธุ์นี้ได้รับการพัฒนามาเพื่อใช้ในการเลี้ยงแกะ สุนัขพันธุ์เยอรมันเชพเพิร์ดเป็นสุนัขที่ฉลาด ฝึกง่าย
                มีความอดทนสูง และมีความจงรักภักดีต่อเจ้าของเป็นอย่างมาก สุนัขพันธุ์นี้จึงมักถูกนำไปใช้ในการทำงานต่างๆ
                เช่น งานตำรวจ งานทหาร งานกู้ภัย งานนำทางคนตาบอด
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ German-shepherd:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สุนัขพันธุ์เยอรมันเชพเพิร์ดโดยทั่วไปมีสุขภาพดีและแข็งแรง แต่ก็มีโรคประจำพันธุ์บางชนิดที่อาจพบได้ เช่น
                ภาวะกระเพาะอาหารขยายและบิดตัว (Gastric dilatation-volvulus) เป็นภาวะที่กระเพาะอาหารขยายใหญ่ขึ้นและบิดตัว
                ทำให้เลือดไปเลี้ยงกระเพาะอาหารไม่เพียงพอ ส่งผลให้สุนัขมีอาการอาเจียน ท้องอืด หายใจลำบาก
                และอาจถึงแก่ชีวิตได้ ภาวะนี้มักพบในสุนัขพันธุ์ใหญ่ที่มีขนาดใหญ่โตเร็ว เช่น สุนัขพันธุ์เยอรมันเชพเพิร์ด
                โรคข้อสะโพกเสื่อม <br>(Hip dysplasia) เป็นภาวะที่กระดูกสะโพกไม่สวมใส่กันพอดี
                ทำให้สุนัขมีอาการเจ็บปวดและเดินกะเผลก โรคนี้มักพบในสุนัขพันธุ์ใหญ่
                โรคข้อศอกเสื่อม<br> (Elbow dysplasia) เป็นภาวะที่กระดูกข้อศอกไม่สวมใส่กันพอดี
                ทำให้สุนัขมีอาการเจ็บปวดและเดินกะเผลก โรคนี้มักพบในสุนัขพันธุ์ใหญ่
                โรคไขสันหลังเสื่อม (Degenerative myelopathy) เป็นภาวะที่ไขสันหลังเสื่อมลง
                ทำให้สุนัขมีอาการอ่อนแรงและเดินไม่ได้ โรคนี้มักพบในสุนัขพันธุ์ใหญ่ที่มีอายุมากกว่า 7 ปี
                โรคลมชัก (Epilepsy) เป็นภาวะที่สมองเกิดการชักกระตุก โรคนี้มักพบในสุนัขพันธุ์ใหญ่
                นอกจากนี้ สุนัขพันธุ์เยอรมันเชพเพิร์ดยังมีแนวโน้มที่จะเกิดโรคผิวหนัง การติดเชื้อที่หู
                และโรคภูมิแพ้ได้อีกด้วย</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์เยอรมันเชพเพิร์ดมีขนสองชั้น ขนชั้นนอกยาวปานกลางและขนชั้นในหนาแน่น
                สุนัขพันธุ์นี้ต้องการการดูแลขนเป็นประจำดังนี้

                การแปรงขน ควรแปรงขนสัปดาห์ละ 2-3 ครั้ง เพื่อขจัดขนที่ตายแล้วและเศษสิ่งสกปรก
                สามารถใช้แปรงขนแบบหวีซี่ห่างหรือแปรงขนแบบหวีแข็งการอาบน้ำ ควรอาบน้ำให้สุนัขเดือนละครั้งหรือสองครั้ง
                โดยใช้แชมพูและครีมนวดสูตรอ่อนโยน
                การตัดแต่งขน หากสุนัขมีขนยาว ควรตัดแต่งขนเป็นประจำทุกเดือนหรือสองเดือน เพื่อให้ขนไม่พันกัน
                สามารถใช้กรรไกรตัดขนหรือเครื่องตัดขน
                นอกจากนี้ ควรดูแลสุขภาพช่องปากของสุนัขอย่างสม่ำเสมอ โดยแปรงฟันให้สุนัขสัปดาห์ละ 2-3 ครั้ง
                และพาสุนัขไปพบสัตวแพทย์เพื่อตรวจสุขภาพช่องปากเป็นประจำปีละครั้ง
                การดูแลขนและสุขภาพของสุนัขพันธุ์เยอรมันเชพเพิร์ดอย่างเหมาะสม จะช่วยให้สุนัขมีสุขภาพดีและดูสวยงามอยู่เสมอ
            </p><br>
            <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สุนัขพันธุ์เยอรมันเชพเพิร์ดเป็นสุนัขที่มีพลังงานสูง จึงต้องการการออกกำลังกายอย่างสม่ำเสมอ เช่น การเดิน
                การวิ่ง การว่ายน้ำ เป็นต้น อย่างน้อยวันละ 30-60 นาที หากสุนัขไม่ได้รับการออกกำลังกายอย่างเพียงพอ
                อาจก่อให้เกิดพฤติกรรมไม่พึงประสงค์ เช่น การเห่า การทำลายข้าวของ เป็นต้น

                กิจกรรมการออกกำลังกายที่เหมาะสมสำหรับสุนัขพันธุ์เยอรมันเชพเพิร์ด ได้แก่

                การเดิน เป็นการออกกำลังพื้นฐานที่สามารถทำได้ทุกวัน ควรเดินด้วยความเร็วปานกลางหรือเร็ว
                เพื่อกระตุ้นให้สุนัขได้ออกกำลังกายอย่างเพียงพอ
                การวิ่ง เป็นการออกกำลังที่ช่วยให้สุนัขได้ออกกำลังกายอย่างหนัก และช่วยเผาผลาญพลังงานส่วนเกิน
                การว่ายน้ำ เป็นการออกกำลังที่ช่วยให้สุนัขได้ออกกำลังกายอย่างนุ่มนวล และช่วยเสริมสร้างกล้ามเนื้อ
                การเล่น fetch เป็นการออกกำลังที่ช่วยให้สุนัขได้ออกกำลังกายอย่างสนุกสนาน
                และช่วยเสริมสร้างทักษะการเชื่อฟังคำสั่ง
                นอกจากนี้ ควรเลือกกิจกรรมการออกกำลังกายที่เหมาะสมกับสภาพอากาศและสุขภาพของสุนัข เช่น
                ไม่ควรพาสุนัขออกไปวิ่งหรือว่ายน้ำในอากาศร้อนจัด
                หรือไม่ควรพาสุนัขออกไปออกกำลังกายหากสุนัขมีสุขภาพไม่แข็งแรง

                เจ้าของควรสังเกตพฤติกรรมของสุนัขในระหว่างการออกกำลังกาย หากสุนัขมีอาการเหนื่อยหรืออ่อนล้า
                ควรหยุดพักออกกำลังกายทันที</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์เยอรมันเชพเพิร์ดเป็นสุนัขที่มีพลังงานสูง จึงต้องการอาหารที่มีโปรตีนสูง ไขมันต่ำ
                และคาร์โบไฮเดรตปานกลาง อาหารที่เหมาะสมสำหรับสุนัขพันธุ์เยอรมันเชพเพิร์ดควรมีส่วนผสมหลักเป็นเนื้อสัตว์
                เช่น เนื้อไก่ เนื้อวัว เนื้อปลา เป็นต้น นอกจากนี้
                อาหารควรมีวิตามินและแร่ธาตุที่จำเป็นต่อร่างกายสุนัขครบถ้วน

                ปริมาณอาหารที่เหมาะสมสำหรับสุนัขพันธุ์เยอรมันเชพเพิร์ดจะขึ้นอยู่กับอายุ น้ำหนัก ระดับกิจกรรม
                และสุขภาพของสุนัข โดยปกติแล้ว สุนัขพันธุ์เยอรมันเชพเพิร์ดโตเต็มวัยควรได้รับอาหารวันละ 2-3 มื้อ
                ปริมาณอาหารแต่ละมื้อควรแบ่งออกเป็นส่วนเล็กๆ เพื่อให้สุนัขสามารถย่อยอาหารได้ง่าย

                เจ้าของควรสังเกตพฤติกรรมการกินของสุนัข หากสุนัขกินอาหารหมดอย่างรวดเร็ว
                อาจแสดงว่าสุนัขได้รับอาหารไม่เพียงพอ หากสุนัขกินอาหารน้อยลงหรือกินอาหารเหลือ
                อาจแสดงว่าสุนัขได้รับอาหารมากเกินไป

                อาหารเสริมบางชนิด เช่น อาหารเสริมวิตามินและแร่ธาตุ อาจมีประโยชน์ต่อสุนัขพันธุ์เยอรมันเชพเพิร์ด
                แต่ควรปรึกษาสัตวแพทย์ก่อนให้อาหารเสริมแก่สุนัข</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์เยอรมันเชพเพิร์ดเป็นสุนัขที่ฉลาด ฝึกง่าย และมีความอดทนสูง
                จึงเป็นสุนัขที่เหมาะสำหรับการฝึกฝนต่างๆ

                การฝึกสุนัขพันธุ์เยอรมันเชพเพิร์ดควรเริ่มต้นตั้งแต่ลูกสุนัข อายุประมาณ 6-8 สัปดาห์
                โดยการฝึกพื้นฐานควรเริ่มจากคำสั่งง่ายๆ เช่น นั่ง นอน ลุก คอย เข้าหา เป็นต้น
                การฝึกควรทำอย่างสม่ำเสมอและต่อเนื่อง เพื่อให้สุนัขเรียนรู้และจดจำคำสั่งได้

                เมื่อสุนัขสามารถเรียนรู้คำสั่งพื้นฐานได้แล้ว สามารถเริ่มฝึกคำสั่งอื่นๆ ที่ซับซ้อนขึ้น เช่น เดินตาม ปล่อย
                หาของ เป็นต้น การฝึกคำสั่งที่ซับซ้อนควรทำอย่างค่อยเป็นค่อยไป
                เพื่อให้สุนัขสามารถเรียนรู้ได้อย่างมีประสิทธิภาพ

                เจ้าของควรใช้วิธีการฝึกด้วย positive reinforcement เป็นหลัก
                โดยการให้รางวัลแก่สุนัขเมื่อสุนัขทำตามคำสั่งได้อย่างถูกต้อง รางวัลที่ใช้อาจเป็นขนม ของเล่น หรือคำชม
                เป็นต้น

                นอกจากการฝึกคำสั่งแล้ว เจ้าของควรฝึกทักษะอื่นๆ ให้กับสุนัขพันธุ์เยอรมันเชพเพิร์ดด้วย เช่น
                การฝึกเดินตามสายจูง การฝึกไม่เห่าใส่คนแปลกหน้า เป็นต้น การฝึกทักษะต่างๆ
                เหล่านี้จะช่วยให้สุนัขมีพฤติกรรมที่ดีและอยู่ร่วมกับผู้อื่นได้อย่างมีความสุข</p><br>
        </div>
    </div>
</div>
{% endblock %}