{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_a' %}">Budgie</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_b' %}">Canary</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_bird_c' %}">Crimson rosella</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_d' %}">Finch</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_e' %}">Galah</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_f' %}">Lovebird</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_g' %}">Rainbow lorikeet</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_h' %}">Scarlet macaw</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_i' %}">Sun conure</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Crimson Rosella.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Crimson rosella:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นก Crimson Rosella
                เป็นนกแก้วขนาดเล็กที่พบในออสเตรเลียตอนตะวันออกและตะวันออกเฉียงใต้ นกเหล่านี้มีสีสันสดใส หัวเป็นสีส้มสดใส
                ลำตัวเป็นสีแดงเข้ม และท้องเป็นสีเหลือง นก Crimson Rosella เป็นนกที่ร่าเริงและชอบอยู่กันเป็นฝูง
                พวกมันชอบเล่นและปีนป่าย และพวกมันสามารถเรียนรู้ที่จะเลียนแบบเสียงต่างๆ ได้และนก Crimson Rosella
                เป็นนกที่ผสมพันธุ์ในช่วงฤดูใบไม้ผลิ ตัวผู้และตัวเมียจะสร้างรังร่วมกัน รังของนก Crimson Rosella
                ทำจากวัสดุต่างๆ เช่น หญ้า ใบไม้ และขนนก ตัวเมียจะวางไข่ประมาณ 4-6 ฟอง ระยะเวลาฟักไข่ประมาณ 18-20 วัน
                เมื่อลูกนกฟักออกมาแล้ว ตัวผู้และตัวเมียจะช่วยกันเลี้ยงลูกนกจนกว่าลูกนกจะโตพอที่จะบินได้
            </p>
            <h1 style="text-align: center;">การดูแล Crimson rosella:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นก Crimson Rosella เป็นนกกินผลไม้และเมล็ดพืช พวกมันชอบกินผลไม้ต่างๆ เช่น
                องุ่น แอปเปิ้ล มะละกอ และเมล็ดพืชต่างๆ เช่น เมล็ดเร็ป เมล็ดทานตะวัน นก Crimson Rosella
                จะหาอาหารตามต้นไม้ พื้นดิน และแหล่งน้ำในการเลือกอาหารให้นก Crimson Rosella
                ควรเลือกอาหารที่มีส่วนผสมที่หลากหลาย เพื่อให้นก Crimson Rosella ได้รับสารอาหารครบถ้วนนอกจากนี้
                ควรเลือกอาหารสำหรับนก Crimson Rosella ที่มีสีสันสดใส เนื่องจากนก Crimson Rosella
                ชอบกินอาหารที่มีสีสันสดใส
                ปริมาณอาหารที่เหมาะสมสำหรับนก Crimson Rosella คือ ให้นก Crimson Rosellaกินอาหารได้หมดภายใน 24 ชั่วโมง
                โดยควรให้อาหารวันละ 2 ครั้ง เช้าและเย็น

            </p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถานที่ในการเลี้ยงนก Crimson Rosella ควรเป็นสถานที่ที่ปลอดภัย อบอุ่น สะอาด
                และเงียบสงบ โดยสถานที่เลี้ยงนก Crimson Rosellaที่เหมาะสมควรมีดังนี้
                ขนาดของกรง กรงสำหรับเลี้ยงนก Crimson Rosellaควรมีขนาดกว้างอย่างน้อย 24 นิ้ว ยาว 36 นิ้ว และสูง 24 นิ้ว
                เพื่อให้นก Crimson Rosellaมีพื้นที่เพียงพอสำหรับบินเล่นและออกกำลังกาย
                วัสดุของกรง กรงสำหรับเลี้ยงนก Crimson Rosellaควรทำจากวัสดุที่แข็งแรงและทนทาน เช่น
                เหล็กหรือโลหะชุบสังกะสี เพื่อป้องกันนกหนีออกจากกรง
                ตำแหน่งของกรง ควรวางกรงนก Crimson Rosellaไว้ในที่ที่มีอากาศถ่ายเทสะดวก แต่ไม่โดนแสงแดดโดยตรง
                และควรวางกรงให้ห่างจากแหล่งความร้อนหรือความเย็นจัดอุปกรณ์ในกรง กรงนก Crimson
                Rosellaควรมีอุปกรณ์ที่จำเป็นสำหรับนก Crimson Rosella เช่น คอนสำหรับเกาะ ถาดใส่อาหารและน้ำ
                ถาดใส่กรวดทรายสำหรับย่อยอาหาร และของเล่นสำหรับนกให้เล่น

            </p><br>

        </div>
    </div>
</div>
{% endblock %}