{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild"
                    href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Siberian-Husky-dog.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Siberian-husky:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ไซบีเรียนฮัสกี้ (Siberian husky) เป็นสุนัขขนาดกลาง ขนฟูแน่น จัดอยู่ในกลุ่มสุนัขใช้งาน
                มีต้นกำเนิดทางตะวันออกของไซบีเรีย เพาะพันธุ์มาจากสุนัขในตระกูลสปิตซ์ มีลักษณะขน 2 ชั้นฟูแน่น,
                หางรูปเคียว, หูเป็นรูปสามเหลี่ยมตั้งชัน และลายที่เป็นลักษณะเฉพาะ

                สุนัขพันธุ์ไซบีเรียนฮัสกี้มีนิสัยโดยทั่วไปดังนี้

                เป็นมิตรและเข้ากับคนได้ง่าย สุนัขพันธุ์ไซบีเรียนฮัสกี้เป็นสุนัขที่รักผู้คน ชอบเล่นกับเด็กๆ
                และเข้ากับสัตว์เลี้ยงอื่นๆ ได้ดี
                ฉลาดและฝึกง่าย สุนัขพันธุ์ไซบีเรียนฮัสกี้เป็นสุนัขที่ฉลาดและเรียนรู้ได้เร็ว
                จึงสามารถฝึกให้เชื่อฟังคำสั่งได้ง่าย
                มีพลังงานสูง สุนัขพันธุ์ไซบีเรียนฮัสกี้เป็นสุนัขที่มีพลังงานสูง จึงต้องการการออกกำลังกายอย่างสม่ำเสมอ
                เช่น การเดิน การวิ่ง การว่ายน้ำ เป็นต้น
                รักอิสระ สุนัขพันธุ์ไซบีเรียนฮัสกี้เป็นสุนัขที่มีความเป็นอิสระสูง
                จึงอาจดื้อและไม่ยอมเชื่อฟังคำสั่งหากไม่ได้ฝึกฝนอย่างสม่ำเสมอ
                สุนัขพันธุ์ไซบีเรียนฮัสกี้อาจแสดงพฤติกรรมไม่พึงประสงค์ได้ เช่น การเห่า การทำลายข้าวของ เป็นต้น
                หากเจ้าของต้องการแก้ไขพฤติกรรมเหล่านี้ ควรเริ่มต้นจากการฝึกฝนตั้งแต่ลูกสุนัข
                โดยการฝึกพื้นฐานควรเริ่มจากคำสั่งง่ายๆ เช่น นั่ง นอน ลุก คอย เข้าหา เป็นต้น
                การฝึกควรทำอย่างสม่ำเสมอและต่อเนื่อง เพื่อให้สุนัขเรียนรู้และจดจำคำสั่งได้
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Siberian-husky:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปัญหาสุขภาพที่พบได้ในน้องหมาพันธุ์นี้คือ ปัญหาข้อสะโพกเสื่อมและโรคตา
                แม้ว่าโดยทั่วไปแล้วพวกเค้าจะมีสุขภาพดี
                แต่การตรวจสุขภาพและการไปพบสัตวแพทย์เป็นประจำยังคงเป็นสิ่งที่จำเป็น</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อให้ตัวหอมสะอาดหมดจด ไซบีเรียน ฮัสกี้ไม่จำเป็นต้องอาบน้ำบ่อย พวกเค้าจะผลัดขนชั้นในปีละ 1
                – 2 ครั้ง โดยใช้เวลาประมาณ 3 สัปดาห์ แนะนำว่าในช่วงผลัดขนควรแปรงขนเป็นประจำ
            </p><br>
            <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ไซบีเรียน ฮัสกี้เต็มไปด้วยพลัง ทำให้ต้องการออกกำลังกายเป็นประจำ
                การเดินเล่นและทำกิจกรรมกลางแจ้งจะช่วยให้พวกเค้าได้ปลดปล่อยพลังงานอย่างเต็มที่
                ข้อควรระวังคือเจ้าก้อนขนเหล่านี้อาจเล่นสนุกเกินจนวิ่งหนีหรือหลงทางได้
                เจ้าของจึงควรใช้สายจูงเมื่อต้องออกนอกบ้านเสมอ หากปล่อยให้วิ่งเล่นในสวนของคุณ
                ก็ควรตรวจสอบให้แน่ใจว่ารั้วสูงมากพอและปิดประตูเรียบร้อยดีแล้ว
            </p><br>
            <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมื่อพูดถึงอาหารไซบีเรียน ฮัสกี้ พวกเค้าต้องการอาหารที่อุดมด้วยโปรตีน
                ซึ่งเป็นแหล่งพลังงานสำคัญของร่างกาย อย่างไรก็ตาม ควรกำหนดปริมาณให้เหมาะสมเพื่อป้องกันปัญหาน้ำหนักเกิน
                โดยคุณอาจปรึกษาสัตวแพทย์เพื่อขอคำแนะนำด้านโภชนาการเพิ่มเติมได้</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สุนัขพันธุ์ไซบีเรียนฮัสกี้เป็นสุนัขที่ฉลาดและเรียนรู้ได้เร็ว จึงสามารถฝึกให้เชื่อฟังคำสั่งได้ง่าย
                อย่างไรก็ตาม สุนัขพันธุ์นี้มีความเป็นตัวของตัวเองสูง
                จึงอาจดื้อและไม่ยอมเชื่อฟังคำสั่งหากไม่ได้ฝึกฝนอย่างสม่ำเสมอ

                การฝึกสุนัขพันธุ์ไซบีเรียนฮัสกี้ควรเริ่มต้นตั้งแต่ลูกสุนัข อายุประมาณ 6-8 สัปดาห์
                โดยการฝึกพื้นฐานควรเริ่มจากคำสั่งง่ายๆ เช่น นั่ง นอน ลุก คอย เข้าหา เป็นต้น
                การฝึกควรทำอย่างสม่ำเสมอและต่อเนื่อง เพื่อให้สุนัขเรียนรู้และจดจำคำสั่งได้

                เมื่อสุนัขสามารถเรียนรู้คำสั่งพื้นฐานได้แล้ว สามารถเริ่มฝึกคำสั่งอื่นๆ ที่ซับซ้อนขึ้น เช่น เดินตาม ปล่อย
                หาของ เป็นต้น การฝึกคำสั่งที่ซับซ้อนควรทำอย่างค่อยเป็นค่อยไป
                เพื่อให้สุนัขสามารถเรียนรู้ได้อย่างมีประสิทธิภาพ

                เจ้าของควรใช้วิธีการฝึกด้วย positive reinforcement เป็นหลัก
                โดยการให้รางวัลแก่สุนัขเมื่อสุนัขทำตามคำสั่งได้อย่างถูกต้อง รางวัลที่ใช้อาจเป็นขนม ของเล่น หรือคำชม
                เป็นต้น</p><br>
        </div>
    </div>
</div>
{% endblock %}