{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Persian.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Persian:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นอกจากขนที่หนาฟูฟ่องแล้ว บุคลิกที่น่ารักและการแสดงตลกที่อ่อนโยนแต่ขี้เล่นของ แมวเปอร์เซีย ( Persian cats ) สามารถนำความสุขมาสู่ครอบครัวได้

                หากคุณกำลังมองหาแมวที่ไม่ค่อยจะขยับตัวเท่าไรนัก เปอร์เซียอาจเป็นสายพันธุ์ที่เหมาะกับคุณ แมวสายพันธุ์นี้ชอบที่จะนั่งเล่น โดยเฉพาะอย่างยิ่งเมื่อน้อง ๆ โตเต็มวัยแล้ว บางทีนั่นอาจเป็นเหตุผลว่าทำไมบางคนถึงเรียกนอกว่าเป็นเฟอร์นิเจอร์ขนสัตว์ แต่อย่าเพิ่งหลงกลไป เพราะแมวสายพันธุ์นี้อาจขี้เล่น โดยเฉพาะอย่างยิ่งกับคนที่น้อง ๆ สนิทด้วย
                
                เปอร์เซียไม่มีแนวโน้มที่จะสร้างความเสียหายมากเกินนัก ตัวอย่างเช่น พวกน้องไม่ชอบเปิดลิ้นชักและตู้เหมือนญาติอย่างโอเรียนทัล และปกติพวกน้องจะไม่ชอบเดินโดยใช้สายจูงและเล่นเก็บของเหมือนสุนัขพันธุ์อื่นๆ เช่น วิเชียรมาศและ ซาวันน่าห์ อย่างไรก็ตาม น้องเป็นแมวที่ฉลาด สามารถเรียนรู้กิจวัตรประจำวัน ทักทายคุณ และแน่นอนว่าขดตัวเพื่อกอดเป็นส่วนหนึ่งของกิจวัตรประจำวัน
                
                แม้ว่าเปอร์เซียจะชอบการกอด แต่ก็ไม่ได้เรียกร้องอะไรมากนัก หากคุณกำลังมองหาแมวที่มีความสุขที่ได้งีบหลับในขณะที่คุณไม่อยู่ และจะคอยติดตามคุณไปในกิจวัตรยามเย็นอย่างร่าเริง คุณอาจจะต้องมองเปอร์เซียมาเลี้ยงดู
                
                สุดท้ายแต่ไม่ท้ายสุด เปอร์เซียเป็นสัตว์เลี้ยงในครอบครัวที่ยอดเยี่ยม พวกเขามีความสามารถในการเข้ากับเด็ก แมวตัวอื่นๆ และแม้แต่สุนัขได้เป็นอย่างดี
            </p>
            <h1 style="text-align: center;">การดูแล Persian:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ใบหน้าที่แบนราบของเปอร์เซียทำให้เกิดปัญหาด้านสุขภาพบางประการ เช่น หายใจลำบากและออกแรงมาก พวกเขายังมีแนวโน้มที่จะเกิดอาการแพ้ ซึ่งเป็นปัญหาทั่วไปสำหรับแมว brachycephalic ทุกสายพันธุ์ ปัญหาสุขภาพของเปอร์เซียอื่นๆ ที่ทราบ ได้แก่ การบาดเจ็บที่ดวงตาบ่อยครั้ง โรคทางทันตกรรมและการสบผิดปกติ โรคไต และมะเร็ง
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวเปอร์เซียต้องการการดูแลขนทุกวันเพื่อป้องกันไม่ให้ขนพันกันจนกลายเป็นก้อนขน

                    ลูกแมวเหล่านี้มักจะมีรอยพับบนใบหน้าที่ต้องทำความสะอาดวันละครั้งหรือสองครั้ง ขึ้นอยู่กับว่าแมวมีแนวโน้มที่จะมีน้ำมูกไหลหรือไม่ นอกจากนี้การดูแลทันตกรรมและการตัดแต่งเล็บเป็นประจำก็จำเป็น</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวเปอร์เซียจำเป็นต้องออกกำลังกาย แต่ต้องดูแลไม่ให้หักโหมจนเกินไป คุณสามารถสนุกสนานไปกับการเล่นไม้ตกแมวขนนกและเลเซอร์ได้ แต่เล่นให้ช้าลงซึ่งจะไม่ทำให้เจ้าเหมียวหอบหรือหายใจลำบาก

                    เปอร์เซียชื่นชอบคอนโดแมวและชั้นวางหน้าต่างที่ช่วยให้มองเห็นทุกสิ่งที่เกิดขึ้นในบ้านและในละแวกบ้านได้ชัดเจน และพวกเขาก็ชอบที่จะเอากรงเล็บของมันไปขูดด้วย เช่นเดียวกับแมวอื่นๆ เปอร์เซียชอบเล่นกับของเล่นต่างๆ เช่น หนูแคทนิป ลูกบอล และตุ๊กตาสัตว์ตัวน้อย</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากแมวเปอร์เซียมีแนวโน้มที่จะป่วยเป็นโรคอ้วน จึงจำเป็นอย่างยิ่งที่จะต้องให้อาหารที่มีโปรตีนสูงและคาร์โบไฮเดรตต่ำโดยอาศัยเนื้อสัตว์หรือปลาจริงๆ เป็นส่วนประกอบหลัก ลองเลือกอาหารที่มีกรดไขมันโอเมก้าเพิ่มเพื่อช่วยดูแลสุขภาพผิวหนังและขน</p><br>
        </div>
    </div>
</div>
{% endblock %}