{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_f' %}">Fire salamander</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/fire salamander.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Fire salamander:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ซาลาแมนเดอร์ไฟเป็นสัตว์ครึ่งบกครึ่งน้ำที่พบได้ทั่วไปในยุโรปกลางและยุโรปตะวันออก
                เป็นสัตว์ที่โดดเดี่ยวและหากินในเวลากลางคืน ซาลาแมนเดอร์ไฟเป็นสัตว์ที่กินสัตว์อื่นเป็นอาหาร โดยกินแมลง
                สัตว์ครึ่งบกครึ่งน้ำขนาดเล็ก และสัตว์ไม่มีกระดูกสันหลังอื่นๆ
                ซาลาแมนเดอร์ไฟเป็นสัตว์ที่ไม่ก้าวร้าว แต่สามารถกัดได้หากรู้สึกตกใจหรือถูกรบกวน
                พิษของซาลาแมนเดอร์ไฟไม่เป็นอันตรายต่อมนุษย์หากได้รับในปริมาณเล็กน้อย อย่างไรก็ตาม
                พิษของซาลาแมนเดอร์ไฟอาจทำให้สัตว์เลี้ยงบางชนิด เช่น สุนัขและแมว มีอาการป่วยได้
                พฤติกรรมของซาลาแมนเดอร์ไฟโดยทั่วไปมีดังนี้
                ช่วงกลางวัน: ซาลาแมนเดอร์ไฟจะซ่อนตัวอยู่ใต้หินหรือเศษไม้เพื่อหลบแดด
                ช่วงกลางคืน: ซาลาแมนเดอร์ไฟจะออกมาหากิน โดยเดินช้าๆ ไปตามพื้นดินหรือว่ายน้ำในน้ำ
                การล่าเหยื่อ: ซาลาแมนเดอร์ไฟจะใช้ลิ้นที่ยาวและเหนียวจับเหยื่อ
                การผสมพันธุ์: ซาลาแมนเดอร์ไฟจะผสมพันธุ์ในช่วงฤดูใบไม้ผลิ
                โดยตัวผู้จะปล่อยน้ำเชื้อเข้าไปในช่องคลอดของตัวเมีย
                การฟักไข่: ตัวเมียจะวางไข่ประมาณ 20-100 ฟอง โดยไข่จะฟักเป็นตัวอ่อนภายในระยะเวลาประมาณ 2-3 เดือน
                การเจริญเติบโต: ตัวอ่อนของซาลาแมนเดอร์ไฟจะหายใจด้วยเหงือก
                เมื่อโตเต็มที่แล้วจึงเปลี่ยนมาใช้ปอดและหายใจด้วยอากาศ
                ซาลาแมนเดอร์ไฟเป็นสัตว์ที่มีอายุยืนยาว โดยสามารถมีชีวิตอยู่ได้นานถึง 30 ปี
            </p>
            <h1 style="text-align: center;">การดูแล Fire salamander:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ซาลาแมนเดอร์ไฟเป็นสัตว์ที่กินสัตว์อื่นเป็นอาหาร โดยกินแมลง สัตว์ครึ่งบกครึ่งน้ำขนาดเล็ก
                และสัตว์ไม่มีกระดูกสันหลังอื่นๆ อาหารที่เหมาะสมสำหรับซาลาแมนเดอร์ไฟควรเป็นอาหารที่มีโปรตีนสูงและไขมันต่ำ
                อาหารสำหรับสัตว์เลี้ยงครึ่งบกครึ่งน้ำ เช่น อาหารสำหรับคางคกหรือกบ
                ก็เป็นตัวเลือกที่ดีสำหรับซาลาแมนเดอร์ไฟ
                นอกจากนี้ ซาลาแมนเดอร์ไฟยังสามารถกินแมลงสด เช่น จิ้งหรีด หนอนนก และหนอนใยอาหาร ได้ อย่างไรก็ตาม
                ควรเลือกแมลงสดที่สดใหม่และสะอาด และไม่ควรให้ซาลาแมนเดอร์ไฟกินแมลงสดที่ตายแล้ว
                เพราะอาจส่งผลเสียต่อสุขภาพได้
                ปริมาณอาหารที่ควรให้ซาลาแมนเดอร์ไฟนั้นขึ้นอยู่กับอายุ น้ำหนัก และระดับกิจกรรมของซาลาแมนเดอร์ไฟ
                โดยปกติแล้ว ซาลาแมนเดอร์ไฟควรได้รับอาหารสัปดาห์ละ 2-3 ครั้ง
                ต่อไปนี้เป็นตัวอย่างอาหารที่ควรให้ซาลาแมนเดอร์ไฟ:
                อาหารสำหรับสัตว์เลี้ยงครึ่งบกครึ่งน้ำ เช่น อาหารสำหรับคางคกหรือกบ
                แมลงสด เช่น จิ้งหรีด หนอนนก และหนอนใยอาหาร</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถานที่ในการเลี้ยงที่ดีสำหรับ ซาลาแมนเดอร์ไฟ ควรมีลักษณะดังนี้
                มีขนาดเหมาะสม ตู้เลี้ยงควรมีขนาดอย่างน้อย 100x50x50 เซนติเมตร เพื่อให้ ซาลาแมนเดอร์ไฟ
                มีที่วิ่งเล่นและซ่อนตัว
                มีความชื้นสูง ซาลาแมนเดอร์ไฟต้องการความชื้นสูงถึง 70-80%
                ตู้เลี้ยงควรมีระบบพ่นหมอกหรือใช้วัสดุดูดความชื้น เช่น มอส หรือรากไม้
                มีอุณหภูมิที่เหมาะสม ซาลาแมนเดอร์ไฟ ชอบอุณหภูมิประมาณ 20-25 องศาเซลเซียส ตู้เลี้ยงควรมีแหล่งความร้อน
                เช่น หลอดไฟหรือหินร้อน
                มีวัสดุที่เหมาะสม ตู้เลี้ยงควรมีวัสดุให้ ซาลาแมนเดอร์ไฟ หลบซ่อนตัว เช่น โพรงไม้ ใต้หิน หรือใต้ใบไม้
                สำหรับสถานที่เลี้ยง ซาลาแมนเดอร์ไฟ ในไทย แนะนำให้เลี้ยงในตู้แก้วหรือตู้พลาสติกที่มีฝาปิด เพื่อป้องกัน
                ซาลาแมนเดอร์ไฟ หนีออกจากตู้ ตู้เลี้ยงควรวางไว้ในบริเวณที่มีแสงแดดส่องถึงเพียงเล็กน้อย
                หลีกเลี่ยงการโดนแสงแดดโดยตรง อุณหภูมิภายในตู้ควรอยู่ที่ประมาณ 25 องศาเซลเซียส
                ความชื้นภายในตู้ควรอยู่ที่ประมาณ 70-80% วัสดุภายในตู้ควรเป็นวัสดุที่ ซาลาแมนเดอร์ไฟ สามารถหลบซ่อนตัวได้
                เช่น โพรงไม้ ใต้หิน หรือใต้ใบไม้</p><br>

        </div>
    </div>
</div>
{% endblock %}