{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Dalmatian.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Dalmatian:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ดัลเมเชียน (Dalmatian) เป็นสุนัขขนาดกลาง มีต้นกำเนิดจากประเทศโครเอเชีย มีลักษณะเด่น คือ
                จุดสีดำหรือสีน้ำตาลที่ปรากฏอยู่ทั่วร่างกายสุนัข

                สุนัขพันธุ์ดัลเมเชียนมีนิสัยโดยทั่วไปดังนี้

                เป็นมิตรและเข้ากับคนได้ง่าย สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่รักผู้คน ชอบเล่นกับเด็กๆ
                และเข้ากับสัตว์เลี้ยงอื่นๆ ได้ดี
                ฉลาดและฝึกง่าย สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่ฉลาดและเรียนรู้ได้เร็ว
                จึงสามารถฝึกให้เชื่อฟังคำสั่งได้ง่าย
                มีพลังงานสูง สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่มีพลังงานสูง จึงต้องการการออกกำลังกายอย่างสม่ำเสมอ เช่น
                การเดิน การวิ่ง การว่ายน้ำ เป็นต้น
                รักอิสระ สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่มีความเป็นอิสระสูง
                จึงอาจดื้อและไม่ยอมเชื่อฟังคำสั่งหากไม่ได้ฝึกฝนอย่างสม่ำเสมอ
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Dalmatian:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ดัลเมเชียนโดยทั่วไปมีสุขภาพดีและมีอายุยืนยาวประมาณ 12-14 ปี อย่างไรก็ตาม
                สุนัขพันธุ์นี้ก็มีแนวโน้มที่จะเกิดโรคประจำพันธุ์บางชนิด เช่น

                ภาวะกระเพาะอาหารขยายและบิดตัว ภาวะนี้เกิดจากการที่สุนัขกินอาหารหรือดื่มน้ำปริมาณมากอย่างรวดเร็ว
                ทำให้กระเพาะอาหารขยายตัวและบิดตัว ส่งผลให้เลือดไปเลี้ยงกระเพาะอาหารลดลงและเกิดภาวะขาดออกซิเจน
                ภาวะนี้อาจทำให้สุนัขเสียชีวิตได้อย่างรวดเร็ว หากสุนัขมีอาการ เช่น อาเจียน ปวดท้อง กระสับกระส่าย
                เจ้าของควรรีบพาสุนัขไปพบสัตวแพทย์ทันที
                โรคข้อสะโพกเสื่อม โรคนี้เกิดจากการเสื่อมของกระดูกอ่อนในข้อสะโพก ทำให้สุนัขมีอาการปวด เดินกะเผลก
                หรือเดินไม่ได้ การรักษาโรคนี้อาจทำได้ด้วยการลดน้ำหนักของสุนัข การให้ยา หรือการผ่าตัด
                โรคข้อศอกเสื่อม โรคนี้เกิดจากการเสื่อมของกระดูกอ่อนในข้อศอก ทำให้สุนัขมีอาการปวด เดินกะเผลก
                หรือเดินไม่ได้ การรักษาโรคนี้อาจทำได้ด้วยการลดน้ำหนักของสุนัข การให้ยา หรือการผ่าตัด
                โรคไขสันหลังเสื่อม โรคนี้เกิดจากการเสื่อมของไขสันหลัง ทำให้สุนัขมีอาการอ่อนแรงหรืออัมพาตตามอวัยวะต่างๆ
                การรักษาโรคนี้อาจทำได้ด้วยการให้ยาหรือการผ่าตัด
                โรคลมชัก โรคนี้เกิดจากการกระตุกของกล้ามเนื้ออย่างรุนแรงโดยไม่สมัครใจ โรคนี้สามารถควบคุมได้ด้วยการกินยา
                นอกจากนี้ สุนัขพันธุ์ดัลเมเชียนยังมีแนวโน้มที่จะแพ้อาหาร แพ้ยา หรือแพ้สารเคมีต่างๆ ดังนั้น
                เจ้าของควรระมัดระวังในการให้อาหาร การให้ยา หรือการใช้สารเคมีต่างๆ กับสุนัข</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การดูแลขนของสุนัขพันธุ์ดัลเมเชียนนั้นค่อนข้างง่าย เพราะเป็นสุนัขที่มีขนสั้น
                เพียงแปรงขนสัปดาห์ละ 1-2 ครั้ง เพื่อขจัดขนที่ตายแล้วและเศษสิ่งสกปรก นอกจากนี้
                เจ้าของควรอาบน้ำให้สุนัขเป็นประจำทุก 2-3 สัปดาห์ เพื่อทำความสะอาดขนและผิวหนังของสุนัข

                หากสุนัขมีขนสีขาว เจ้าของควรแปรงขนให้สุนัขอย่างระมัดระวัง เพื่อไม่ให้ขนสีดำติดไปกับขนสีขาว นอกจากนี้
                เจ้าของควรอาบน้ำให้สุนัขด้วยแชมพูสำหรับสุนัขสีขาว เพื่อรักษาความขาวของขนสุนัข

                เจ้าของควรหมั่นตรวจดูหูและเล็บของสุนัขเป็นประจำ หากหูของสุนัขสกปรก
                เจ้าของควรทำความสะอาดหูให้สุนัขด้วยสำลีชุบน้ำสะอาด หรือนำสุนัขไปให้สัตวแพทย์ทำความสะอาดหูให้
                หากเล็บของสุนัขยาวเกินไป เจ้าของควรตัดเล็บให้สุนัขด้วยกรรไกรตัดเล็บสำหรับสุนัข</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่มีพลังงานสูง จึงต้องการการออกกำลังกายอย่างสม่ำเสมอ
                หากไม่ได้รับการออกกำลังกายอย่างเพียงพอ อาจก่อให้เกิดพฤติกรรมไม่พึงประสงค์ เช่น การเห่า การทำลายข้าวของ
                เป็นต้น

                ปริมาณการออกกำลังกายที่เหมาะสมสำหรับสุนัขพันธุ์ดัลเมเชียนนั้นขึ้นอยู่กับอายุ สุขภาพ
                และระดับกิจกรรมของสุนัข อย่างไรก็ตาม โดยทั่วไปแล้ว สุนัขพันธุ์ดัลเมเชียนควรออกกำลังกายอย่างน้อย 30-60
                นาทีต่อวัน การออกกำลังกายที่เหมาะสมสำหรับสุนัขพันธุ์ดัลเมเชียน ได้แก่

                การเดิน
                การวิ่ง
                การว่ายน้ำ
                การเล่น fetch
                การฝึกกีฬา
                เจ้าของควรพาสุนัขพันธุ์ดัลเมเชียนไปออกกำลังกายเป็นประจำทุกวัน โดยควรออกกำลังกายให้หลากหลายรูปแบบ
                เพื่อไม่ให้สุนัขรู้สึกเบื่อและเหนื่อยล้า</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ดัลเมเชียนเป็นสุนัขที่มีพลังงานสูง
                จึงต้องการอาหารที่มีสารอาหารครบถ้วนและเพียงพอต่อความต้องการของร่างกาย
                อาหารที่เหมาะสมสำหรับสุนัขพันธุ์ดัลเมเชียนควรมีปริมาณโปรตีนสูง ไขมันปานกลาง และคาร์โบไฮเดรตต่ำ นอกจากนี้
                อาหารควรมีสารอาหารอื่นๆ เช่น วิตามิน แร่ธาตุ และสารต้านอนุมูลอิสระ

                ปริมาณอาหารที่เหมาะสมสำหรับสุนัขพันธุ์ดัลเมเชียนนั้นขึ้นอยู่กับอายุ น้ำหนัก และระดับกิจกรรมของสุนัข
                อย่างไรก็ตาม โดยทั่วไปแล้ว สุนัขพันธุ์ดัลเมเชียนควรได้รับอาหารประมาณ 2-3 ถ้วยต่อวัน

                เจ้าของควรเลือกอาหารสำเร็จรูปสำหรับสุนัขพันธุ์ดัลเมเชียนที่มีคุณภาพดี
                โดยควรเลือกอาหารที่มีส่วนผสมจากเนื้อสัตว์ที่มีคุณภาพเป็นหลัก นอกจากนี้
                เจ้าของควรอ่านฉลากอาหารอย่างละเอียด เพื่อตรวจสอบปริมาณสารอาหารต่างๆ ในอาหาร</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดัลเมเชียนเป็นสุนัขที่ฉลาดและกระตือรือร้น ซึ่งทำให้ฝึกได้ง่าย อย่างไรก็ตาม
                พวกเขายังสามารถดื้อรั้นและเป็นอิสระได้ ดังนั้นการอดทนและสม่ำเสมอในการฝึกฝนจึงเป็นสิ่งสำคัญ

                เคล็ดลับในการฝึกสุนัขดัลเมเชียนมีดังนี้

                เริ่มเร็ว. ดัลเมเชียนเปิดรับการฝึกลูกสุนัขมากที่สุดเมื่อยังเป็นลูกสุนัข
                ดังนั้นจึงควรเริ่มฝึกโดยเร็วที่สุด อย่างไรก็ตาม คุณสามารถฝึกสุนัขดัลเมเชียนที่โตเต็มวัยได้เช่นกัน
                เพียงแต่ต้องอดทนและสม่ำเสมอ
                ใช้การเสริมแรงเชิงบวก ดัลเมเชี่ยนตอบสนองได้ดีที่สุดต่อการให้กำลังใจ เช่น การชมเชย การปฏิบัติ
                และการลูบคลำ หลีกเลี่ยงการใช้การลงโทษ เพราะจะทำให้สุนัขของคุณกลัวและมีโอกาสเรียนรู้น้อยลง
                คงเส้นคงวา. ดัลเมเชียนจำเป็นต้องรู้อย่างชัดเจนถึงสิ่งที่คาดหวังจากพวกเขา
                ดังนั้นจงปฏิบัติตามคำสั่งและรางวัลของคุณ
                สมาชิกทุกคนในครัวเรือนของคุณควรใช้คำสั่งและวิธีการฝึกอบรมเดียวกัน
                จัดเซสชันการฝึกอบรมให้สั้นและสนุกสนาน ดัลเมเชี่ยนมีสมาธิสั้น ดังนั้นควรฝึกครั้งละ 15-20 นาที
                อย่าลืมจบแต่ละเซสชั่นด้วยคำพูดเชิงบวก แม้ว่าสุนัขของคุณจะทำผิดพลาดก็ตาม</p><br>
        </div>
    </div>
</div>
{% endblock %}