{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Beagle.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Beagle:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับบีเกิ้ล อุปนิสัยที่โดดเด่นเลยคือ ความร่าเริง สดใส และซุกซน
                พวกเค้าเป็นเพื่อนเล่นที่ดีทั้งกับเด็กและผู้ใหญ่ การเลี้ยงบีเกิ้ลนั้น
                เจ้าของต้องมีเวลาเล่นกับพวกเค้าอย่างจริงจัง
                ไม่ว่าจะเป็นการเล่นวิ่งไล่จับหรือคาบจานร่อน อีกหนึ่งพฤติกรรมที่พบได้ของบีเกิ้ลคือเห่าเก่ง
                เพราะพวกเค้ามีนิสัยตื่นตัวและมีประสาทการรับรู้ที่ไวมาก หากไม่ได้รับการฝึกอย่างเหมาะสม
                สัญชาตญาณความเป็นนักล่าของบีเกิ้ลอาจสร้างปัญหากวนใจให้สัตว์เลี้ยงตัวอื่นได้
                และมีแนวโน้มว่าจะเห่าเพิ่มมากขึ้นด้วย พวกเค้าไม่ชอบอยู่ตามลำพังเป็นเวลานาน ๆ หากถูกปล่อยไว้นานเกินไป
                พวกเค้าจะร้องตะโกนและเห่าเป็นชั่วโมงเลยทีเดียว
                โดยรวมแล้วบีเกิ้ลเป็นสุนัขที่ใช้ประสาทสัมผัสการรับรู้ค่อนข้างมาก และชอบทำกิจกรรมเป็นที่สุด
                โดยเฉพาะการออกสำรวจสิ่งต่าง ๆ นอกบ้าน
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Beagle:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขบีเกิ้ลไม่ค่อยมีปัญหาสุขภาพทางพันธุกรรม
                แต่เช่นเดียวกับสุนัขทุกสายพันธุ์ บีเกิ้ลเองก็มีโรคที่ต้องระมัดระวังเป็นพิเศษ
                ซึ่งก็คือโรคทางพันธุกรรมที่ชื่อว่า Musladin-Lueke Syndrome โดยจะส่งผลกระทบต่อเนื้อเยื่อ อวัยวะ กระดูก
                และผิวหนังของพวกเค้า
                นอกจากนี้ด้วยนิสัยกินเก่ง กินเยอะ บีเกิ้ลจึงมีแนวโน้มที่จะอ้วนได้ง่าย
                เจ้าของจึงควรกำหนดปริมาณอาหารในแต่ละวันให้เหมาะสม ส่วนปัญหาสุขภาพอื่น ๆ
                อาจพบได้จะมีไฮโปไทรอยด์ โรคลมชัก ข้อสะโพกเสื่อม และโรคสะบ้าเคลื่อน</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บีเกิ้ลมีขนสั้น ไม่หนามาก จึงทำให้ปรับตัวเข้ากับสภาพอากาศต่าง ๆ
                ได้ดี แต่ปัญหาอย่างเดียวคือขนร่วง ดังนั้นเจ้าของที่เลี้ยงบีเกิ้ล ต้องหมั่นแปรงขนให้พวกเค้าเป็นประจำ
                หรือประมาณ 2 - 3 ครั้งต่อสัปดาห์ เพื่อให้มั่นใจว่าขนสะอาดและอยู่ในสภาพที่ดี เนื่องจากมีขนสองชั้น
                ขนจึงอาจร่วงหนักมากในช่วงฤดูใบไม้ผลิ คุณอาจต้องแปรงขนให้พวกเค้าบ่อยขึ้นในช่วงนี้
                บีเกิ้ลไม่จำเป็นต้องอาบน้ำบ่อย เว้นเสียแต่ว่าพวกเค้าจะเล่นซนจนเนื้อตัวมอมแมม หรือขนเต็มไปด้วยโคลน
                ส่วนเล็บควรตัดเป็นประจำ ไม่ควรปล่อยให้ยาวจนเกินไป
                สุดท้ายคือควรดูแลทำความสะอาดใบหูทุกสัปดาห์ ซึ่งเป็นสิ่งที่สำคัญมาก ๆ เพราะใบหูที่ห้อยลงมา
                ปิดกั้นการไหลเวียนของอากาศภายในหู ทำให้เกิดความเสี่ยงที่จะติดเชื้อที่หูได้
                คุณควรปรึกษาสัตวแพทย์เพื่อขอคำแนะนำหรือวิธีทำความสะอาดใบหูที่ถูกต้อง</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บีเกิ้ลมีความต้องการออกกำลังกายสูง
                เนื่องจากเป็นสุนัขที่พลังงานเยอะ พวกเค้าต้องได้เดินอย่างน้อยวันละ 1 ชั่วโมง
                จะเป็นการเดินเล่นในสวนหรือเดินในละแวกบ้านของคุณก็ได้
                การเดินเล่นจะช่วยให้พวกเค้าแข็งแรง และมีความสุขมาก ๆ ข้อควรระวังในการเดินเล่นกับบีเกิ้ลคือ
                ต้องใส่สายจูงทุกครั้ง เพื่อป้องกันไม่ให้พวกเค้าวิ่งเตลิดหรือออกวิ่งไล่ล่าเหยื่อ</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บีเกิ้ลเป็นจอมตะกละที่พร้อมจะกินทุกอย่างที่ขวางหน้า
                เพื่อให้ได้ปริมาณอาหารที่เพียงพอและเหมาะสม แนะนำให้แบ่งมื้ออาหารออกเป็น 2 มื้อต่อวัน
                และควรเป็นอาหารเม็ดปริมาณ ¾ ถ้วยต่อมื้อ
                เช่นเดียวกับสุนัขพันธุ์อื่น สำหรับบีเกิ้ลอาหารที่พวกเค้าควรได้รับจะขึ้นอยู่กับช่วงวัย ไลฟ์สไตล์ ขนาดตัว
                และอายุ</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บีเกิ้ลเป็นสุนัขที่เฉลียวฉลาด แต่ฝึกค่อนข้างยาก
                เพราะสัญชาตญาณความเป็นนักล่าในตัว ทำให้พวกเค้ามักออกไปสำรวจสิ่งต่าง ๆ ตามใจชอบ มากกว่าทำตามคำสั่ง
                คุณอาจต้องใช้ขนมเป็นตัวช่วยดึงดูดความสนใจพวกเค้ามากหน่อย
                รวมถึงอาจฝึกผ่านการเล่นเกมที่น่าสนใจและสร้างความสนุกสนานได้ดี</p><br>
        </div>
    </div>
</div>
{% endblock %}