{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_c' %}">Bearded dragon</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Bearded dragon.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Bearded dragon:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบียร์ดดราก้อนเป็นกิ้งก่าสายพันธุ์ Pogona vitticeps
                มีถิ่นกำเนิดในออสเตรเลีย เบียร์ดดราก้อนเป็นสัตว์ที่เลี้ยงง่าย พวกมันมีนิสัยไม่ดุร้าย เข้ากับคนได้ง่าย
                และสามารถฝึกให้เชื่องได้
                เบียร์ดดราก้อนเป็นสัตว์ที่ออกหากินในเวลากลางวัน พวกมันชอบอาบแดดเพื่อปรับอุณหภูมิร่างกาย
                เบียร์ดดราก้อนเป็นสัตว์ที่ฉลาดและสามารถเรียนรู้คำสั่งต่างๆ ได้
                พวกมันสามารถฝึกให้เชื่องได้ตั้งแต่อายุยังน้อย
                ต่อไปนี้เป็นพฤติกรรมบางอย่างของเบียร์ดดราก้อน:
                การอาบแดด: เบียร์ดดราก้อนชอบอาบแดดเพื่อปรับอุณหภูมิร่างกาย
                เบียร์ดดราก้อนจะขดตัวหันหน้าไปทางดวงอาทิตย์เพื่อรับแสงแดด
                การลอกคราบ: เบียร์ดดราก้อนจะลอกคราบประมาณเดือนละครั้ง เบียร์ดดราก้อนจะลอกคราบเพื่อขยายขนาดตัว
                การกินอาหาร: เบียร์ดดราก้อนเป็นสัตว์กินพืชเป็นอาหาร พวกมันกินผัก ผลไม้ และแมลง
                การผสมพันธุ์: เบียร์ดดราก้อนจะผสมพันธุ์ในช่วงฤดูใบไม้ผลิหรือฤดูร้อน
                ตัวผู้จะผสมพันธุ์กับตัวเมียโดยการขดตัวรอบตัวเมีย
                เบียร์ดดราก้อนเป็นสัตว์เลี้ยงที่ได้รับความนิยมอย่างมาก พวกมันเป็นสัตว์ที่ดูแลง่ายและสามารถเข้ากับคนได้ดี
            </p>
            <h1 style="text-align: center;">การดูแล Bearded dragon:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                เบียร์ดดราก้อนเป็นสัตว์กินพืชเป็นอาหาร พวกมันกินผัก ผลไม้ และแมลง
                ผัก: ผักที่เหมาะสำหรับเบียร์ดดราก้อน ได้แก่ ผักใบเขียว เช่น ผักกาดหอม ผักบุ้ง ผักคะน้า ผักโขม ผักบุ้งจีน
                ผักกาดหอมปลี ผักกาดหอมคอส ผักกาดหอมยักษ์ ผักชี ผักชีฝรั่ง ต้นหอม ใบกะเพรา ใบโหระพา ใบแมงลัก เป็นต้น
                ผลไม้: ผลไม้ที่เหมาะสำหรับเบียร์ดดราก้อน ได้แก่ ผลไม้รสหวาน เช่น แอปเปิ้ล ฝรั่ง มะละกอ กล้วย แตงโม องุ่น
                เป็นต้น
                แมลง: แมลงที่เหมาะสำหรับเบียร์ดดราก้อน ได้แก่ จิ้งหรีด ตั๊กแตน แมลงสาบ ดูเบีย หนอนนก เป็นต้น
                ปริมาณอาหาร: ปริมาณอาหารที่เหมาะสมสำหรับเบียร์ดดราก้อนจะขึ้นอยู่กับขนาดของเบียร์ดดราก้อน
                เบียร์ดดราก้อนวัยเด็กควรกินอาหารวันละ 2-3 ครั้ง เบียร์ดดราก้อนวัยโตควรกินอาหารวันละ 1-2 ครั้ง
                การให้อาหาร: ควรให้ผักเป็นอาหารหลัก และให้ผลไม้และแมลงในปริมาณที่น้อยลง
                การให้อาหารเสริม: ควรให้อาหารเสริมแคลเซียมและวิตามินดีแก่เบียร์ดดราก้อนเป็นประจำ</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สถานที่เลี้ยงเบียร์ดดราก้อนที่เหมาะสมควรมีลักษณะดังนี้:

                มีขนาดเหมาะสม เบียร์ดดราก้อนต้องการพื้นที่เพียงพอสำหรับการเคลื่อนไหว
                เบียร์ดดราก้อนตัวโตควรมีตู้เลี้ยงขนาดอย่างน้อย 48 x 24 x 12 นิ้ว
                มีอุณหภูมิและความชื้นที่เหมาะสม เบียร์ดดราก้อนเป็นสัตว์ที่อาศัยในเขตร้อนชื้น
                อุณหภูมิที่เหมาะสมสำหรับเบียร์ดดราก้อนคือ 75-85 องศาฟาเรนไฮต์ ความชื้นที่เหมาะสมสำหรับเบียร์ดดราก้อนคือ
                40-60%
                มีวัสดุรองพื้นที่เหมาะสม เบียร์ดดราก้อนชอบขุดดิน
                วัสดุรองพื้นที่เหมาะสมสำหรับเบียร์ดดราก้อนคือวัสดุที่ไม่เป็นอันตรายและสามารถดูดซับความชื้นได้ เช่น
                ดินผสมพีทมอส เปลือกไม้ กระดาษหนังสือพิมพ์
                มีที่หลบซ่อน เบียร์ดดราก้อนเป็นสัตว์ที่ขี้อาย พวกมันต้องการที่หลบซ่อนเพื่อความปลอดภัย
                ที่หลบซ่อนที่เหมาะสมสำหรับเบียร์ดดราก้อนคือกล่องหรือถ้ำ
                มีแหล่งน้ำสะอาด เบียร์ดดราก้อนต้องการน้ำสะอาดเพื่อดื่มและอาบน้ำ
                นอกจากนี้ สถานที่เลี้ยงเบียร์ดดราก้อนควรอยู่ห่างจากแหล่งความร้อนและแสงสว่างโดยตรง
                เพื่อความปลอดภัยของเบียร์ดดราก้อน</p><br>

        </div>
    </div>
</div>
{% endblock %}