{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/tarantula.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Tarantula:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป็นแมงมุมที่ตัวที่ใหญ่มาก มีขาที่ยาว
                และสังเกตได้ชัดเลยว่าเป็นทารันทูล่าแน่ๆคือ น้องจะมีขนบริเวณแขนขาและลำตัวยาวมาก
                อีกทั้งยังมีสีสันลวดลายสวยงาม เช่น สีน้ำเงิน สีน้ำตาลแดง เป็นต้น น้องมีสายตาที่ไม่ค่อยดี
                แต่น้องสามารถใช้ขนยาวๆบนลำตัว เป็นตัวจับและรับรู้แรงสั่นสะเทือนของทิศทางหรือระยะวัตถุได้
                เมื่อโตเต็มวัยจะมีขนาดตัวที่ใหญ่ถึง 33 เซนติเมตร น้ำหนักอยู่ที่ 160 กรัม อายุขัยโดยเฉลี่ยอยู่ที่ 20-30
                ปีเลยทีเดียว เรียกได้ว่าเป็นสัตว์ที่มีอายุยืนยาวมากๆ ในประเทศไทย
            </p>
            <h1 style="text-align: center;">การดูแล Tarantula:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หนอนนกขนาดเล็ก ลูกจิ้งหรีดที่ตัวเล็กเท่าหัวเข็ม ขาจิ้งหรีด ลูกแมลงสาบDubia
                แมลงหวี่ไร้ปีก(เห็นเฟซบุ๊คร้าน Beetle Hub มีขาย)
                เนื่องจากเป็นลูกแมงมุม เลยสามารถให้อาหารบ่อยประมาณทุก 2-3 วันได้ เพราะตามธรรมชาติ
                ลูกแมงมุมต้องรีบโตให้เร็วที่สุดก่อนจะถูกนักล่าจับกิน พอมันโตแล้วค่อยเปลี่ยนเป็นอาทิตย์ละครั้ง
                หนอนนกมีสองสายพันธุ์คือแบบขนาดปรกติ สีเหลืองครีม กับหนอนนกพันธุ์จิ๋ว สีเข้มออกเหลืองผสมดำ
                หนอนนกอย่างหลัง จะหาได้จากคนขายแมงมุมบางเจ้า ซึ่งเค้าจะแถมมาให้กับแมงมุมที่ซื้อ หนอนพวกนี้เพาะง่ายมาก
                ขนาดผมแทบไม่ดูแลยังออกลูกมายั๊วเยี้ยกว่าพันธุ์ปรกติอีก
                หนอนนกชนิดปรกติส่วนมากหาได้จากร้านขายปลาเลี้ยง หรือร้านขายอุปกรณ์ตกปลา เก็บรักษาง่ายพอๆกับอาหารเม็ด
                (ถ้าไม่คิดจะเพาะพันธุ์มัน)
                เวลาให้อาหาร ควรใช้ปากคีบบีบหัวหนอนนกให้อยู่ในสภาพปางตายก่อน เพื่อไม่ให้มันมุดดินหนี
                ที่ต้องทำแบบนี้เพราะหนอนที่หนีไปใต้ดิน จะขึ้นมากัดกินทารันทูล่าตอนกำลังลอกคราบ
                เพราะตอนนั้นทารันทูล่าจะขยับตัวไม่ได้
                ถ้ามีแต่หนอนนกที่ขนาดใหญ่กว่าลูกแมงมุม ให้เอากรรไกรตัดหนอนเป็นชิ้นเล็กๆ
                เพราะลูกแมงมุมบางตัวอาจจะไม่กล้ากินอาหารที่ใหญ่กว่าตัวมัน น้ำเยิ้มๆจากตัวหนอนที่ถูกตัด
                จะช่วยให้แมงมุมรับอาหารง่ายขึ้น
                สำหรับลูกแมงมุมบางตัวที่กินยาก เราอาจต้องหย่อนอาหารข้างหน้ามันเลย</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถ้าเป็นลูกแมงมุมขนาดเล็กให้เลี้ยงในกล่องหรือกระปุกพลาสติกแบบใช้แล้วทิ้ง
                เช่น กล่องใส่อาหาร กล่องสลัด

                เมื่อโตขึ้นขนาดตัวมากกว่า 1.5 นิ้ว สามารถย้ายมาเลี้ยงในตู้หรือภาชนะสวยงามได้
                แต่เน้นภาชนะที่ใหญ่กว่าขนาดตัวของน้องเพียง 2-4 เท่า เท่านั้น

                ควรมีวัสดุรองพื้นภาชนะ เช่น พีทมอส ขุยมะพร้าว และควรใส่วัสดุรองพื้นให้หนาอย่างน้อย 3 ใน 10
                ของความสูงภาชนะ เพื่อให้ลูกแมงมุมได้ขุดรูเข้าไปซ่อนตัว
                อีกทั้งยังช่วยป้องกันเวลาที่แมงมุมตกลงมาจากที่สูงอีกด้วย วัสดุรองพื้นสามารถเปลี่ยนได้ทุก 1-3 เดือน

                ภาชนะควรเจาะรูเล็กๆ เพื่อให้สามารถระบายอากาศได้ดี แต่ห้ามเจาะรูใหญ่กว่าขนาดลำตัวของน้อง
                เพราะจะทำให้น้องสามารถมุดหนีออกไปได้

                การให้อาหารน้อง ถ้าเป็นลูกแมงมุมควรให้ 2-3 วันต่อครั้ง เมื่อโตเต็มวัย ควรให้แค่อาทิตย์ละ 1
                ครั้งเท่านั้น ส่วนน้ำให้ใช้ฟร็อกกี้ฉีดให้รอบกล่องหรือรอบภาชนะ แล้วเดี๋ยวน้องจะมาดื่มเอง
                แต่ระวังอย่าฉีดให้ชื้นหรือชุ่มจนเกินไป ควรให้น้ำ 3 วันครั้งหรืออาทิตย์ละครั้ง

                ในเวลากลางวันให้พาน้องไว้ในสถานที่ที่เย็นที่สุดของบ้าน อุณหภูมิที่ประมาณ 30 องศาเซลเซียส
                หรือสักประมาณ 27-28 องศาเซลเซียสก็ได้ เนื่องจากน้องต้องอยู่ในกล่องแคบๆ และมีรูระบายอากาศขนาดเล็ก
                การทำให้น้องอยู่ในที่ที่มีอากาศเย็น จะทำให้น้องรูสึกสบายยิ่งขึ้น </p><br>

        </div>
    </div>
</div>
{% endblock %}