{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_g' %}">Leopard gecko</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Leopard Gecko0.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Leopard gecko:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;พฤติกรรมทั่วไปของ Leopard gecko มีดังนี้

                การกิน: Leopard gecko เป็นสัตว์กินเนื้อ พวกมันกินแมลงขนาดเล็กเป็นหลัก อาหารที่เหมาะสมสำหรับ Leopard
                gecko ได้แก่ จิ้งหรีด ตั๊กแตน หนอนนก หนูแฮมสเตอร์ขนาดเล็ก หรือปลาน้ำจืดขนาดเล็ก
                การถ่ายปัสสาวะและการขับถ่าย: Leopard gecko ถ่ายปัสสาวะและขับถ่ายเป็นประจำทุกวัน
                พวกมันมักถ่ายปัสสาวะและขับถ่ายในบริเวณที่มีทรายหรือวัสดุอื่นๆ ที่ดูดซับความชื้นได้ดี
                การลอกคราบ: Leopard gecko จะลอกคราบตามอายุ โดยตัวอ่อนจะลอกคราบประมาณ 10-20 ครั้งต่อปี
                ในขณะที่ตัวเต็มวัยจะลอกคราบประมาณ 2-4 ครั้งต่อปี การลอกคราบเป็นกระบวนการตามธรรมชาติที่ช่วยให้ Leopard
                gecko เติบโตและแข็งแรง
                การสืบพันธุ์: Leopard gecko สามารถผสมพันธุ์ได้เมื่ออายุประมาณ 1 ปีขึ้นไป ระยะเวลาตั้งท้องของ Leopard
                gecko ประมาณ 50 วัน ในแต่ละครั้ง Leopard gecko สามารถออกลูกได้ประมาณ 10-30 ตัว
                Leopard gecko เป็นสัตว์เลี้ยงที่น่ารักและเลี้ยงง่าย อย่างไรก็ตาม ก่อนที่จะเลี้ยง Leopard gecko
                ควรศึกษาข้อมูลเกี่ยวกับการดูแลและเลี้ยงดูอย่างละเอียด เพื่อให้ Leopard gecko เจริญเติบโตและแข็งแรง
            </p>
            <h1 style="text-align: center;">การดูแล Leopard gecko:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Leopard gecko เป็นสัตว์กินเนื้อ พวกมันกินแมลงขนาดเล็กเป็นหลัก อาหารที่เหมาะสมสำหรับ Leopard gecko ได้แก่
                จิ้งหรีด: จิ้งหรีดเป็นอาหารยอดนิยมสำหรับ Leopard gecko พวกมันหาซื้อได้ง่ายและราคาไม่แพง
                จิ้งหรีดควรมีขนาดพอดีกับปากของ Leopard gecko โดยตัวอ่อนควรมีขนาดประมาณ 1/4 นิ้ว
                และตัวเต็มวัยควรมีขนาดประมาณ 1/2 นิ้ว
                ตั๊กแตน: ตั๊กแตนเป็นอาหารอีกชนิดหนึ่งที่เหมาะสำหรับ Leopard gecko พวกมันมีโปรตีนสูงและไขมันต่ำ
                ตั๊กแตนควรมีขนาดพอดีกับปากของ Leopard gecko โดยตัวอ่อนควรมีขนาดประมาณ 1/4 นิ้ว
                และตัวเต็มวัยควรมีขนาดประมาณ 1/2 นิ้ว
                หนอนนก: หนอนนกเป็นอาหารที่มีโปรตีนสูงมาก พวกมันเหมาะสำหรับ Leopard gecko ที่โตเต็มวัย
                หนอนนกควรมีขนาดพอดีกับปากของ Leopard gecko โดยตัวเต็มวัยควรมีขนาดประมาณ 1/2 นิ้ว
                Leopard gecko ควรได้รับอาหารวันละ 2-3 ครั้ง โดยให้ปริมาณที่ Leopard gecko สามารถกินหมดภายใน 2 ชั่วโมง
                อาหารควรมีความสดใหม่และปราศจากเชื้อโรค ควรให้อาหาร Leopard gecko ในจานตื้นหรือถาดเลี้ยงแมลง
                เพื่อป้องกันไม่ให้อาหารกระจายไปทั่วตู้เลี้ยง</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Leopard gecko เป็นสัตว์เลี้ยงขนาดเล็กที่มีถิ่นกำเนิดในเอเชียกลางและตะวันตกเฉียงใต้
                พวกมันมีขนาดโตเต็มที่ประมาณ 20-30 เซนติเมตร พวกมันเป็นสัตว์หากินกลางคืน
                ชอบซ่อนตัวอยู่ในโพรงหรือใต้วัตถุต่างๆ
                สถานที่ในการเลี้ยง Leopard gecko ควรมีลักษณะดังนี้
                มีขนาดเหมาะสม ตู้เลี้ยงควรมีขนาดอย่างน้อย 60x30x30 เซนติเมตร เพื่อให้ Leopard gecko
                มีที่วิ่งเล่นและซ่อนตัว
                มีอุณหภูมิที่เหมาะสม Leopard gecko ชอบอุณหภูมิประมาณ 25-30 องศาเซลเซียส ตู้เลี้ยงควรมีแหล่งความร้อน เช่น
                หลอดไฟหรือหินร้อน
                มีความชื้นที่เหมาะสม Leopard gecko ต้องการความชื้นประมาณ 30-40% ตู้เลี้ยงควรมีวัสดุดูดความชื้น เช่น มอส
                หรือรากไม้
                มีวัสดุที่เหมาะสม ตู้เลี้ยงควรมีวัสดุให้ Leopard gecko หลบซ่อนตัว เช่น โพรงไม้ ใต้หิน หรือใต้ใบไม้</p>
            <br>

        </div>
    </div>
</div>
{% endblock %}