{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Russian Blue.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Russian Blue:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวรัสเซียนบลู ( Russian Blue ) มีชื่อเรียกอีกชื่อหนึ่งว่า Archangel Blue หรือ Archangel Cat เป็นแมวที่น่าทึ่ง แถมยังเป็นเพื่อนที่แสนวิเศษอีกด้วย ลูกแมวเหล่านี้มีขนสั้นนุ่มเนียนในเฉดสีน้ำเงินเทาหลากหลายเฉด ลูกแมวเหล่านี้มักจะติดตามสมาชิกในครอบครัวไปรอบ ๆ บ้านอย่างมีความสุข แต่มักจะซ่อนตัวเมื่อมีคนแปลกหน้ามาเยี่ยม

                รัสเซียนบลู มักจะไม่ชอบทำลายข้าวของเท่าไร แมวสายพันธุ์นี้จะชอบทำอะไรต่าง ๆ ในช่วงที่ยังเด็ก แต่เมื่อคุณค่อยๆ สอนอย่างนุ่มนวลว่าอะไรที่ทำได้อะไรที่ไม่ควรทำ น้องแมวก็จะปฏิบัติตามอย่างเชื่อฟัง
                
                ไม่เพียงแค่นั้น รัสเซียนบลูนั้นมีความฉลาดสูงและเรียนรู้ที่จะเปิดประตู เล่นหยิบของ มาเมื่อถูกเรียก และอื่นๆ ได้อย่างง่ายดาย ถึงแม้ว่าจะไม่ได้เหมือนกับสุนัขเสียทีเดียว เนื่องจากรัสเซียนบลู ขี้อาย จึงไม่นิยมฝึกใช้สายจูง
                
                ถ้าคุณได้เลี้ยงน้องรัสเซียนบลูแล้วล่ะก็ คุณจะมีเพื่อนซี้ ที่ชื่นชอบกิจวัตรประจำวันและการกอดที่อ่อนโยน ในขณะที่ครอบครัวของน้องแมวออกไปทำงาน ลูกแมวเหล่านี้จะงีบหลับอย่างมีความสุขแทนที่จะมองหาวิธีสร้างความบันเทิงให้ตัวเอง พวกเขาเรียนรู้ที่จะเข้ากับสัตว์เลี้ยงตัวอื่นๆ และชื่นชมเด็กๆ อย่างไรก็ตามน้องก็อาจจะต้องการอิสระบ้างบางครั้ง
                
                รัสเซียนบลูเป็นสัตว์เลี้ยงที่สวยงาม ค่อนข้างพึ่งพาตนเองได้ และเป็นมิตรกับผู้คนที่พวกเขาไว้วางใจ เป็นสัตว์เลี้ยงที่มีความสามารถรอบด้านและเข้ากับสถานการณ์การใช้ชีวิตต่างๆ ได้อย่างง่ายดาย
            </p>
            <h1 style="text-align: center;">การดูแล Russian Blue:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากรัสเซียนบลูเป็นสายพันธุ์ที่เกิดขึ้นตามธรรมชาติ ส่วนใหญ่จึงมีสุขภาพที่ดี ลูกแมวเหล่านี้อาจเสี่ยงต่อโรคของแมวบางชนิดที่ส่งผลต่อแมวตัวอื่นๆ รวมถึงภาวะกล้ามเนื้อหัวใจผิดปกติมากเกินไป โรคไต โรคอ้วน และ โรคปริทันต์อักเสบ (Periodontal disease) หรือโรคเหงือกอักเสบ
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากขนสั้นและดูแลง่าย รัสเซียนบลูจึงไม่ต้องการการดูแลขนมากนัก การแปรงขนทุกสัปดาห์ ช่วยกำจัดขนที่หลุดร่วงและลดการหลุดร่วงได้

                    คุณอาจต้องสอนแมวของคุณให้แปรงฟัน และคุณอาจต้องตัดเล็บเป็นประจำ</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แม้ว่าแมวพันธุ์รัสเซียนบลูจะมีชื่อเสียงในด้านนิสัยที่ดูสง่างาม แต่ก็มีนิสัยขี้เล่น แมวเหล่านี้สนุกสนานมากกับของเล่นที่พวกเขาสามารถเพลิดเพลินได้ด้วยตัวเอง เช่นเดียวกับของเล่นแบบโต้ตอบ เช่น ไม้ตกแมว และ เลเซอร์ นอกจากนี้ พวกเขายังชื่นชอบคอนโดแมวหลายชั้น โดยเฉพาะอย่างยิ่งหากมีช่องสำหรับนอนและซ่อนตัว เสาลับเล็บก็เป็นสิ่งจำเป็นเช่นกัน</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รัสเซียนบลูไม่มีความต้องการทางโภชนาการเป็นพิเศษ อย่างไรก็ตาม เราขอแนะนำให้แมวของคุณรับประทานอาหารคุณภาพสูง อาหารสดเป็นทางเลือกที่ดีเยี่ยมและอาหารเม็ดที่มีโปรตีนสูงและคาร์โบไฮเดรตต่ำที่ใช้ปลาจริงหรือเนื้อสัตว์จริงเป็นส่วนประกอบหลักจะดีกว่าอาหารคาร์โบไฮเดรตสูงที่อาจทำให้อ้วนได้</p><br>
            </div>
            </div>
    </div>
</div>
{% endblock %}