{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/caracal.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Caracal:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                แคราคัลเป็นสัตว์เลี้ยงลูกด้วยนมในตระกูลแมว พวกมันมีถิ่นกำเนิดในทวีปแอฟริกาและเอเชียกลาง
                แคราคัลเป็นสัตว์ที่ฉลาด คล่องแคล่ว และชอบล่าสัตว์
                ต่อไปนี้เป็นพฤติกรรมบางอย่างของ แคราคัล:
                การล่าเหยื่อ: แคราคัล เป็นสัตว์นักล่าที่เก่งกาจ พวกมันสามารถล่าเหยื่อได้หลากหลายชนิด เช่น กระต่าย นก
                สัตว์ฟันแทะ และแม้แต่กวางขนาดเล็ก ในการล่าเหยื่อ แคาราคัลจะใช้การพุ่งเข้าหาเหยื่ออย่างรวดเร็วและแม่นยำ
                การใช้ชีวิต: แคราคัล เป็นสัตว์ที่ออกหากินในเวลากลางคืน พวกมันอาศัยอยู่ตามป่าทึบ ภูเขา หรือทะเลทราย
                การสื่อสาร: แคราคัล ใช้เสียงหลายประเภทในการสื่อสารกับกัน เช่น เสียงคำราม เสียงร้อง และเสียงขู่
                พวกมันยังใช้กลิ่นและท่าทางในการสื่อสารอีกด้วย
                การผสมพันธุ์: แคราคัล ผสมพันธุ์ในช่วงฤดูใบไม้ผลิ ตัวเมียจะตั้งท้องประมาณ 60-70 วัน ออกลูกครั้งละ 1-4 ตัว
                การปกป้องลูก: ตัวเมียจะเลี้ยงลูกด้วยตัวเองเป็นเวลาประมาณ 6 เดือน ในช่วงนี้ตัวผู้จะคอยปกป้องตัวเมียและลูก
            </p>
            <h1 style="text-align: center;">การดูแล Caracal:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                แคราคัลเป็นสัตว์นักล่าโดยธรรมชาติ
                ดังนั้นอาหารที่เหมาะสมสำหรับแคราคัลควรเป็นอาหารที่มีโปรตีนสูงและไขมันต่ำ อาหารสำหรับสัตว์ป่า เช่น
                อาหารสำหรับเสือดาวหรือเสือชีตาห์ ก็เป็นตัวเลือกที่ดีสำหรับแคราคัล
                อาหารเหล่านี้ได้รับการพัฒนาให้เหมาะสมกับความต้องการของสัตว์นักล่า และอุดมไปด้วยโปรตีนจากเนื้อสัตว์
                นอกจากนี้ แคราคัลยังสามารถกินอาหารสด เช่น กระต่าย หนู นก และสัตว์ฟันแทะอื่นๆ ได้ อย่างไรก็ตาม
                ควรเลือกอาหารสดที่สดใหม่และสะอาด และไม่ควรให้แคราคัลกินอาหารสดที่ปรุงสุกแล้ว
                เพราะอาจส่งผลเสียต่อสุขภาพได้
                ปริมาณอาหารที่ควรให้แคราคัลนั้นขึ้นอยู่กับอายุ น้ำหนัก และระดับกิจกรรมของแคราคัล โดยปกติแล้ว
                แคราคัลควรได้รับอาหารวันละ 2-3 มื้อ</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สถานที่ในการเลี้ยงแคราคัล ควรมีลักษณะดังนี้:
                มีขนาดเหมาะสม แคราคัลเป็นสัตว์ขนาดใหญ่ พวกมันต้องการพื้นที่เพียงพอสำหรับการเคลื่อนไหว แคราคัล
                ตัวโตควรมีกรงเลี้ยงขนาดอย่างน้อย 12 x 12 x 6 ฟุต
                มีอุณหภูมิและความชื้นที่เหมาะสม แคราคัล เป็นสัตว์ที่อาศัยอยู่ในเขตร้อนชื้น อุณหภูมิที่เหมาะสมสำหรับ
                แคราคัล คือ 75-85 องศาฟาเรนไฮต์ ความชื้นที่เหมาะสมสำหรับ แคราคัล คือ 40-60%
                มีวัสดุรองพื้นที่เหมาะสม แคราคัล เป็นสัตว์ที่ชอบขุดดิน วัสดุรองพื้นที่เหมาะสมสำหรับ แคราคัล
                คือวัสดุที่ไม่เป็นอันตรายและสามารถดูดซับความชื้นได้ เช่น ดินผสมพีทมอส เปลือกไม้ กระดาษหนังสือพิมพ์
                มีที่หลบซ่อน แคราคัล เป็นสัตว์ที่ขี้อาย พวกมันต้องการที่หลบซ่อนเพื่อความปลอดภัย
                ที่หลบซ่อนที่เหมาะสมสำหรับ แคราคัล คือกล่องหรือถ้ำ
                มีแหล่งน้ำสะอาด แคราคัล ต้องการน้ำสะอาดเพื่อดื่มและอาบน้ำ
                นอกจากนี้ สถานที่เลี้ยง แคราคัล ควรอยู่ห่างจากแหล่งความร้อนและแสงสว่างโดยตรง เพื่อความปลอดภัยของ แคราคัล
            </p><br>

        </div>
    </div>
</div>
{% endblock %}