{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_e' %}">Emperor scorpion</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Emperor scorpion.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Emperor scorpion:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Emperor scorpionเป็นแมงป่องชนิดใหญ่ที่สุดในโลก
                และเป็นสัตว์เลี้ยงที่นิยมเลี้ยงกันทั่วโลก แมงป่องจักรพรรดิมีถิ่นกำเนิดอยู่ในทวีปแอฟริกาตะวันตกและกลาง
                พบได้ทั่วไปในป่าดิบชื้น ป่าละเมาะ และทุ่งหญ้าสะวันนา
                แมงป่องจักรพรรดิเป็นสัตว์กลางคืน โดยปกติแล้วจะออกหากินในช่วงค่ำและกลางคืน
                แมงป่องจักรพรรดิเป็นสัตว์นักล่าและกินแมลงเป็นอาหารหลัก เช่น แมลงสาบ ตั๊กแตน และหอยทาก
                แมงป่องจักรพรรดิเป็นสัตว์ที่ค่อนข้างเชื่อง แต่ก็สามารถกัดได้หากถูกรบกวนหรือรู้สึกตกใจ
                พิษของแมงป่องจักรพรรดิมีฤทธิ์ต่อระบบประสาทและอาจทำให้เสียชีวิตได้ อย่างไรก็ตาม
                พิษของแมงป่องจักรพรรดิมักไม่เป็นอันตรายต่อมนุษย์หากได้รับในปริมาณเล็กน้อย
                พฤติกรรมของแมงป่องจักรพรรดิโดยทั่วไปมีดังนี้
                ช่วงกลางวัน: แมงป่องจักรพรรดิจะพักผ่อนอยู่ในโพรงหรือใต้กองใบไม้
                แมงป่องจักรพรรดิจะยกหางขึ้นเหนือหัวเพื่อเตือนภัยสัตว์อื่นๆ
                ช่วงค่ำ: แมงป่องจักรพรรดิจะออกหากิน โดยจะเดินช้าๆ ไปตามพื้นดินหรือปีนต้นไม้เพื่อหาเหยื่อ
                การล่าเหยื่อ: แมงป่องจักรพรรดิจะใช้ก้ามจับเหยื่อแล้วใช้เหล็กในต่อยเหยื่อให้ตาย
                จากนั้นจึงใช้ก้ามฉีกเนื้อเหยื่อเป็นชิ้นเล็กๆ เพื่อกิน
                การผสมพันธุ์: แมงป่องจักรพรรดิจะผสมพันธุ์ในช่วงฤดูฝน โดยตัวผู้จะปล่อยอสุจิเข้าไปในช่องคลอดของตัวเมีย
                การฟักไข่: ตัวเมียจะวางไข่ประมาณ 20-30 ฟอง โดยไข่จะฟักเป็นตัวอ่อนภายในระยะเวลาประมาณ 6-8 เดือน
                การเจริญเติบโต: ตัวอ่อนของแมงป่องจักรพรรดิจะลอกคราบประมาณ 7-9 ครั้งก่อนที่จะกลายเป็นตัวเต็มวัย
                แมงป่องจักรพรรดิเป็นสัตว์ที่มีอายุยืนยาว โดยสามารถมีชีวิตอยู่ได้นานถึง 20 ปี
            </p>
            <h1 style="text-align: center;">การดูแล Emperor scorpion:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                แมงป่องจักรพรรดิเป็นสัตว์นักล่าและกินแมลงเป็นอาหารหลัก
                อาหารที่เหมาะสมสำหรับแมงป่องจักรพรรดิควรเป็นอาหารที่มีโปรตีนสูงและไขมันต่ำ อาหารสำหรับสัตว์เลี้ยงแมลง
                เช่น อาหารสำหรับแมลงสาบ ตั๊กแตน และจิ้งหรีด ก็เป็นตัวเลือกที่ดีสำหรับแมงป่องจักรพรรดิ
                นอกจากนี้ แมงป่องจักรพรรดิยังสามารถกินแมลงสด เช่น แมลงสาบ ตั๊กแตน และหอยทาก ได้ อย่างไรก็ตาม
                ควรเลือกแมลงสดที่สดใหม่และสะอาด และไม่ควรให้แมงป่องจักรพรรดิกินแมลงสดที่ตายแล้ว
                เพราะอาจส่งผลเสียต่อสุขภาพได้
                ปริมาณอาหารที่ควรให้แมงป่องจักรพรรดินั้นขึ้นอยู่กับอายุ น้ำหนัก และระดับกิจกรรมของแมงป่องจักรพรรดิ
                โดยปกติแล้ว แมงป่องจักรพรรดิควรได้รับอาหารวันละ 2-3 มื้อ
                ต่อไปนี้เป็นตัวอย่างอาหารที่ควรให้แมงป่องจักรพรรดิ:
                อาหารสำหรับสัตว์เลี้ยงแมลง เช่น อาหารสำหรับแมลงสาบ ตั๊กแตน และจิ้งหรีด
                แมลงสด เช่น แมลงสาบ ตั๊กแตน และหอยทาก
                อาหารเสริม เช่น แคลเซียม วิตามินและแร่ธาตุ</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                แมงป่องจักรพรรดิเป็นสัตว์ที่ค่อนข้างทนทาน แต่ต้องการสภาพแวดล้อมที่เหมาะสมในการเจริญเติบโตและอยู่รอด
                สถานที่ในการเลี้ยงแมงป่องจักรพรรดิควรมีคุณสมบัติดังต่อไปนี้
                มีอุณหภูมิที่เหมาะสม: แมงป่องจักรพรรดิชอบอุณหภูมิที่อบอุ่น โดยอุณหภูมิที่เหมาะสมคือประมาณ 25-30
                องศาเซลเซียส อุณหภูมิที่ต่ำเกินไปอาจทำให้แมงป่องจักรพรรดิอ่อนแอและป่วยได้
                มีความชื้นที่เหมาะสม: แมงป่องจักรพรรดิต้องการความชื้นระดับปานกลาง โดยความชื้นที่เหมาะสมคือประมาณ 50-60%
                ความชื้นที่ต่ำเกินไปอาจทำให้แมงป่องจักรพรรดิลอกคราบได้ยากและอาจทำให้ผิวหนังแห้งและแตกได้
                มีพื้นผิวที่เหมาะกับการปีนป่าย: แมงป่องจักรพรรดิเป็นสัตว์ที่ปีนป่ายเก่ง
                จึงควรมีพื้นผิวที่เหมาะกับการปีนป่าย เช่น ท่อ รากไม้ และก้อนหิน
                มีที่พักพิง: แมงป่องจักรพรรดิต้องการที่พักพิงเพื่อพักผ่อนและหลบซ่อน จึงควรมีที่พักพิงที่เหมาะสม เช่น
                เปลือกไม้ ท่อ หรือเศษไม้
                กรงเลี้ยงแมงป่องจักรพรรดิควรมีขนาดอย่างน้อย 20x20x20 นิ้ว กรงควรทำจากวัสดุที่แข็งแรง เช่น
                พลาสติกหรืออะคริลิก กรงควรมีช่องระบายอากาศที่ดี เพื่อให้อากาศถ่ายเทได้ดี</p><br>

        </div>
    </div>
</div>
{% endblock %}