{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_a' %}">Budgie</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_b' %}">Canary</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_c' %}">Crimson rosella</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_d' %}">Finch</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_bird_e' %}">Galah</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_f' %}">Lovebird</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_g' %}">Rainbow lorikeet</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_h' %}">Scarlet macaw</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_i' %}">Sun conure</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/galah.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Galah:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นก Galah เป็นนกแก้วขนาดใหญ่ที่มีถิ่นกำเนิดในออสเตรเลีย
                พวกมันมีขนสีส้มสดใสและหัวสีดำ พวกมันเป็นนกสังคมและมักพบเป็นฝูงขนาดใหญ่
                พวกมันเป็นนกที่ฉลาดและสามารถเรียนรู้พฤติกรรมต่างๆ ได้ง่าย
                พฤติกรรมทั่วไปของนก Galah เป็นนกสังคมและมักพบเป็นฝูงขนาดใหญ่ พวกมันสื่อสารกันโดยใช้เสียงร้องและภาษากาย
                พวกมันมักรวมตัวกันเป็นฝูงเพื่อหาอาหารหรือหาที่พักพิง
                นก Galah เป็นนกที่ฉลาดและสามารถเรียนรู้พฤติกรรมต่างๆ ได้ง่าย
                พวกมันสามารถเลียนแบบเสียงของมนุษย์และสัตว์อื่นๆ ได้ พวกมันยังสามารถเรียนรู้ที่จะทำตามคำสั่งง่ายๆ ได้
                นก Galah เป็นนกที่ชอบเล่น พวกมันชอบปีนต้นไม้และเล่นกับของเล่น
                พวกมันยังชอบเล่นน้ำและมักพบเห็นพวกมันอาบน้ำในบ่อน้ำหรือสระว่ายน้ำ

            </p>
            <h1 style="text-align: center;">การดูแล Galah:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การเลือกอาหารให้นก Galah
                มีความสำคัญอย่างยิ่งต่อสุขภาพและความเป็นอยู่ที่ดีของนก นก Galah
                เป็นนกแก้วขนาดใหญ่ที่มีความต้องการอาหารสูง อาหารของนก Galah ควรประกอบด้วยส่วนผสมต่อไปนี้:
                เมล็ดพืช: เมล็ดพืชเป็นอาหารหลักของนก Galah เมล็ดพืชที่เหมาะสำหรับนก Galah ได้แก่ เมล็ดทานตะวัน
                เมล็ดข้าวโพด เมล็ดข้าวฟ่าง เมล็ดลูกเดือย เมล็ดถั่วเขียว และเมล็ดฟักทอง
                ผักและผลไม้: ผักและผลไม้เป็นแหล่งวิตามินและแร่ธาตุที่สำคัญสำหรับนก Galah ผักและผลไม้ที่เหมาะสำหรับนก
                Galah ได้แก่ แครอท ผักกาดหอม แตงกวา แอปเปิ้ล ส้ม องุ่น และมะเขือเทศ
                อาหารเสริม: อาหารเสริมบางชนิดอาจจำเป็นสำหรับนก Galah
                โดยเฉพาะอย่างยิ่งหากนกไม่ได้รับสารอาหารที่จำเป็นจากอาหารทั่วไป อาหารเสริมที่อาจจำเป็นสำหรับนก Galah
                ได้แก่ วิตามินรวม แร่ธาตุรวม และกรดไขมันโอเมก้า 3อัตราส่วนที่เหมาะสมของอาหารสำหรับนก Galah คือ เมล็ดพืช
                60% ผักและผลไม้ 30% และอาหารเสริม 10% นอกจากอาหารแล้ว นก Galah ยังต้องการน้ำสะอาดอยู่เสมอ นก Galah
                ควรมีน้ำสะอาดให้ดื่มตลอดเวลา

            </p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถานที่ในการเลี้ยงนก Galah ที่เหมาะสมควรมีลักษณะดังนี้:
                กว้างขวางพอสำหรับนกGalah ในการปีนป่ายและเล่น นก Galah เป็นนกที่ฉลาดและชอบเล่น
                พวกมันต้องการพื้นที่ในการปีนป่ายและเล่น
                มีแสงสว่างเพียงพอ นก Galah ต้องการแสงสว่างเพียงพอเพื่อสุขภาพที่ดี
                มีอากาศถ่ายเทสะดวก นก Galah ต้องการอากาศถ่ายเทสะดวกเพื่อสุขภาพที่ดี
                มีอุณหภูมิที่เหมาะสม อุณหภูมิที่เหมาะสมสำหรับนก Galah คือ 20-25 องศาเซลเซียส
                กรงนก Galah ควรมีขนาดใหญ่พอสำหรับนก Galah ในการปีนป่ายและเล่น กรงควรมีความยาวอย่างน้อย 1.5 เมตร
                ความกว้างอย่างน้อย 1 เมตร และสูงอย่างน้อย 1 เมตร กรงควรมีของเล่นต่างๆ เช่น ไม้ปีน แท่งไม้ ชิงช้า
                กระดานลื่น เป็นต้น เพื่อให้นก Galah ได้ปีนป่ายและเล่น

            </p><br>

        </div>
    </div>
</div>
{% endblock %}