{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_a' %}">Budgie</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_b' %}">Canary</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_c' %}">Crimson rosella</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_bird_d' %}">Finch</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_e' %}">Galah</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_f' %}">Lovebird</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_g' %}">Rainbow lorikeet</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_h' %}">Scarlet macaw</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_i' %}">Sun conure</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/finch bird.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Finch:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นกฟินช์ (Finch) เป็นนกขนาดเล็กที่พบได้ทั่วโลก นกฟินช์มีหลากหลายสายพันธุ์
                แต่ละสายพันธุ์มีพฤติกรรมที่แตกต่างกันไป โดยทั่วไปแล้ว นกฟินช์เป็นนกที่ร่าเริง ชอบอยู่รวมกันเป็นฝูง
                และชอบร้องเพลง พฤติกรรมทั่วไปของนกฟินช์การหาอาหาร นกฟินช์เป็นนกกินเมล็ดพืชเป็นหลัก
                โดยนกฟินช์จะหาอาหารตามพื้นดิน ต้นไม้ หรือแหล่งน้ำการสืบพันธุ์ นกฟินช์เป็นนกที่ผสมพันธุ์ในช่วงฤดูใบไม้ผลิ
                ตัวผู้และตัวเมียจะสร้างรังร่วมกัน รังของนกฟินช์ทำจากวัสดุต่างๆ เช่น หญ้า ใบไม้ และขนนก
                ตัวเมียจะวางไข่ประมาณ 4-6 ฟอง ระยะเวลาฟักไข่ประมาณ 12-14 วัน เมื่อลูกนกฟักออกมาแล้ว
                ตัวผู้และตัวเมียจะช่วยกันเลี้ยงลูกนกจนกว่าลูกนกจะโตพอที่จะบินได้
            </p>
            <h1 style="text-align: center;">การดูแล Finch:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นกฟินช์เป็นนกกินเมล็ดพืชเป็นหลักในการเลือกอาหารให้นกฟินช์
                ควรเลือกอาหารที่มีส่วนผสมที่หลากหลาย
                เพื่อให้นกฟินช์ได้รับสารอาหารครบถ้วนปริมาณอาหารที่เหมาะสมสำหรับนกฟินช์ คือ ให้นกฟินช์กินอาหารได้หมดภายใน
                24 ชั่วโมง โดยควรให้อาหารวันละ 2 ครั้ง เช้าและเย็น
                ข้อควรระวังในการเลือกอาหารให้นกฟินช์ไม่ควรให้อาหารที่มีรสเค็มหรือหวานมากเกินไปไม่ควรให้อาหารที่มีไขมันสูงมากเกินไปไม่ควรให้อาหารที่มีเมล็ดพืชที่มีเปลือกแข็งมากเกินไป
                เนื่องจากอาจทำให้นกสำลักได้ไม่ควรให้อาหารที่มีสารพิษหรือสารเคมี
            </p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นกฟินซ์ แม้จะมีขนาดตัวที่เล็ก
                แต่ก็ต้องการพื้นที่ในการบินที่มีขนาดใหญ่และกว้าง เนื่องจากนกฟินซ์ ใช้เวลาทั้งหมดอยู่แต่ในกรง
                ดังนั้นควรเลือกกรงที่มีพื้นที่เยอะ สามารถให้นกฟินซ์ ได้มีพื้นที่บินได้ และยังส่งผลให้นกฟินซ์ มีความสุข
                ไม่เครียดอีกด้วย
                กรงสำหรับนกฟินซ์ แนะนำให้หากรงที่มีความยาวมากกว่าความสูง เพราะจะทำให้นกฟินซ์ มีพื้นที่บินได้เยอะ
                หรือใช้เป็นกรงขนาดใหญ่ เหมาะสำหรับเลี้ยงนกฟินซ์ ได้หลายตัว และควรเช็คความห่างของซี่กรง เนื่องจากนกฟินซ์
                เป็นนกที่มีขนาดเล็กอาจทำให้หัวติด หรือหลุดออกจากกรงไปได้

            </p><br>

        </div>
    </div>
</div>
{% endblock %}