{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_a' %}">Chinchilla</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_b' %}">Guinea pig</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_c' %}">Hamster</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_d' %}">Hedgehog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_e' %}">Prairie dog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_f' %}">Mini lop rabbit</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_small_g' %}">Sugar glider</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_h' %}">Japanese pond turtle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_i' %}">Pygmy marmoset</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/sugar glider.jpg' %}"><br>
            <h1 style="text-align: center;">การดูแล Sugar glider:</h1>
            <b style="color: #00aea5;">1. อุปนิสัย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เห็นน้องเป็นสัตว์เลี้ยงตัวจิ๋วแบบนี้ แต่จริง ๆ แล้ว ชูการ์ไกลเดอร์เป็นสัตว์ที่มีนิสัยขี้เล่นมาก ๆ ชอบมีปฏิสัมพันธ์กับผู้คนมาก ๆ เพราะน้องเป็นสัตว์สังคมชอบอยู่เกาะกันเป็นกลุ่ม โดยอุปนิสัยของน้องคือชอบปีนป่ายสิ่งต่าง ๆ เพื่อได้อยู่ที่สูง ซึ่งด้วยนิสัยลักษณะนี้ก็อาจทำคุณเจ้าของมีเจ็บตัวกันบ้างจากการข่วน แต่น้องก็ไม่ได้ตั้งใจนะ

                นอกจากนั้นชูการ์ไกลเดอร์ยังเป็นสัตว์ที่มีสุขภาพดี สามารถดูแลตัวเองได้ น้องกระรอกบินชอบที่ปล่อยกลิ่นตามที่ต่าง ๆ เพื่อสร้างอาณาเขตของมัน ทำให้มันรู้สึกปลอดภัยและสร้างความเป็นเจ้าของต่อสิ่งนั้น ซึ่งเห็นตัวจิ๋ว ๆ แบบนี้ น้องสามารถมีอายุได้ถึง 12-14 ปีเลยทีเดียวเลยนะ      
            </p><br>
            <b style="color: #00aea5;">2.การเลือกกรง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เช่นเดียวกับสายพันธุ์ต่างถิ่นส่วนใหญ่ การเลี้ยงหรือการดูแลโดยรวมของชูการ์ไกลเดอร์มีความสำคัญต่อสัตว์เลี้ยงที่มีความสุขและมีสุขภาพดี การดูแลนี้เริ่มต้นด้วยที่อยู่อาศัยหรือกรงของชูการ์ไกลเดอร์ กรงควรสร้างด้วยลวดเคลือบกันสนิมซึ่งมีที่สำหรับให้ชูการ์ไกลเดอร์ปีนและคว้า ช่องเปิดในตาข่ายไม่ควรใหญ่กว่า ½-1 นิ้ว กรงควรมีขนาดอย่างน้อย 36×24×40 นิ้ว โดยมีความสูงเป็นปัจจัยที่สำคัญที่สุด

                ชูการ์ไกลเดอร์มาจากออสเตรเลียและนิวกินี ซึ่งการใช้ชีวิตส่วนใหญ่อยู่บนต้นไม้โดยร่อนจากต้นไม้หนึ่งไปอีกต้นหนึ่ง การจำลองสภาพแวดล้อมนี้ทำให้ชูการ์ไกลเดอร์อยู่ใกล้กับแหล่งที่อยู่อาศัยตามธรรมชาติมากที่สุด ผู้ที่ชื่นชอบชูการ์ไกลเดอร์ หลายคนมองว่ากรงนกค่อนข้างเหมาะสมกับที่อยู่อาศัยของชูการ์ไกลเดอร์ หลีกเลี่ยงกรงที่มีแถบแนวตั้งเพียงอย่างเดียวที่อาจทำให้เกิดการบาดเจ็บได้
                
                
            </p><br>
            <b style="color: #00aea5;">3. การอาบน้ำ </b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชูการ์ไกลเดอร์รักษาตัวเองให้สะอาดตามธรรมชาติ พวกเขาไม่ต้องการน้ำหรือแชมพูสระผม พวกมันไม่ต้องการอ่างเก็บฝุ่น เช่น ชินชิล่าหรือหนูแฮมสเตอร์ หากคุณรู้สึกว่าชูการ์ไกลเดอร์ของคุณต้องอาบน้ำ อาจใช้เพียงแค่ทิชชู่เปียกสำหรับสัตว์เล็กหรือเด็กในการเช็ดเบาๆจุดที่สกปรก

                ควรทำความสะอาดจานอาหารและน้ำทุกวัน ทำความสะอาดกรงสำหรับสิ่งสกปรกทุกวัน ทำความสะอาดกรงทั้งหมดทุก 2-4 สัปดาห์ ขึ้นอยู่กับว่าชูการ์ไกลเดอร์ของคุณสกปรกแค่ไหนและอยู่ในกรงมากแค่ไหน ไม่ควรทำความสะอาดกรงเมื่อเครื่องร่อนอยู่ภายใน เนื่องจากสารเคมีอาจระคายเคืองต่อตา จมูก และปอด 
            </p><br>
            <b style="color: #00aea5;">4. อาหาร</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในป่าอาหารของชูการ์ไกลเดอร์มีความหลากหลายมาก ชูการ์ไกลเดอร์เป็นสัตว์กินเนื้ออย่างแท้จริงและปรับการเลือกอาหารตามสภาพอากาศและฤดูกาล พวกมันจะกินละอองเกสร แมลง ตัวอ่อน แมงมุม ยางไม้ ดอกพืช และน้ำหวาน จะเห็นได้ว่า โดยปกติ ชูการ์ไกลเดอร์ กินอาหารหลากหลาย ดังนั้น ชูการ์ไกลเดอร์ ที่เลี้ยงในบ้านมักประสบปัญหาโภชนาการที่ไม่ดี

                ชูการ์ไกลเดอร์ที่ถูกเลี้ยงทั่วไปกินอาหารเม็ดสำเร็จรูปและอาหารเสริมที่มีขายตามท้องตลาด นอกจากนี้ควรได้รับผลไม้ ผัก และแมลง แมลงจะเต็มไปด้วยวิตามินและแร่ธาตุที่ส่งผลดีต่อชูการ์ไกลเดอร์
                
                ตรวจสอบให้แน่ใจว่าได้หมุนเวียนอาหารทุกประเภท ไม่ว่าจะเป็นแมลง ผลไม้ ผัก ระวังอย่าให้อาหารที่มีไขมัน อาหารหวานมาก เมล็ดพืช หรือแมลงมากเกินไป ชูการ์ไกลเดอร์อาจมองข้ามแหล่งอาหารอื่นๆ โดยเฉพาะเมื่อชูการ์ไกลเดอร์ชอบผลไม้รสหวานหรือแมลงที่ฉ่ำน้ำ และไม่สนใจอาหารที่มีสารอาหารสูง นี้สามารถนำไปสู่โรคอ้วนและความผิดปกติของการเผาผลาญ
            </p><br>
        </div>
    </div>
</div>
{% endblock %}