{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Maine Coon.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Maine Coon:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวเมนคูน ( Maine Coon ) นั้นแตกต่างจากแมวตัวอื่น ๆ ด้วยความโดดเด่นของขนที่หนาสลวย และบุคลิกที่เป็นมิตรอย่างเหลือเชื่อ ลูกแมวแสนสวยเหล่านี้ชอบที่จะเล่น แต่เมื่ออารมณ์ก็ชอบหาเวลาไปงีบหลับ บ่อยครั้งที่พวกเขาจะคลอเคลียกับคนโปรด โดยเฉพาะในช่วงที่อากาศหนาวเย็น!

                เมนคูน มักส่งเสียงเพอรร์อย่างอบอุ่น และมักจะดังพอที่จะได้ยินจากที่อยู่ห่างออกไป แต่เสียงร้องของน้องนั้นค่อนข้างเบาอย่างน่าประหลาดใจโดยเฉพาะสำหรับแมวตัวใหญ่ขนาดนี้ แต่น้ำเสียงของน้องนั้นครอบคลุมคำศัพท์ที่หลากหลาย เช่นเสียงร้องเจี๊ยก ๆ และเสียงร้องเหมียว ๆ ช่วยให้คุณเข้าใจสิ่งที่น้องแมวกำลังพูดได้อย่างชัดเจน
                
                นี่คือหนึ่งในสายพันธุ์แมวที่ตัวใหญ่ที่สุดในปัจจุบัน และเป็นหนึ่งในสายพันธุ์ที่ได้รับความนิยมมากที่สุดในโลก ในวัยลูกแมวมักจะรักผู้คนและเข้ากับสัตว์เลี้ยงตัวอื่นได้ดี เหมาะสำหรับครอบครัวเพราะแมวสายพันธุ์นี้มักจะเข้ากับเด็ก ๆ ได้ดี และเมื่อคุณได้รู้จักกับแมวเมนคูน คุณก็จะเข้าใจว่าทำไมแมวสายพันธุ์นี้ถึงได้รับฉายาว่ายักษ์ใหญ่ผู้อ่อนโยน
            </p>
            <h1 style="text-align: center;">การดูแล Maine Coon:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมนคูนโดยทั่วไปมีสุขภาพแข็งแรงมาก ความจริงแล้วแมวที่แก่ที่สุดในโลกคือเมนคูนชื่อ Rubble ซึ่งมีอายุครบ 31 ปีในปี 2020 ซึ่งเท่ากับอายุมนุษย์เกือบ 150 ปี!

                ทั้งนี้เมนคูนบางกลุ่มอาจประสบปัญหาสุขภาพ เช่น สะโพกเคลื่อนผิดปกติและกล้ามเนื้อหัวใจโตผิดปกติในแมว ทำให้ผู้เพาะพันธุ์จะต้องดูแลคัดกรองพ่อพันธุ์แม่พันธุ์ที่มีศักยภาพ เพื่อลดโอกาสที่ปัญหาเหล่านี้จะเกิดขึ้น
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมนคูนนั้นควรได้รับการกรูมมิ่งบ่อยๆ ขนชั้นในที่นุ่มดุจแพรไหมฃมีแนวโน้มที่จะกลายเป็นขนเนื้อหยาบด้านหากไม่ได้รับการดูแลที่ดี ดังนั้นอาจจำเป็นต้องแปรงขนทุกวัน โดยแมวของคุณจะประทับใจกับการแปรงขนเป็นประจำและมองว่าเป็นโอกาสเพิ่มเติมในการสร้างสายสัมพันธ์

                    เมนคูนได้รับประโยชน์จากการกรูมมิ่งบ่อยๆ ขนชั้นในที่นุ่มดุจแพรไหมของพวกมันมีแนวโน้มที่จะกลายเป็นด้านหากปล่อยไว้โดยไม่ดูแล ดังนั้นอาจจำเป็นต้องแปรงขนทุกวัน แมวของคุณจะประทับใจกับการแปรงขนเป็นประจำและมองว่าเป็นโอกาสเพิ่มเติมในการสร้างสายสัมพันธ์
                    
                    สอนแมวของคุณให้ยอมให้คุณแปรงฟัน สิ่งนี้สามารถลดค่าใช้จ่ายการทำฟันโดยมืออาชีพ และช่วยรักษาสุขภาพโดยรวมของสัตว์เลี้ยงของคุณ</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แม้ว่าเมนคูนจะขี้เล่น แต่น้อง ๆ ก็ชอบพักผ่อนด้วยเช่นกัน และหากไม่เคลื่อนไหวมากเกินไปอาจทำให้อ้วนได้เมื่อเวลาผ่านไป จึงควรกระตุ้นให้แมวของคุณเล่นบ้าง และถ้าเป็นไปได้ ลองสอนให้น้องออกไปเดินโดยใช้สายจูง ยิ่งแมวของคุณได้ทำกิจกรรมมากเท่าไหร่ สุขภาพก็จะยิ่งดีขึ้นในระยะยาวเท่านั้น</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมนคูนนั้นไม่ต้องการสารอาหารอะไรเป็นพิเศษ แต่อย่างไรก็ตามแมวตัวใหญ่เหล่านี้ต้องการอาหารที่มีโปรตีนสูง และต้องการพลังงานในแต่ละวันอาจสูงกว่าแมวตัวเล็กมาก เราขอแนะนำให้ให้อาหารสดแก่แมวเมนคูนของคุณหรือเลือกแบรนด์อาหารที่มีคุณภาพสูง มีปลาหรือเนื้อสัตว์จริงเป็นส่วนประกอบหลักอันดับหนึ่ง

                    เมื่อเมนคูนของคุณอายุมากขึ้น คุณอาจพบว่าจำเป็นต้องลดขนาดลงเล็กน้อย การให้อาหารที่เหมาะสมกับวัยเป็นหนึ่งในวิธีที่ดีที่สุดเพื่อให้แน่ใจว่าเพื่อนแมวของคุณมีสุขภาพที่ดีตลอดช่วงวัยทอง</p><br>
        </div>
    </div>
</div>
{% endblock %}