{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild"
                    href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Golden-retriever.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Golden-retriever:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แน่นอนว่าสำหรับเจ้าโกลเด้น รีทรีฟเวอร์ อุปนิสัยที่เห็นได้อย่างชัดเจนเลยคือความเป็นมิตร ขี้เล่น
                และเปิดเผย โกลเด้นยังเป็นสุนัขที่เฉลียวฉลาด แต่เพราะมาจากตระกูลรีทรีฟเวอร์ จึงเต็มเปี่ยมไปด้วยพลังงาน
                และต้องออกกำลังเพื่อปลดปล่อยมันออกมา โกลเด้นเป็นตัวเลือกที่เพอร์เฟกสำหรับครอบครัว
                คุณสามารถพาพวกเค้าออกเดินทางไปเที่ยวด้วยได้ทุกที่ แต่อาจมีปัญหาเกิดขึ้นหากปล่อยให้พวกเค้าอยู่ตามลำพัง
                เนื่องจากพวกเค้ารักเจ้าของมาก ต้องการอยู่ด้วยตลอดเวลา ต้องมีคนคอยเล่นและทำกิจกรรมเป็นเพื่อนเสมอ
                พวกเค้าชอบทำหน้าที่คาบหนังสือพิมพ์ในตอนเช้า และชอบวิ่งเล่นกับบรรดาเด็กตัวน้อย ด้วยนิสัยที่เป็นมิตร
                ทำให้สุนัขโกลเด้น รีทรีฟเวอร์ไม่เหมาะเป็นสุนัขเฝ้ายาม แต่หากได้รับการฝึกที่เหมาะสม
                พวกเค้าจะเข้ากับเพื่อนมะหมา แมวเหมียว และสัตว์เลี้ยงขนาดเล็กได้ดี
                รวมถึงสามารถเป็นสุนัขช่วยเหลือได้อย่างดีเยี่ยมอีกด้วย
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Golden-retriever:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์โกลเด้น รีทรีฟเวอร์มีสุขภาพโดยรวมแข็งแรงดี แต่มีแนวโน้มจะข้อสะโพกเสื่อม
                และมีโอกาสเป็นมะเร็งสูงกว่าสายพันธุ์อื่น รวมถึงอาจพบปัญหาเหล่านี้ ข้อศอกเสื่อม ภาวะต้อกระจก
                จอประสาทตาเสื่อม โรคไฮโปไทรอยด์ โรคภูมิแพ้ และภาวะท้องอืด
                ทั้งนี้ควรตรวจเช็กหูและแปรงฟันให้พวกเค้าเป็นประจำ เพื่อรักษาสุขภาพโดยรวม</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์โกลเด้น รีทรีฟเวอร์มีขนกันน้ำหนา 2 ชั้น
                โดยขนมักจะร่วงมากในช่วงฤดูใบไม้ผลิและฤดูใบไม้ร่วง เจ้าของโกลเด้น
                รีทรีฟเวอร์มักจะคุ้นชินกับขนที่ร่วงติดตามเฟอร์นิเจอร์ เสื้อผ้า หรือแม้กระทั่งบนเตียงนอน
                ทั้งนี้เจ้าของควรแปรงขนให้โกลเด้นทุกวัน เพื่อไม่ให้ขนเป็นสังกะตัง หรือพันกันเป็นก้อน
                การแปรงขนจะช่วยขจัดเส้นขนที่ตายแล้ว และช่วยให้ขนดูเงางาม สุนัขพันธุ์นี้ไม่ต้องอาบน้ำบ่อย
                เพียงแค่เดือนละครั้ง แต่หลังอาบน้ำเสร็จต้องเป่าขนให้แห้งก่อนเริ่มแปรงขน
                ทั้งนี้เพื่อสุขภาพช่องปากและฟันที่ดี เจ้าของควรแปรงฟันให้พวกเค้า 2 – 3 ครั้งต่อสัปดาห์
                การทำความสะอาดหูเป็นประจำก็สำคัญ เนื่องจากใบหูที่ห้อยพับลงมา ทำให้เชื้อแบคทีเรียและเชื้อราเติบโตได้ดี
                จนอาจเป็นสาเหตุของการติดเชื้อที่หูได้
            </p><br>
            <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากเป็นสุนัขที่พลังงานเยอะ บวกกับชอบเล่น ชอบทำกิจกรรมนอกบ้าน
                การออกกำลังกายจึงเป็นส่วนสำคัญในกิจวัตรประจำวันของพวกเค้า โดยโกลเด้นควรออกกำลังกายอย่างน้อยวันละ 1
                ชั่วโมง ระยะเวลาที่ว่ามานี้เจ้าของสามารถแบ่งออกเป็นช่วงสั้น ๆ ตลอดวันก็ได้ สุนัขพันธุ์โกลเด้น
                รีทรีฟเวอร์ชอบเล่นกีฬา วิ่งระยะยาว สนุกกับการว่ายน้ำ ปีนเขา
                และทำได้ดีในการออกกำลังกายเพื่อฝึกความคล่องตัว นอกจากกีฬาเหล่านี้แล้ว
                เจ้าของอาจหาเกมหรือกิจกรรมในร่มมาให้พวกเค้าทำควบคู่ไปด้วยก็ได้</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์นี้มีแนวโน้มจะอ้วนได้ง่าย ถ้าไม่ควบคุมปริมาณอาหารให้ดี สำหรับโกลเด้น
                รีทรีฟเวอร์อาหารที่ควรได้รับคืออาหารเม็ดประมาณ 1.5 ถ้วย จึงจะเพียงพอต่อความต้องการ
                และในหนึ่งวันควรแบ่งกินเป็นสองมื้อ
                ทั้งนี้เราขอแนะนำให้ปรึกษาสัตวแพทย์เพื่อค้นหาวิธีให้อาหารที่ดีที่สุดสำหรับพวกเค้า
                หนึ่งในพฤติกรรมที่เจ้าของไม่ควรทำเมื่อเลี้ยงโกลเด้น รีทรีฟเวอร์ คือการให้กินอาหารคน
                แต่หากจำเป็นต้องให้จริง ๆ ควรหลีกเลี่ยงการให้กระดูก และอาหารที่ไขมันสูง
                แล้วก็อย่าลืมเตรียมน้ำสะอาดให้พวกเค้ากันด้วยนะ
            </p><br>
            <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โกลเด้น รีทรีฟเวอร์เป็นสายพันธุ์ที่ฝึกได้ง่าย พวกเค้าชอบเป็นจุดสนใจ
                และพร้อมจะเอาใจเจ้าของด้วยการตั้งใจฝึกอย่างเต็มที่ การฝึกลูกสุนัขโกลเด้น รีทรีฟเวอร์ให้คุ้นเคยกับผู้คน
                และเรียนรู้ที่ทำกิจกรรมต่าง ๆ ตั้งแต่ช่วงอายุ 7 สัปดาห์ ถึง 4 เดือน
                จะช่วยให้พวกเค้าปรับตัวได้ดีเมื่อเข้าสู่ช่วงโตเต็มวัย</p><br>
        </div>
    </div>
</div>
{% endblock %}