{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_a' %}">Chinchilla</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_b' %}">Guinea pig</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_c' %}">Hamster</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_small_d' %}">Hedgehog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_e' %}">Prairie dog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_f' %}">Mini lop rabbit</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_g' %}">Sugar glider</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_h' %}">Japanese pond turtle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_i' %}">Pygmy marmoset</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/hedgehog.jpg' %}"><br>
            <h1 style="text-align: center;">การดูแล Hedgehog:</h1>
            <b style="color: #00aea5;">1. จัดหากรงที่อยู่อาศัยที่เหมาะสม</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เม่นต้องการที่อยู่อาศัยที่อบอุ่นและสะดวกสบายเพื่อเรียกว่าบ้าน กรงเม่นแคระควรมีขนาดอย่างน้อย 2 ฟุตคูณ 3 ฟุตเหมาะสำหรับเม่นตัวเดียว กรงควรมีที่หลบซ่อน ขวดน้ำ และถ้วยอาหาร เม่นแคระก็ต้องการที่ออกกำลังกายเช่นกัน ดังนั้นใส่ล้อไว้ในกรงด้วย คุณควรเตรียมเครื่องนอนที่ทำจากกระดาษ เช่น ขี้กบหรือแคร์เฟรช    
            </p><br>
            <b style="color: #00aea5;">2.การให้อาหาร</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เม่นเป็นสัตว์กินแมลง ซึ่งหมายความว่าพวกมันกินแมลงและหนอน คุณสามารถให้อาหารเม่นแคระที่มีจำหน่ายในท้องเม่นของคุณ ซึ่งหาซื้อได้ตามร้านขายสัตว์เลี้ยงส่วนใหญ่ หรือคุณจะให้อาหารพวกหนอนใยอาหาร จิ้งหรีด หรือแว็กซ์เวิร์มก็ได้ สิ่งสำคัญคือต้องจัดหาแหล่งแคลเซียม เช่น เปลือกไข่บดหรือกระดูกปลาหมึก หลีกเลี่ยงการให้อาหารผักและผลไม้เม่น เพราะพวกมันย่อยได้ไม่ดี
            </p><br>
            <b style="color: #00aea5;">3. ออกกำลังกาย </b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เม่นต้องการการออกกำลังกายเป็นประจำเพื่อรักษาสุขภาพและป้องกันโรคอ้วน การให้ล้อวิ่งติดกรงไว้ในกรงเป็นวิธีที่ดีในการเปิดโอกาสให้พวกมันได้วิ่งและเคลื่อนไหวร่างกาย คุณยังสามารถปล่อยเม่นออกจากกรงในบริเวณที่ปลอดภัยและปิดล้อมเพื่อเวลาเล่นเล็กน้อย </p><br>
            <b style="color: #00aea5;">4. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เม่นเป็นสัตว์ที่สะอาดและไม่ต้องการการกรูมมิ่งมากนัก อย่างไรก็ตาม คุณควรรักษาความสะอาดกรงของพวกมันและเปลี่ยนผ้าปูที่นอนเป็นประจำ คุณควรอาบน้ำให้เม่นทุก 4-6 สัปดาห์ คุณสามารถใช้แชมพูอ่อนๆ เช่น แชมพูเด็ก และอย่าลืมล้างเม่นให้สะอาด

                    อาบน้ำเม่นของคุณ เม่นแคระไม่จำเป็นต้องอาบน้ำบ่อย แต่จำเป็นต้องทำความสะอาดทุก 4-6 สัปดาห์ คุณสามารถใช้แชมพูอ่อนๆ เช่น แชมพูเด็ก และอย่าลืมล้างเม่นให้สะอาด สิ่งสำคัญคือต้องทำให้น้ำอุ่นแต่ไม่ร้อนจัด และระวังอย่าให้น้ำเข้าหน้าหรือหู
                    ตัดแต่งเล็บ เล็บของเม่นแคระสามารถเติบโตได้อย่างรวดเร็ว ดังนั้นจึงเป็นเรื่องสำคัญที่จะต้องเล็มมันอยู่เสมอ คุณสามารถใช้กรรไกรตัดเล็บสัตว์เลี้ยงหรือเดรเมลตัดเล็บเม่นของคุณ ตรวจสอบให้แน่ใจว่าได้เล็มเล็บเป็นประจำเพื่อป้องกันไม่ให้เล็บที่รกเกินไปทำให้รู้สึกไม่สบายหรือบาดเจ็บ
                    แปรงขนเม่นของคุณ เม่นแคระมีขนแหลมสั้นที่ไม่ต้องการการแปรงขนมากนัก อย่างไรก็ตาม เม่นบางตัวอาจมีขนที่ยาวกว่าซึ่งอาจต้องตัดแต่ง คุณสามารถใช้กรรไกรเล็มปลายปากกาให้มีความยาวพอประมาณได้
                    การทำความสะอาดตาและหู ควรตรวจดูตาและหูของเม่นแคระเป็นประจำเพื่อหาสัญญาณของการไหลออกหรือการสะสมตัว คุณสามารถทำความสะอาดดวงตาด้วยผ้าชุบน้ำหมาดๆ และเช็ดหูด้วยสำลีก้าน อ่อนโยนและหลีกเลี่ยงการกดเข้าไปในช่องหูมากเกินไป</p><br>
        </div>
    </div>
</div>
{% endblock %}