{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_small_a' %}">Chinchilla</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_b' %}">Guinea pig</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_c' %}">Hamster</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_d' %}">Hedgehog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_e' %}">Prairie dog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_f' %}">Mini lop rabbit</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_g' %}">Sugar glider</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_h' %}">Japanese pond turtle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_i' %}">Pygmy marmoset</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/chinchilla.jpg' %}"><br>
            <h1 style="text-align: center;">การดูแล Chinchilla:</h1>
            <b style="color: #00aea5;">1. การเลี้ยงดู</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากนิสัยตามธรรมชาติของชินชิลล่า เป็นสัตว์ที่กระตือรือร้น และชอบสำรวจ ดังนั้นผู้เลี้ยงจะต้องดูแลเอาใจใส่ควรพาเดินออกไปเล่นนอกกรง อย่างน้อยวันละครึ่งชั่วโมงเพื่อออกกำลังกายและลดความเครียด ตามปกติชินชิลล่าจะไม่ชอบความเปียกชื้น เนื่องจากการที่มันมีขนที่หนา แต่ชินชิลล่าจะมีสัญชาตญาณในการทำความสะอาดขนโดยกลิ้งไปมาบนทรายหรือฝุ่นหินภูเขาไฟ ซึ่งเรียกว่า Chinchilla dust โดยจะทำความสะอาดขนหลายครั้งใน 1 สัปดาห์ โดยการเอาฝุ่นอาบน้ำลงในขัน หรืออ่างขนาดพอตัวให้ลงคลุกด้วยตัวเอง จากนั้นประมาณ 10 นาทีให้เอาฝุ่นอาบน้ำออก</p><br>
                <b style="color: #00aea5;">2. การให้อาหาร</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชินชิลล่าเป็นสัตว์กินพืชเป็นหลัก มีระบบการทำงานและการย่อยอาหารที่ทางเดินอาหารส่วนท้ายเป็นหลัก เช่นเดียวกับกระต่าย มีระบบทางเดินอาหารที่เปราะบางมาก ไม่สามารถย่อยอาหารไขมันและอาหารหวานได้อย่างมีประสิทธิภาพ เนื่องจากไม่มีถุงน้ำดี ซึ่งทำหน้าที่ผลิตเอนไซม์ช่วยย่อยไขมัน ไขมันจึงสะสมในร่างกาย และทำให้ตับถูกทำลายได้ ดังนั้นจึงควรระวังอาหารที่มีรสหวาน เช่น แอปเปิ้ล องุ่น หรือลูกเกด และอาหารที่มีไขมันสูง เช่น เมล็ดถั่ว เมล็ดทานตะวัน

                    ควรให้อาหารเวลาเดียวกันทุกวัน ส่วนใหญ่นิยมกินอาหารในช่วงเย็น เนื่องจากเป็นช่วงเวลาที่ชินชิลล่าทำกิจกรรมเยอะที่สุด  ควรจำกัดอาหารเม็ด ไม่ให้เกินกว่าวันละ 1-2 ช้อนชาต่อตัว หญ้าแห้งที่มีคุณภาพสูงที่ยอมรับได้แก่ หญ้าทิโมธี อาจให้ลูกเกดหรือมะละกอแห้งชิ้นเล็กๆ เป็นอาหารได้แต่ไม่ควรมากกเกินไป เพราะอาจทำให้ท้องเสีย ไม่ควรให้ผักสดเพราะอาจจะทำให้ชินชิลล่าท้องอืดและตายได้
                    
                    การเปลี่ยนอาหารต้องค่อยๆเปลี่ยน ต้องใช้เวลาหลายๆวัน ไม่ควรทำการเปลี่ยนทันที การเปลี่ยนอาหารจะมีผลต่อ ความเป็นกรดด่าง และจุลชีพในทางเดินอาหาร อาจทำให้ชินชิลล่ามีปัญหาเรื่องท้องเสีย ในแต่ละวันผู้เลี้ยงจะต้องคอยสังเกตข้อมูลเพื่อหาความผิดปกติของชินชิลล่า</p><br>
                <b style="color: #00aea5;">3. สถานที่เลี้ยง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ห้องที่เลี้ยงต้องไม่โดนแสงตรงๆ อากาสถ่ายเทได้สะดวก บนบ้านควรมีฉนวนกันความร้อน หรือไว้ชั้นล่างก็อากาศจะเย็นกว่า ภายในห้องนอนไม่ควรมีเฟอร์นิเจอร์ที่มีรูเยอะๆ เพราะลูกชินชิลล่าจะมุดเข้าไปแล้วออกมายากมาก</p><br>
                <b style="color: #00aea5;">4. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ควรให้ออกมาวิ่งนอกกรง วันละประมาณสองชั่วโมง เพื่อที่จะได้ร่างกายแข็งแรง</p><br>
        </div>
    </div>
</div>
{% endblock %}