{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Ball python.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Ball python:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                งูหลามบอล (Ball python) เป็นงูที่มีนิสัยไม่ดุร้าย
                พวกมันมักจะขดตัวกลมเหมือนลูกบอลเมื่อรู้สึกถูกคุกคามหรือตกใจ จึงเป็นที่มาของชื่อ Ball python
                งูหลามบอลเป็นงูที่ออกหากินในเวลากลางคืน พวกมันล่าเหยื่อจำพวกหนูและสัตว์ฟันแทะขนาดเล็ก
                งูหลามบอลเป็นสัตว์ที่ฉลาดและสามารถเรียนรู้คำสั่งต่างๆ ได้ พวกมันสามารถฝึกให้เชื่องได้ตั้งแต่อายุยังน้อย
                ต่อไปนี้เป็นพฤติกรรมบางอย่างของงูหลามบอล:
                การขดตัวกลม: งูหลามบอลจะขดตัวกลมเมื่อรู้สึกถูกคุกคามหรือตกใจ เพื่อเป็นการปกป้องตัวเองจากศัตรู
                การล่าเหยื่อ: งูหลามบอลจะล่าเหยื่อด้วยการซุ่มโจมตี
                พวกมันจะใช้ความร้อนที่แผ่ออกมาจากร่างกายของเหยื่อเพื่อค้นหาเหยื่อ
                การกินอาหาร: งูหลามบอลจะกินอาหารครั้งละประมาณ 1-2 สัปดาห์ พวกมันจะกินเหยื่อทั้งตัวโดยไม่เคี้ยว
                การลอกคราบ: งูหลามบอลจะลอกคราบประมาณเดือนละครั้ง พวกมันจะลอกคราบเพื่อขยายขนาดตัว
                การผสมพันธุ์: งูหลามบอลจะผสมพันธุ์ในช่วงฤดูใบไม้ผลิหรือฤดูร้อน
                ตัวผู้จะผสมพันธุ์กับตัวเมียโดยการขดตัวรอบตัวเมีย
            </p>
            <h1 style="text-align: center;">การดูแล Ball python:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อาหารหลักของงูหลามบอลคือหนู
                หนูเป็นอาหารที่มีสารอาหารครบถ้วนและเหมาะสมกับความต้องการของงูหลามบอล
                งูหลามบอลสามารถกินหนูได้ทั้งตัวโดยไม่เคี้ยว
                ขนาดของหนูที่เหมาะสมสำหรับงูหลามบอลจะขึ้นอยู่กับขนาดของงู งูหลามบอลวัยเด็กควรกินหนูไมค์ (Mice)
                งูหลามบอลวัยโตควรกินหนูแรท (Rats)
                วิธีการเตรียมอาหารให้งูหลามบอล:
                หนูสด: หนูสดเป็นอาหารที่ดีที่สุดสำหรับงูหลามบอล
                หนูสดมีสารอาหารครบถ้วนและเหมาะสมกับความต้องการของงูหลามบอล หนูสดควรมีสุขภาพดีและปราศจากโรค
                หนูแช่แข็ง: หนูแช่แข็งเป็นทางเลือกที่ดีสำหรับงูหลามบอลที่ไม่สามารถหาหนูสดได้
                หนูแช่แข็งควรอุ่นให้อุณหภูมิใกล้เคียงกับอุณหภูมิของร่างกายงูก่อนให้กิน
                การให้อาหารงูหลามบอล:
                การให้อาหาร: งูหลามบอลจะกินอาหารครั้งละประมาณ 1-2 สัปดาห์
                งูหลามบอลวัยเด็กควรกินอาหารบ่อยกว่างูหลามบอลวัยโต
                ปริมาณอาหาร: ปริมาณอาหารที่เหมาะสมสำหรับงูหลามบอลจะขึ้นอยู่กับขนาดของงู
                งูหลามบอลวัยเด็กควรกินหนูไมค์ขนาดประมาณ 1/4 ของความยาวลำตัว งูหลามบอลวัยโตควรกินหนูแรทขนาดประมาณ 1/2
                ของความยาวลำตัว</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                งูหลามบอลเป็นสัตว์ที่เลี้ยงง่ายและสามารถปรับตัวให้เข้ากับสภาพแวดล้อมได้หลากหลาย
                แต่สถานที่เลี้ยงงูหลามบอลที่เหมาะสมควรมีลักษณะดังนี้:
                มีขนาดเหมาะสม งูหลามบอลต้องการพื้นที่เพียงพอสำหรับการเคลื่อนไหว
                งูหลามบอลตัวโตควรมีตู้เลี้ยงขนาดอย่างน้อย 48 x 24 x 12 นิ้ว
                มีอุณหภูมิและความชื้นที่เหมาะสม งูหลามบอลเป็นสัตว์ที่อาศัยในเขตร้อนชื้น
                อุณหภูมิที่เหมาะสมสำหรับงูหลามบอลคือ 75-85 องศาฟาเรนไฮต์ ความชื้นที่เหมาะสมสำหรับงูหลามบอลคือ 50-70%
                มีวัสดุรองพื้นที่เหมาะสม งูหลามบอลชอบขุดดิน
                วัสดุรองพื้นที่เหมาะสมสำหรับงูหลามบอลคือวัสดุที่ไม่เป็นอันตรายและสามารถดูดซับความชื้นได้ เช่น
                ดินผสมพีทมอส เปลือกไม้ กระดาษหนังสือพิมพ์
                มีที่หลบซ่อน งูหลามบอลเป็นสัตว์ที่ขี้อาย พวกมันต้องการที่หลบซ่อนเพื่อความปลอดภัย
                ที่หลบซ่อนที่เหมาะสมสำหรับงูหลามบอลคือกล่องหรือถ้ำ
                มีแหล่งน้ำสะอาด งูหลามบอลต้องการน้ำสะอาดเพื่อดื่มและอาบน้ำ
                นอกจากนี้ สถานที่เลี้ยงงูหลามบอลควรอยู่ห่างจากแหล่งความร้อนและแสงสว่างโดยตรง
                เพื่อความปลอดภัยของงูหลามบอล</p><br>

        </div>
    </div>
</div>
{% endblock %}