{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/ragdoll.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ ragdoll:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แม้ว่าลูกแมวบางตัวจะไม่ชอบการถูกอุ้ม แต่สำหรับ แมวแร็กดอล ( Ragdoll ) นั้นเหมือนว่าจะมีชีวิตอยู่เพื่อถูกกอด ในขณะที่แมวบางสายพันธุ์นั้นชอบอยู่คนเดียว ผิดกับ แร็กดอล ที่กระตือรือร้นที่จะแสวงหาการอยู่ใกล้ชิดกับคนที่พวกเขาชื่นชอบ โดยจะติดตามเจ้าของจากห้องหนึ่งไปยังอีกห้องหนึ่ง นอกจากนี้แมวสายพันธุ์นี้ไม่ได้มีนิสัยสอดรู้สอดเห็นเป็นพิเศษ แต่ชอบที่จะมีส่วนร่วมในชีวิตประจำวัน โดยมักจะสังเกตกิจกรรมต่างๆ ด้วยสีหน้าน่ารักอย่างมีความสุขและสับสน

                หากคุณกังวลว่าน้องแมวแร็กดอลจะทำลายข้าวของที่บ้านจนพังเพราะ เป็นแมวที่กระตือรือร้นแล้วล่ะก็ คุณสามารถคลายความกลัวของคุณได้ เพราะลูกแมวที่น่ารักเหล่านี้ชอบอยู่ในที่ที่คุณอยู่ บางทีอาจดูทีวีรายการโปรดบนโซฟา มากกว่าที่จะทำลายข้าวของคุณ นอกจากนั้นแล้วส่วนใหญ่น้องแมวมักจะส่งเสียงเพอร์ (Purr) มากกว่า และลูกแมวสายพันธุ์นี้เป็นหนึ่งในสายพันธุ์แมวไม่กี่สายพันธุ์ที่ชอบน้ำ ดังนั้นน้องแมวจึงมักจะตามคุณไปอาบน้ำหรือนั่งบนขอบอ่างอาบน้ำ ซึ่งพวกมันจะคอยเป็นเพื่อนคุณและอาจจะทำให้อุ้งเท้าเปียกด้วย
                
                มิตรภาพอันแน่วแน่ไม่ใช่สิ่งเดียวที่คุณจะได้รับจากแร็กดอล ลูกแมวแสนสวยเหล่านี้มีชีวิตอยู่เพื่อทำให้เรามีความสุข โดยมักจะแสดงพฤติกรรมน่ารักซ้ำๆ เพื่อให้เราได้รับแรงเชิงบวก เราจึงสามารถสอนพฤติกรรมบางอย่างแก่แมวแร็กดอลได้
                
                หากคุณเป็นคนที่ชอบทั้งแมวและสุนัขแต่สามารถเลี้ยงได้เพียงตัวเดียว แร็กดอล อาจเป็นตัวเลือกที่เหมาะสม เพราะแมวสายพันธุ์นี้มีชื่อเสียงในด้านการแสดงพฤติกรรมเหมือนสุนัข ในกรณีที่คุณต้องการพาสุนัขออกไปเดินเล่น เจ้าแร็กดอล เองก็สามารถเรียนรู้ที่จะเดินโดยใช้สายจูงได้อย่างง่ายดาย และจะติดตามคุณไปในละแวกบ้านอย่างมีความสุข!
                
                นอกจากนี้แร็กดอลนั้นก็สามารถเข้ากันได้ดีกับสุนัข รวมไปถึงเข้ากันได้ดีกับแมวตัวอื่นๆ และพวกมันสามารถผูกมิตรกับทุกคนในครอบครัวได้ รวมถึงเด็กเล็กด้วย
            </p>
            <h1 style="text-align: center;">การดูแล ragdoll:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แร็กดอล มีแนวโน้มที่จะมีสุขภาพที่ดีและมีอายุขัยเฉลี่ย 12 ถึง 15 ปี อย่างไรก็ตาม พวกเขามีแนวโน้มที่จะมียีนที่โน้มเอียงไปสู่ โรคกล้ามเนื้อหัวใจหนาผิดปกติ (hypertrophic cardiomyopathy: HCM)และยังมีความเสี่ยงต่อ โรคถุงน้ำในไต polycystic kidney disease (PKD) รวมไปถึง นิ่วในกระเพาะปัสสาวะและโรคอ้วน
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจาก แร็กดอล มีขนสองชั้นที่ฟูฟ่อง การดูแลขนเป็นประจำจึงเป็นเรื่องที่จำเป็น ลูกแมวสายพันธุ์นี้ชื่นชอบการแปรงขนทุกวันเป็นอย่างมาก ไม่เพียงเพราะช่วยป้องกันไม่ให้เกิดก้อนขน และป้องกันไม่ให้ขนหลุดร่วงมากเกินไปอีกด้วย และยังเป็นการเพิ่มโอกาสให้ได้สานสัมพันธ์กับเจ้านายคนโปรดอีกด้วย

                    คุณจะต้องสอนลูกแมวให้ยอมรับการแปรงฟันตั้งแต่อายุยังน้อย และคุณอาจต้องตัดเล็บของแมวเสมอ แม้ว่าลูกแมวเหล่านี้จะไม่ชอบก็ตาม</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แร็กดอลนั้นชอบงีบหลับและพักผ่อน แต่พวกมันก็มีนิสัยขี้เล่นเหมือนกัน ลูกแมวเหล่านี้ชื่นชอบเสาลับเล็บและของเล่น และพวกมันชอบที่จะเข้าไปในคอนโดแมวที่ช่วยให้พวกมันมองเห็นสิ่งที่คุณกำลังทำจากมุมสูงได้ดี

                    ลูกแมวเหล่านี้จะมีพฤติกรรมเหมือนลูกแมวจนกว่าจะโตเต็มที่ในช่วงอายุระหว่าง 2 ถึง 4 ปี หลังจากนั้น อาจขึ้นอยู่กับคุณที่จะเริ่มเล่นและส่งเสริมให้แมวแรกดอลของคุณออกกำลังกายซึ่งจำเป็นต่อสุขภาพที่ดีและอายุที่ยืนยาว</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แร็กดอลไม่มีความต้องการทางโภชนาการเป็นพิเศษ แต่ก็ควรให้ความสำคัญกับคุณภาพอาหารด้วย เนื่องจากลูกแมวเหล่านี้ใช้พลังงานค่อนข้างต่ำและอาจมีน้ำหนักเพิ่มขึ้นเร็วเกินไป ควรเลือกอาหารที่มีโปรตีนสูงและคาร์โบไฮเดรตต่ำ มีเนื้อสัตว์หรือปลาเป็นส่วนประกอบหลัก</p><br>
        </div>
    </div>
</div>
{% endblock %}