{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_a' %}">Chinchilla</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_b' %}">Guinea pig</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_small_c' %}">Hamster</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_d' %}">Hedgehog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_e' %}">Prairie dog</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_f' %}">Mini lop rabbit</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_g' %}">Sugar glider</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_h' %}">Japanese pond turtle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_small_i' %}">Pygmy marmoset</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/hamster.jpg' %}"><br>
            <h1 style="text-align: center;">การดูแล Hamster:</h1>
            <b style="color: #00aea5;">1. วิธีเลือกซื้อกรง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เมื่อมีแฮมสเตอร์แล้วแน่นอนว่าต้องมีกรงด้วย ซึ่งการเลือกกรงให้เหมาะสมกับแฮมสเตอร์ก็ไม่ใช่เรื่องยาก เพราะเคล็ดลับอยู่ที่การเลือกพื้นที่ภายในกรงให้พอดีกับความต้องการของแฮมสเตอร์ ไม่ใหญ่หรือเล็กเกินไปเท่านั้นเอง และหากต้องการให้แน่ใจว่า แฮมสเตอร์จะไม่หลุดออกจากกรงจริง ๆ ควรเลือกใช้กรงแบบตู้กระจก ซึ่งเป็นกรงที่เหมาะกับทุกสายพันธุ์ด้วย 

                ซึ่งกรงแบบตู้กระจกที่ดีควรมีความยาวอย่างน้อย 3 ฟุต เพื่อให้มีพื้นที่เพียงพอสำหรับวิ่งเล่น วางอาหาร น้ำ ของเล่น ล้อออกกำลังกาย และตาข่ายสำหรับฝึกทักษะในการวิ่งหนีจากศัตรู ส่วนที่วางกรงของแฮมสเตอร์ก็ควรจะอยู่ในบริเวณที่เงียบสงบ ปราศจากสัตว์เลี้ยงตัวอื่น อย่างเช่น สุนัข กับแมว รวมไปถึงอื่น ๆ ที่อาจเพิ่มความเครียดให้กับแฮมสเตอร์ได้
      
                สำหรับคนที่ต้องการใช้กรงแบบทั่วไป ควรตรวจเช็กส่วนต่าง ๆ ของกรงให้ดีว่า ทุกจุดปิดสนิทไม่มีส่วนใดชำรุด หลวม หรือแฮมสเตอร์สามารถถอดออกเองได้ส่วนซี่กรงก็ควรห่างไม่เกิน 1 เซนติเมตร เพื่อป้องกันไม่ให้หนูแฮมสเตอร์หนีออกมา </p><br>
                <b style="color: #00aea5;">2.การให้น้ำและอาหาร</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับการให้น้ำควรมีเครื่องให้น้ำสำหรับแฮมสเตอร์โดยเฉพาะ เพราะแฮมสเตอร์เป็นสัตว์ที่กินน้ำไม่มากในแต่ละครั้ง ส่วนการให้น้ำเป็นถ้วยก็อาจทำให้แฮมสเตอร์สำลักน้ำได้ ที่สำคัญควรเปลี่ยนน้ำทุกวัน หรือไว้นานสุดไม่เกิน 3 วัน

                    ในเรื่องของอาหารก็ไม่ควรให้เป็นถ้วยเช่นกัน เพราะจะทำให้แฮมเตอร์มีน้ำหนักมากเกินไป ในขณะเดียวกันก็จะสนใจกิจกรรมต่าง ๆ น้อยลง ดังนั้นหากเป็นไปได้ควรโรยอาหารเอาไว้ให้ทั่วกรง เพื่อเป็นการกระตุ้นไปในตัว ที่สำคัญคือ ควรให้อาหารเสริม 2-3 ครั้งต่อสัปดาห์ อย่างเช่น แครอท แตงกวา แอปเปิล และมะเขือเทศ เป็นต้น และไม่ให้กินอาหารของคน
          </p><br>
                <b style="color: #00aea5;">3. การรักษาความสะอาดกรง </b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การทำความสะอาดกรงแค่ล้างออกด้วยน้ำสะอาดก็เพียงพอแล้ว เพราะการใช้น้ำสบู่หรือน้ำยาทำความสะอาดอาจมีสารเคมีตกค้าง และก่อให้เกิดอันตรายได้เมื่อแฮมสเตอร์เลียหรือกัดกรง ส่วนที่นอนที่ใช้แล้วก็ไม่ควรนำกลับมาใช้อีก หากใช้ผ้าก็ควรนำผืนใหม่มาปูเป็นที่นอน โดยกรงทั่วไปปูแค่ 3 ชั้นก็ได้ แต่สำหรับตู้กระจกควรปูพื้นให้หนาประมาณ 4-5 ชั้น พร้อมทั้งหลีกเลี่ยงการใช้เศษไม้มารองพื้น เนื่องจากเศษไม้มีน้ำมันและสารเคมีที่เป็นอันตรายกับหนูแฮมสเตอร์มากมาย </p><br>
                <b style="color: #00aea5;">4. พื้นที่สำหรับวิ่งเล่น</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สิ่งสำคัญสำหรับการเตรียมพื้นที่ด้านนอกให้แฮมสเตอร์วิ่งเล่นเลยก็คือ บริเวณนั้นจะต้องสะอาด ไม่มีสิ่งของที่เป็นอันตรายกับแฮมสเตอร์ หรือทางออกให้วิ่งหนีได้ หากเป็นไปได้ควรเตรียม 2-3 ที่เอาไว้ให้กับแฮมสเตอร์ ก็จะทำให้แฮมสเตอร์รู้สึกตื่นตัว มีความสนใจสิ่งรอบข้าง และมีความสุขมากกว่า

                    ส่วนในกรณีที่สัตว์เลี้ยงตัวอื่นอยู่ในบ้านด้วย ไม่ควรให้สัตว์เลี้ยงเหล่านั้นเข้าใกล้หรือเจอกับแฮมสเตอร์ กรง สิ่งของอื่น ๆ และบริเวณที่เป็นที่วิ่งเล่นของแฮมสเตอร์ เพราะไม่เช่นนั้นจะทำให้แฮมสเตอร์รู้สึกเครียด และนำไปสู่การเจ็บป่วยได้</p><br>
        </div>
    </div>
</div>
{% endblock %}