{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Alpaca.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Alpaca:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อัลปากาจะอ่อนโยน ขี้อาย และฉลาด เรียนรู้ได้ ซึ่งสามารถสอนหรือฝึกน้องได้นะ
                น้องยังชอบการอยู่เป็นกลุ่มกับเพื่อนๆ เพราะน้องไม่สามารถปกป้องตัวเองจากอันตรายต่างๆ ได้
                และจะไม่ถ่มน้ำลายจนกว่าจะโกรธหรือกลัวมากจริงๆ ในขณะที่ลามะจะเป็นสัตว์ที่กล้า มั่นใจ ไม่ค่อยกลัวอะไร
                น้องสามารถปกป้องดูแลตัวเองได้เลยชอบอยู่อย่างอิสระ แต่เมื่อถูกคุกคาม น้องก็จะถ่มน้ำลายอยู่บ่อยๆ
            </p>
            <h1 style="text-align: center;">การดูแล Alpaca:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อัลปากาเป็นสัตว์กินพืชเป็นอาหาร พวกมันกินหญ้า ใบไม้ และพืชอื่นๆ
                พวกมันสามารถกินหญ้าได้วันละประมาณ 20 ปอนด์ อัลปากามีกระเพาะอาหารสี่ห้องที่ช่วยในการย่อยอาหาร
                อาหารหลักของอัลปากาคือหญ้า หญ้าสดเป็นอาหารที่ดีที่สุดสำหรับอัลปากา
                หญ้าสดมีสารอาหารที่จำเป็นต่อสุขภาพของอัลปากา อัลปากาสามารถกินหญ้าแห้งได้เช่นกัน
                แต่หญ้าแห้งควรมีคุณภาพดีและสะอาด
                นอกจากหญ้าแล้ว อัลปากายังสามารถกินใบไม้และพืชอื่นๆ ได้อีกด้วย ใบไม้และพืชอื่นๆ
                สามารถเป็นแหล่งสารอาหารที่ดีสำหรับอัลปากา เช่น แคโรทีน วิตามิน และเกลือแร่
                อัลปากาสามารถกินอาหารเม็ดได้เช่นกัน แต่อาหารเม็ดควรเป็นอาหารเม็ดที่ออกแบบมาสำหรับอัลปากาโดยเฉพาะ
                อาหารเม็ดควรมีสารอาหารครบถ้วนและเหมาะสมกับความต้องการทางโภชนาการของอัลปากา
                ปริมาณอาหารที่เหมาะสมสำหรับอัลปากาจะขึ้นอยู่กับอายุ น้ำหนัก และกิจกรรมของอัลปากา
                อัลปากาตัวเต็มวัยควรกินอาหารประมาณ 1.5-2 เปอร์เซ็นต์ของน้ำหนักตัวต่อวัน</p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อัลปากาเป็นสัตว์ที่แข็งแรงและทนทาน
                พวกมันสามารถทนต่อสภาพอากาศที่หนาวเย็นและแห้งแล้งได้ อัลปากาสามารถอาศัยอยู่ได้ในทุกสภาพภูมิอากาศ
                แต่พวกมันจะเจริญเติบโตได้ดีที่สุดในสภาพอากาศที่อบอุ่นและชื้น

                สถานที่ที่เหมาะสมในการเลี้ยงอัลปากาควรมีลักษณะดังนี้:

                มีพื้นที่กว้างขวางเพียงพอ อัลปากาเป็นสัตว์ที่ชอบอยู่รวมกันเป็นฝูง
                พวกมันต้องการพื้นที่กว้างขวางเพียงพอสำหรับเดินเล่นและวิ่งเล่น
                มีร่มเงา อัลปากาสามารถทนต่อสภาพอากาศที่ร้อนได้ แต่พวกมันต้องการร่มเงาเพื่อหลบแดดในยามที่อากาศร้อนจัด
                มีแหล่งน้ำสะอาด อัลปากาต้องการน้ำสะอาดเพื่อดื่มและอาบน้ำ
                นอกจากนี้ สถานที่เลี้ยงอัลปากาควรอยู่ห่างจากถนนและแหล่งมลพิษอื่นๆ เพื่อความปลอดภัยของอัลปากา</p><br>

        </div>
    </div>
</div>
{% endblock %}