{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/british shorthair.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ British shorthair:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวบริติชช็อตแฮร์ ( British Shorthair ) เคยเป็นที่รู้จักในชื่อ British Blue และเป็นพันธุ์เฉพาะ ที่มีสีเทาอมฟ้า แต่ปัจจุบัน บริติชช็อตแฮร์ 
                นั้นมีหลายสีสัน แต่ยังคงไว้ซึ่งความอ้วนกลม ตามแบบฉบับดั้งเดิม ที่สำคัญคือพวกเขาเป็นแมวที่ค่อนข้างอารมณ์ดี แต่ก็รักสันโดด เราสามารถพูดได้ว่า บริติชช็อตแฮร์ ในปัจจุบันคือ ทายาทของ 
                บริติชช็อตแฮร์ ที่ได้รับการปรับแต่งสายพันธุ์ไปตามกาล เวลาเพื่อให้ได้รูปลักษณ์ที่โดดเด่น และลักษณะนิสัยที่ต้องการ บริติชช็อตแฮร์ นั้นรัก และชอบอยู่ใกล้ชิดครอบครัว 
                แต่พวกน้องไม่ชอบให้กอดเท่าไร ส่วนใหญ่น้อง ๆ นั้นจะชอบนอนข้าง ๆ คุณมากกว่าการนั่งบนตักของคุณ และไม่ค่อยจะส่งเสียงร้องสักเท่าไร โดยรวมแล้ว บริติชช็อตแฮร์ 
                เป็นสัตว์เลี้ยงที่ดีสำหรับครอบครัว ที่รับได้กับนิสัยที่ไม่ชอบให้จับ หรืออุ้มของน้อง ๆได้ แต่อาจไม่เหมาะสำหรับครอบครัวที่มีเด็กเล็กที่ยังไม่สามารถเข้าใจนิสัยของ บริติชช็อตแฮร์
            </p>
            <h1 style="text-align: center;">การดูแล British shorthair:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บริติชช็อตแฮร์ เป็นแมวที่แข็งแรง และมีสุขภาพที่ดีเยี่ยม มีความผิดปกติทางพันธุกรรม 2 ประการ
                ที่อาจส่งผลต่อ บริติชช็อตแฮร์ โชคดีที่ผู้เพาะพันธุ์สามารถตรวจหาทั้งสองอย่างได้ และลดโอกาสที่จะเกิดลูกแมวที่มีความผิดปกติเหล่านี้ได้อย่างมาก หากคุณกำลังพิจารณาเลี้ยงแมวบริติชช็อตแฮร์ 
                ให้ตรวจสอบเพื่อให้แน่ใจว่า ผู้เพาะพันธุ์ได้ทดสอบพ่อแม่พันธุ์เพื่อหา โรคฮีโมฟีเลียบี และโรคกล้ามเนื้อหัวใจขาดเลือด แม้ว่าจะเป็นไปไม่ได้ที่จะรับประกันว่าแมว จะไม่พัฒนาภาวะขอโรค 
                แต่การคัดกรองพ่อแม่ที่มีศักยภาพ และไม่เพาะพันธุ์แมวที่มีสัญญาณของความผิดปกติ จะช่วยลดความเสี่ยงในลูกหลานได้อย่างมาก
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แม้ว่าสายพันธุ์นี้จะมีลักษณะขนสั้น แต่ก็มีแนวโน้มที่จะผลัดขน การแปรงขนแมว 2-3 ครั้งต่อสัปดาห์ 
                    จะช่วยป้องกันไม่ให้ขนสะสมบนโซฟา แถมยังช่วยลดโอกาสการเกิดก้อนขนอีกด้วย คุณสามารถช่วยให้แมวของคุณแข็งแรงได้ ด้วยการแปรงฟันเป็นประจำ การตัดแต่งเล็บเป็นประจำ 
                    สามารถช่วยป้องกันความเสียหายของเฟอร์นิเจอร์ได้</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บริติชช็อตแฮร์ มีความขี้เล่น โดยเฉพาะในช่วงวัยรุ่น เมื่อลูกแมวสายพันธุ์นี้โตขึ้น 
                    คุณอาจต้องกระตุ้นการเล่น ด้วยของเล่นแบบโต้ตอบ เช่น ไม้ตกแมว และแสงเลเซอร์ ของเล่นที่ใช้แบตเตอรี่สามารถกระตุ้นกิจกรรมได้มากขึ้นเช่นกัน</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บริติชช็อตแฮร์ ไม่ต้องการสารอาหารพิเศษ อย่างไรก็ตามพวกเขามีแนวโน้มที่จะเป็นโรคอ้วนเมื่ออายุมากขึ้น สิ่งสำคัญคือต้องจัดหาอาหารคุณภาพสูง 
                    ซึ่งมีคาร์โบไฮเดรตค่อนข้างต่ำ และมีโปรตีนสูง</p><br>
        </div>
    </div>
</div>
{% endblock %}