{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_a' %}">Budgie</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_b' %}">Canary</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_c' %}">Crimson rosella</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_d' %}">Finch</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_e' %}">Galah</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_bird_f' %}">Lovebird</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_g' %}">Rainbow lorikeet</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_h' %}">Scarlet macaw</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_bird_i' %}">Sun conure</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/love bird.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Lovebird:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นก Lovebird เป็นนกแก้วขนาดเล็กที่มีถิ่นกำเนิดในทวีปแอฟริกา
                พวกมันมีขนสีสันสดใส และมักถูกเลี้ยงเป็นสัตว์เลี้ยง นก Lovebird เป็นนกที่ฉลาดและชอบเรียนรู้
                พวกมันสามารถเลียนแบบเสียงของมนุษย์และสัตว์อื่นๆ ได้ พวกมันยังสามารถเรียนรู้ที่จะทำตามคำสั่งง่ายๆ ได้

                พฤติกรรมทั่วไปของนก Lovebird

                สังคม: นก Lovebird เป็นนกสังคมและมักอยู่รวมกันเป็นฝูง พวกมันสื่อสารกันโดยใช้เสียงร้องและภาษากาย
                ฉลาด: นก Lovebird เป็นนกที่ฉลาดและชอบเรียนรู้ พวกมันสามารถเลียนแบบเสียงของมนุษย์และสัตว์อื่นๆ ได้
                พวกมันยังสามารถเรียนรู้ที่จะทำตามคำสั่งง่ายๆ ได้
                ชอบเล่น: นก Lovebird เป็นนกที่ชอบเล่น พวกมันชอบปีนต้นไม้และเล่นกับของเล่น
                พฤติกรรมเฉพาะของนก Lovebird

                การอาบน้ำ: นก Lovebird ชอบอาบน้ำ พวกมันมักอาบน้ำในบ่อน้ำหรือสระว่ายน้ำ
                การลอกคราบ: นก Lovebird จะลอกคราบปีละสองครั้ง ครั้งแรกในเดือนพฤษภาคมและครั้งที่สองในเดือนสิงหาคม
                ในช่วงลอกคราบ พวกมันจะสูญเสียขนเก่าและเติบโตขนใหม่
                การผสมพันธุ์: นก Lovebird จะผสมพันธุ์ในช่วงฤดูใบไม้ผลิและฤดูร้อน พวกมันจะสร้างรังในต้นไม้หรือโพรงไม้
                นกตัวเมียจะวางไข่ประมาณ 4-6 ฟอง ไข่จะฟักออกมาหลังจากประมาณ 21 วัน
                การดูแลลูกอ่อน: นกตัวผู้และตัวเมียจะช่วยกันดูแลลูกอ่อน ลูกอ่อนจะบินออกจากรังหลังจากประมาณ 6 สัปดาห์
            </p>
            <h1 style="text-align: center;">การดูแล Lovebird:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การเลือกอาหารให้นก Lovebird
                มีความสำคัญอย่างยิ่งต่อสุขภาพและความเป็นอยู่ที่ดีของนก นก Lovebird
                เป็นนกขนาดเล็กที่มีความต้องการอาหารสูง อาหารของนก Lovebird ควรประกอบด้วยส่วนผสมต่อไปนี้:

                เมล็ดพืช: เมล็ดพืชเป็นอาหารหลักของนก Lovebird เมล็ดพืชที่เหมาะสำหรับนก Lovebird ได้แก่ เมล็ดทานตะวัน
                เมล็ดข้าวโพด เมล็ดข้าวฟ่าง เมล็ดลูกเดือย เมล็ดถั่วเขียว และเมล็ดฟักทอง
                ผักและผลไม้: ผักและผลไม้เป็นแหล่งวิตามินและแร่ธาตุที่สำคัญสำหรับนก Lovebird ผักและผลไม้ที่เหมาะสำหรับนก
                Lovebird ได้แก่ แครอท ผักกาดหอม แตงกวา แอปเปิ้ล ส้ม องุ่น และมะเขือเทศ
                อาหารเสริม: อาหารเสริมบางชนิดอาจจำเป็นสำหรับนก Lovebird
                โดยเฉพาะอย่างยิ่งหากนกไม่ได้รับสารอาหารที่จำเป็นจากอาหารทั่วไป อาหารเสริมที่อาจจำเป็นสำหรับนก Lovebird
                ได้แก่ วิตามินรวม แร่ธาตุรวม และกรดไขมันโอเมก้า 3
                อัตราส่วนที่เหมาะสมของอาหารสำหรับนก Lovebird คือ เมล็ดพืช 60% ผักและผลไม้ 30% และอาหารเสริม 10%

                นอกจากอาหารแล้ว นก Lovebird ยังต้องการน้ำสะอาดอยู่เสมอ นก Lovebird ควรมีน้ำสะอาดให้ดื่มตลอดเวลา
            </p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถานที่ในการเลี้ยงนก Lovebird ที่เหมาะสมควรมีลักษณะดังนี้:

                กว้างขวางพอสำหรับนก Lovebird ในการปีนป่ายและเล่น นก Lovebird เป็นนกที่ฉลาดและชอบเล่น
                พวกมันต้องการพื้นที่ในการปีนป่ายและเล่น
                มีแสงสว่างเพียงพอ นก Lovebird ต้องการแสงสว่างเพียงพอเพื่อสุขภาพที่ดี
                มีอากาศถ่ายเทสะดวก นก Lovebird ต้องการอากาศถ่ายเทสะดวกเพื่อสุขภาพที่ดี
                มีอุณหภูมิที่เหมาะสม อุณหภูมิที่เหมาะสมสำหรับนก Lovebird คือ 20-25 องศาเซลเซียส
                กรงนก Lovebird ควรมีขนาดใหญ่พอสำหรับนก Lovebird ในการปีนป่ายและเล่น กรงควรมีความยาวอย่างน้อย 1 เมตร
                ความกว้างอย่างน้อย 1 เมตร และสูงอย่างน้อย 1 เมตร กรงควรมีของเล่นต่างๆ เช่น ไม้ปีน แท่งไม้ ชิงช้า
                กระดานลื่น เป็นต้น เพื่อให้นก Lovebird ได้ปีนป่ายและเล่น

                นก Lovebird เป็นนกที่ฉลาดและชอบเรียนรู้ เจ้าของควรใช้เวลากับนก Lovebird
                เป็นประจำเพื่อฝึกฝนนกและให้ความรักความเอาใจใส่ เจ้าของควรพูดคุยกับนก Lovebird เล่นกับนก Lovebird
                และสอนนก Lovebird คำสั่งต่างๆ
            </p><br>

        </div>
    </div>
</div>
{% endblock %}