{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_a' %}">American shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_b' %}">Birman</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_c' %}">British shorthair</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_d' %}">Maine coon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_e' %}">Persian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_f' %}">Ragdoll</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_g' %}">Russian blue</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_cat_h' %}">Scottish fold</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_cat_i' %}">Sphynx</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Sphynx cat.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Sphynx</h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แมวสฟิงซ์ ( Sphynx ) อาจเป็นตัวเลือกที่เหมาะสมหากคุณกำลังมองหาแมวที่เป็นมิตรและมีบุคลิกที่ดี และยิ่งหากคุณต้องการมีสัตว์เลี้ยงที่ไม่มีขนร่วงด้วยยิ่งเหมาะเข้าไปใหญ่ เนื่องจากแมวสายพันธุ์นี้ไม่มีขนเลยหรือถูกปกคลุมด้วยขนขนอ่อนที่บางที่สุด

                ด้วยรูปลักษณ์ที่โดดเด่นและสายตาที่ดุ สฟิงซ์อาจไม่ใช่แมวที่เป็นมิตรที่สุดในโลก แต่อย่าปล่อยให้รูปลักษณ์ของลูกแมวตัวนี้หลอกลวงคุณ! สฟิงซ์เป็นแมวที่ชอบเข้าสังคม มีนิสัยน่ารักและอยากแบ่งปันกับทุกคน รวมถึงคนแปลกหน้าและสัตว์เลี้ยงอื่นๆ สฟิงซ์มักจะรีบทักทายสมาชิกครอบครัวที่หน้าประตู และกระโดดหลบใต้ผ้าห่มอย่างรวดเร็วเมื่อถึงเวลานอน สฟิงซ์จะใช้ทุกโอกาสที่เป็นไปได้ในการเข้าสังคม
                
                หากไม่มีมิตรภาพที่เพียงพอ สฟิงซ์จะรู้สึกสิ้นหวัง เบื่อหน่าย และมีนิสัยทำลายข้าวของอย่างรวดเร็ว ลูกแมวสายพันธุ์นี้เกลียดการถูกทิ้งให้อยู่ตามลำพังอย่างยิ่ง และในขณะที่พวกมันใช้เวลาอยู่กับคุณ พวกมันก็มีแนวโน้มที่จะให้ความช่วยเหลือและคำแนะนำที่ไม่พึงประสงค์ หากคุณพยายามจำกัดสฟิงซ์ให้อยู่ในพื้นที่จำกัดน้องอาจจะส่งเสียงร้องที่ดังอาจไม่หยุดหย่อนได้ ทำให้แมวเหล่านี้ไม่เหมาะสำหรับครอบครัวที่ไม่ต้องการให้สัตว์เลี้ยงเข้ามามีส่วนร่วมตลอดเวลาได้
                
                สุดท้ายแต่ไม่ท้ายสุด สฟิงซ์จำเป็นต้องได้รับความอบอุ่นและปกป้องจากสภาพอากาศ แมวเหล่านี้ไม่สามารถอยู่กลางแจ้งได้ซึ่งจะต้องทนทุกข์ทรมานจากการถูกแดดเผาและลมแดด และแม้แต่ในบ้าน พวกมันก็มองหาสถานที่พักผ่อนที่อบอุ่นที่สุดเท่าที่จะเป็นไปได้ จัดเตรียมเตียงแมวอุ่น ๆ ให้น้อง แล้วคุณจะรู้ว่าสฟิงซ์ของคุณอยู่ที่ไหนเมื่อถึงเวลาเล่น
            </p>
            <h1 style="text-align: center;">การดูแล Sphynx:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;น่าเสียดายที่แมวสฟิงซ์มีปัญหาสุขภาพที่ทราบอยู่แล้ว รวมถึงมีแนวโน้มที่จะเป็นโรคหัวใจ รวมถึง โรคกล้ามเนื้อหัวใจหนาผิดปกติ (hypertrophic cardiomyopathy: HCM) นอกจากนี้ สฟิงซ์บางตัวมีแนวโน้มที่จะมีความผิดปกติทางประสาทและกล้ามเนื้อที่สืบทอดมาซึ่งเรียกว่ากลุ่มอาการ congenital myasthenic syndrome (CMS).

                แมวเหล่านี้มีแนวโน้มที่จะเป็นโรคปริทันต์ ดังนั้นการทำความสะอาดเป็นประจำจึงเป็นสิ่งสำคัญ การระคายเคืองผิวหนังอาจเกิดขึ้นได้บ่อยครั้ง ทำให้แมวเหล่านี้ได้รับการดูแลเอาใจใส่มากกว่าแมวที่มีขนเล็กน้อย
                </p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณอาจคิดว่าสฟิงซ์ต้องการการดูแลขนเพียงเล็กน้อย แต่ในความเป็นจริงคือตรงกันข้าม เพราะถึงแม้ว่าแมวสายพันธุ์นี้อาจไม่จำเป็นต้องแปรงขน แต่จำเป็นต้องอาบน้ำค่อนข้างบ่อยเพื่อขจัดไขมันส่วนเกินที่อาจทำให้เกิดการสะสมตัวและการระคายเคือง มองหาแชมพูสำหรับแมวสูตรอ่อนโยนและใช้น้ำอุ่นที่ให้ความรู้สึกสบายผิว แมวสายพันธุ์นี้ไม่สามารถทนต่ออุณหภูมิสุดขั้วได้เลย

                    ตรวจสอบหูแมวของคุณบ่อยๆ เช่นกัน หากคุณสังเกตเห็นขี้ไคลที่อยู่ลึกเข้าไปในหู ให้สัตวแพทย์หรือช่างตัดขนมืออาชีพมาทำความสะอาด ระหว่างการทำความสะอาดในจุดลึกๆ ให้เช็ดคราบมันออกด้วยสำลีก้อนที่ชุบสารละลายอ่อนๆ ซึ่งประกอบด้วยน้ำ 50% และน้ำส้มสายชู 50%
                    
                    การดูแลทันตกรรมที่บ้านสามารถช่วยให้แมวของคุณมีสุขภาพที่ดีขึ้นตลอดชีวิต ดังนั้นควรพิจารณาแปรงฟันเป็นประจำ ยาสีฟันสำหรับแมวมีหลายรสชาติที่แมวชอบ ช่วยให้งานนี้ง่ายขึ้นเล็กน้อยเมื่อพวกเขารู้ว่าจะต้องเจอกับอะไร
                    
                    สฟิงซ์มีแนวโน้มที่จะสะสมคราบสกปรกระหว่างนิ้วเท้า ดังนั้นคุณควรล้างอุ้งเท้าของพวกเขาสัปดาห์ละ 2-3 ครั้งเพื่อช่วยป้องกันการติดเชื้อ เป็นความคิดที่ดีที่จะตัดเล็บเท้าของแมวเป็นประจำเช่นกัน กิจวัตรนี้จะง่ายที่สุดเมื่อคุณเริ่มต้นตั้งแต่อายุยังน้อย เมื่อเวลาผ่านไป แมวของคุณจะยอมรับมันโดยไม่ต้องยุ่งยากจนเกินไป</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สฟิงซ์เป็นนักกีฬาที่มีความสามารถและมีกล้ามเนื้อแข็งแรง ลูกแมวสายพันธุ์นี้ออกกำลังกายเป็นประจำตามผู้คนรอบๆ และเล่นกับสัตว์เลี้ยงตัวอื่นๆ รวมไปถึงชอบการกระโดดและปีนป่ายมากพอๆ กับที่แมวสายพันธุ์อื่นชอบทำ! คอนโดสำหรับแมวแสนสบาย เสาลับเล็บ และของเล่นมากมายจะช่วยให้สฟิงซ์ของคุณมีรูปร่างที่ดี</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;อาหารคุณภาพสูงเป็นสิ่งจำเป็นสำหรับสฟิงซ์ เนื่องจากอาหารแมวคุณภาพต่ำอาจทำให้เกิดปัญหาผิวหนังที่ร้ายแรงและทำให้เกิดการผลิตไขมันส่วนเกินได้ มองหาแบรนด์ที่มีโปรตีนสูงและคาร์โบไฮเดรตต่ำ และเลือกใช้เนื้อสัตว์หรือปลาเป็นส่วนประกอบหลัก</p><br>
            </div>
            </div>
    </div>
</div>
{% endblock %}