{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Shih-tzu.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Shih-tzu:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับน้องหมาชิสุห์ อุปนิสัยที่โดดเด่นที่สุดคือความเป็นมิตร
                มีเพียงไม่กี่อย่างที่จะทำให้สุนัขพันธุ์นี้อารมณ์เสีย และน้อยครั้งที่พวกเค้าจะแสดงอาการหงุดหงิดออกมา
                ชิสุห์ขึ้นชื่อเรื่องความอ่อนโยน ไม่จู้จี้จุกจิก ต้องการความรัก ชอบกอด และคลอเคลียมาก
                ซึ่งทำให้พวกเค้าเป็นเพื่อนแก้เหงาที่ดี นอกจากนี้ชิสุห์ยังไม่ค่อยน้ำลายไหล
                แต่อาจเห่าบ่อยครั้งเพื่อเรียกร้องความสนใจ เพื่อแจ้งเตือนสัญญาณอันตราย หรือด้วยเหตุผลประการอื่น
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Shih-tzu:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์ชิสุห์มีกะโหลกศีรษะขนาดใหญ่และแบน รวมถึงมีช่วงปากและจมูกที่สั้น
                ทำให้หายใจได้ค่อนข้างลำบาก เนื่องจากไม่มีเหงื่อออกเหมือนคนเรา บวกกับระบบทางเดินหายใจผิดปกติ
                สุนัขชิสุห์จึงมักไม่ค่อยหอบเสียงดังเหมือนสุนัขพันธุ์อื่น นอกจากนี้ยังมีรูจมูกตีบแคบ
                ส่งผลให้หายใจลำบากและไม่สามารถสูดหายใจเข้าลึก ๆ ได้ ในช่วงหน้าร้อน
                เจ้าของควรตรวจสอบให้มั่นใจว่าเตรียมน้ำดื่มเพียงพอ และควรงดออกกำลังกายไปก่อน
                สุนัขพันธุ์นี้ไม่ชอบอากาศหนาว และมีโอกาสป่วยได้ง่ายเพราะสภาพอากาศแบบนี้
                ไม่ใช่แค่ปัญหาระบบทางเดินหายใจเท่านั้นที่น่าเป็นห่วง แต่ชิสุห์มักจะมีอาการติดเชื้อที่ดวงตาและใบหูด้วย
                ผิวก็บอบบาง เสี่ยงต่อการเกิดภูมิแพ้ได้ง่าย เมื่อเข้าสู่ช่วงสูงวัย
                น้องหมาพันธุ์ชิสุห์มีแนวโน้มที่จะเป็นต้อกระจก และต้องรักษาด้วยการผ่าตัดเท่านั้น</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ถึงแม้ว่าการดูแลสุนัขพันธุ์นี้จะไม่ใช่เรื่องง่าย แต่เจ้าของก็ไม่ควรละเลย
                ควรกรูมมิ่งและเล็มขนให้พวกเค้าเป็นประจำ รวมถึงควรแปรงขนบ่อย ๆ เพื่อป้องกันไม่ให้ขนพันกัน
                และไม่ให้เกิดปัญหาสุขภาพเส้นขนไม่แข็งแรง โดยขนที่ปกคลุมบริเวณหัวจะยาวเร็วมาก
                จึงจำเป็นต้องเล็มขนออกเป็นประจำ เพื่อไม่ให้ขนแยงตาพวกเค้า เจ้าของบางคนก็ชอบมัดจุกผูกโบว์ให้พวกเค้า
                จนกลายเป็นทรงขนสุดน่ารัก ทั้งนี้สุนัขพันธุ์ชิสุห์มีสีขนที่หลากหลาย แต่สีที่พบได้บ่อยจะมีสีดำ สีขาว
                และสีเทา</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ด้วยสรีระที่ไม่เอื้ออำนวยของสุนัขชิสุห์ เมื่อพาไปออกกำลังกาย
                คุณควรตรวจสอบให้แน่ใจว่าอากาศไม่ร้อนจนเกินไป และกิจกรรมที่ทำจะต้องไปหนักหน่วงจนเกินไปด้วย
                การออกกำลังกายที่เหมาะสมสำหรับสุนัขพันธุ์ชิสุห์คือ การเดินเล่น 2 ครั้งต่อวัน รอบละประมาณ 20 นาที
                ในช่วงหน้าร้อนแนะนำให้เตรียมน้ำดื่มขณะออกไปเดินเล่นด้วย ส่วนในช่วงหน้าหนาว
                แนะนำให้ใส่เสื้อเพื่อให้ร่างกายของพวกเค้าอบอุ่น</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สำหรับสุนัขชิสุห์อาหารที่พวกเค้าต้องการจะแตกต่างไปตามอายุและกิจกรรมที่พวกเค้าทำในแต่ละวัน
                เนื้อไก่และไข่ถือเป็นแหล่งโปรตีนที่สำคัญของพวกเค้า แต่ช็อกโกแลต ไข่ดิบ เนื้อดิบ หัวหอม
                และกระเทียมคืออาหารที่ควรหลีกเลี่ยง เพื่อให้พวกเค้ามีสุขภาพดีแข็งแรงในทุกวัน เลือกให้อาหารเม็ด เพดดิกรี®
                มินิ โดยปริมาณที่แนะนำคือ 4/5 - 1 ถ้วย หรือผสมอาหารเม็ด 77 – 101 กรัม เข้ากับอาหารเปียก 1/2 ถ้วย</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นอกจากขนยาวสลวยแล้ว นิสัยดื้อรั้นก็เป็นเอกลักษณ์เฉพาะตัวของสุนัขพันธุ์ชิสุห์
                การฝึกพวกเค้าต้องใจเย็นและใช้ความอดทนสูง คุณสามารถฝึกโดยการใช้สายจูง และการให้ขนมเพื่อกระตุ้นพวกเค้าได้
                หากน้องหมาของคุณไม่ได้รับการฝึกเข้าสังคม เมื่อต้องเจอผู้คนหรือสุนัขตัวอื่นแบบไม่ทันตั้งต้ว
                พวกเค้าอาจแสดงอาการหวาดกลัวออกมาได้ แนะนำให้ฝึกเข้าสังคมตั้งแต่ยังเล็ก เพื่อช่วยปรับพฤติกรรม
                และสร้างความคุ้นเคยในการทำความรู้จักกับผู้คนในละแวกใกล้เคียง</p><br>
        </div>
    </div>
</div>
{% endblock %}