{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Corgi.webp' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Corgi:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;แม้ลักษณะภายนอกของหมาคอร์กี้ดูตัวเล็ก ดุ๊กดิ๊ก แท้จริงแล้วพวกมันใจใหญ่ ไม่กลัวคนแต่ไม่ก้าวร้าว แถมยังกล้าหาญ และกะตือรือร้นมาก ๆ 
                ไม่ต่างจากสุนัขพันธุ์ใหญ่อื่น ๆ เพียงแต่รูปร่างแสนป้อมทำให้ท่าทางการแสดงออกของคอร์กี้ดูเบาและน่ารักขึ้นเท่านั้นเอง ยิ่งจุดประสงค์ดั้งเดิมของสายพันธุ์คอร์กี้คือสุนัขใช้งานในฟาร์มแกะ 
                ทำให้นิสัยตามสัญชาติญาณของพวกมัน มีความฉลาด รวดเร็ว และมีความอดทนสูงมากเช่นกัน แน่นอนว่าคอร์กี้เป็นน้องหมาพันธุ์เล็กที่ชอบใช้พลังงานและเข้าสังคมมาก ดังนั้นเจ้าของควรพาไปพบปะสังคม 
                และพาไปทำกิจกรรมใหม่ ๆ และไม่ควรทิ้งให้อยู่บ้านตัวเดียวเป็นเวลานาน เพราะอาจจะทำให้พวกมันเกิดความเครียดและสะสมพฤกติกรรมก้าวร้าวได้
            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Corgi:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์คอร์กี้เป็นสุนัขที่มีสุขภาพโดยรวมแข็งแรง แต่มีบางโรคที่พบได้บ่อยในสายพันธุ์นี้
                ได้แก่ โรคข้อสะโพกเสื่อม (Hip dysplasia) เป็นโรคที่เกิดจากการผิดรูปของข้อสะโพก
                ทำให้กระดูกอ่อนเสื่อมและเกิดการเสียดสีกัน ส่งผลให้สุนัขมีอาการเจ็บปวดเมื่อเดินหรือวิ่ง
                โรคหมอนรองกระดูกทับเส้นประสาท (Intervertebral disc disease)
                เป็นโรคที่เกิดจากการเสื่อมของหมอนรองกระดูกระหว่างกระดูกสันหลัง ทำให้กระดูกสันหลังทับเส้นประสาท
                ส่งผลให้สุนัขมีอาการปวดหลัง เดินหรือวิ่งลำบาก
                โรคตา โรคตาที่พบได้บ่อยในคอร์กี้ ได้แก่ โรคต้อกระจก โรคจอประสาทตาเสื่อม และโรคต้อหิน
                โรคหู โรคหูที่พบได้บ่อยในคอร์กี้ ได้แก่ โรคหูอักเสบ โรคหูน้ำหนวก และโรคหูชั้นกลางอักเสบ
                โรคภูมิแพ้ โรคภูมิแพ้ที่พบได้บ่อยในคอร์กี้ ได้แก่ โรคภูมิแพ้ผิวหนัง โรคภูมิแพ้อาหาร และโรคภูมิแพ้อากาศ
                นอกจากนี้ คอร์กี้ยังมีแนวโน้มที่จะอ้วนได้ง่าย ดังนั้นเจ้าของจึงควรควบคุมอาหารและการออกกำลังกายให้เหมาะสม
                เพื่อลดความเสี่ยงในการเกิดโรคต่าง ๆ
                เคล็ดลับในการเลี้ยงคอร์กี้ให้สุขภาพดี ได้แก่
                พาคอร์กี้ไปตรวจสุขภาพประจำปี เพื่อให้ทันสังเกตปัญหาสุขภาพที่อาจเกิดขึ้น
                ให้อาหารคอร์กี้ในปริมาณที่เหมาะสม และเลือกอาหารที่มีสารอาหารครบถ้วน
                พาคอร์กี้ออกกำลังกายเป็นประจำ เพื่อให้คอร์กี้มีสุขภาพแข็งแรงและลดความเสี่ยงในการเกิดโรคอ้วน
                ดูแลความสะอาดคอร์กี้ อาบน้ำให้คอร์กี้เป็นประจำ และแปรงขนให้คอร์กี้อย่างน้อยสัปดาห์ละครั้ง
                หากเจ้าของดูแลสุขภาพคอร์กี้อย่างเหมาะสม คอร์กี้ก็สามารถมีชีวิตที่ยืนยาวและมีความสุขได้</p><br>
                <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                การดูแลขนของสุนัขคอร์กี้เป็นสิ่งสำคัญเพื่อให้ขนของพวกมันมีสุขภาพดีและสวยงาม สุนัขคอร์กี้มีขนสองชั้น
                ชั้นในจะเป็นขนนุ่ม เบา ส่วนขนชั้นนอกจะมีความหนาและหยาบกว่า การดูแลขนของสุนัขคอร์กี้สามารถทำได้ดังนี้
                แปรงขน ควรแปรงขนให้สุนัขคอร์กี้วันละ 1 ครั้ง เพื่อช่วยให้ขนที่ตายแล้วหลุดออกไป ป้องกันไม่ให้ขนพันกัน
                และหมักหมมจนเกิดปัญหาผิวหนังอักเสบได้ สามารถใช้หวีแบบซี่ห่างหรือหวีแบบแปรงกลมในการแปรงขนได้
                อาบน้ำ ควรอาบน้ำให้สุนัขคอร์กี้สัปดาห์ละ 1-2 ครั้ง หรือเมื่อสุนัขสกปรกมาก ๆ
                โดยใช้แชมพูสุนัขที่มีสูตรอ่อนโยน ไม่ระคายเคืองผิว หลีกเลี่ยงการอาบน้ำบ่อยเกินไป
                เพราะจะทำให้ผิวของสุนัขแห้งและระคายเคืองได้
                ตัดเล็บ ควรตัดเล็บให้สุนัขคอร์กี้ทุก 2-3 สัปดาห์ หรือเมื่อเล็บยาวจนขูดพื้นได้
                เพื่อป้องกันไม่ให้เล็บยาวเกินไปจนทิ่มแทงเท้าของสุนัขเองได้
                ทำความสะอาดหู
                ควรทำความสะอาดหูให้สุนัขคอร์กี้ทุกสัปดาห์หรือบ่อยกว่านั้นหากสุนัขมีแนวโน้มที่จะเกิดปัญหาหูอักเสบ
                โดยการใช้สำลีชุบน้ำหมาด ๆ เช็ดทำความสะอาดบริเวณใบหูและรูหู
                นอกจากการดูแลขนแล้ว เจ้าของควรพาสุนัขคอร์กี้ไปพบสัตวแพทย์เพื่อตรวจสุขภาพเป็นประจำทุกปี
                เพื่อตรวจหาปัญหาสุขภาพที่อาจเกิดขึ้นได้</p><br>
                <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สุนัขคอร์กี้เป็นสุนัขที่มีพลังงานสูง ดังนั้นจึงต้องการการออกกำลังกายอย่างสม่ำเสมอ
                การออกกำลังกายที่เหมาะสมสำหรับสุนัขคอร์กี้ ได้แก่
                การเดิน การเดินเป็นการออกกำลังกายที่ง่ายและสามารถทำได้ทุกวัน ระยะเวลาที่เหมาะสมในการเดินสุนัขคอร์กี้คือ
                20-60 นาทีต่อวัน ขึ้นอยู่กับระดับความฟิตของสุนัข
                การเล่น fetch การเล่น fetch เป็นกิจกรรมที่สนุกสำหรับสุนัขคอร์กี้
                ช่วยกระตุ้นให้สุนัขได้ใช้พลังงานและฝึกทักษะการวิ่งและการกระโดด
                การเล่น agility การเล่น agility เป็นกิจกรรมที่ท้าทายสำหรับสุนัขคอร์กี้ ช่วยฝึกทักษะการวิ่ง การกระโดด
                และการเลี้ยว
                ว่ายน้ำ ว่ายน้ำเป็นการออกกำลังกายที่ดีสำหรับสุนัขคอร์กี้
                ช่วยป้องกันโรคข้อสะโพกเสื่อมและส่งเสริมสุขภาพโดยรวมของสุนัข
                เจ้าของควรเริ่มออกกำลังกายสำหรับสุนัขคอร์กี้ตั้งแต่ยังเล็ก
                เพื่อที่สุนัขจะได้เรียนรู้ที่จะชอบออกกำลังกายและหลีกเลี่ยงปัญหาพฤติกรรมที่เกิดจากการขาดการออกกำลังกาย
                เช่น การเห่ามากเกินไป การกัดแทะสิ่งของ และการทำลายข้าวของภายในบ้าน
                นอกจากการออกกำลังกายแล้ว เจ้าของควรให้สุนัขคอร์กี้ได้เล่นและสำรวจสภาพแวดล้อมใหม่ ๆ อยู่เสมอ
                จะช่วยให้สุนัขมีความกระตือรือร้น และมีความสุข</p><br>
                <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โภชนาการของสุนัขคอร์กี้เป็นสิ่งสำคัญเพื่อให้สุนัขมีสุขภาพที่ดีและแข็งแรง
                สุนัขคอร์กี้เป็นสุนัขที่มีแนวโน้มที่จะเป็นโรคอ้วน
                ดังนั้นจึงควรควบคุมปริมาณอาหารและพลังงานที่ได้รับอย่างเหมาะสม
                อาหารที่เหมาะสมสำหรับสุนัขคอร์กี้ควรเป็นอาหารที่มีโปรตีนสูง ไขมันปานกลาง และคาร์โบไฮเดรตต่ำ
                อาหารที่มีสารอาหารครบถ้วนและเหมาะสมกับช่วงอายุของสุนัขจะช่วยส่งเสริมสุขภาพโดยรวมของสุนัขได้
                ปริมาณอาหารที่เหมาะสมสำหรับสุนัขคอร์กี้ขึ้นอยู่กับน้ำหนักและระดับกิจกรรมของสุนัข
                โดยสุนัขคอร์กี้ที่โตเต็มวัยควรได้รับอาหารประมาณ 1-1.5 ถ้วยต่อวัน แบ่งเป็น 2 มื้อ
                เจ้าของควรปรึกษาสัตวแพทย์เพื่อขอคำแนะนำเกี่ยวกับปริมาณอาหารที่เหมาะสมสำหรับสุนัขคอร์กี้แต่ละตัว</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป็นสุนัขที่ฉลาดและกระตือรือร้นที่จะเอาใจ ซึ่งทำให้ฝึกได้ง่าย อย่างไรก็ตาม
                เช่นเดียวกับสุนัขอื่นๆ พวกเขาต้องการความสม่ำเสมอและความอดทนจากเจ้าของ เคล็ดลับในการฝึกคอร์กีมีดังนี้
                เริ่มเร็ว ยิ่งคุณเริ่มฝึกคอร์กี้ได้เร็วเท่าไรก็ยิ่งง่ายขึ้นเท่านั้น
                ลูกสุนัขเปิดรับการฝึกมากกว่าสุนัขโตเต็มวัย</p><br>
        </div>
    </div>
</div>
{% endblock %}