{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Beagle' %}">Beagle</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_dog_Chihuahua' %}">Chihuahua</a>
            </h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Corgi' %}">Corgi</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Golden_retriever' %}">Golden-retriever</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_German_shepherd' %}">German-shepherd</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Siberian_Husky' %}">Siberian-husky</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Shih_tzu' %}">Shih-tzu</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Dalmatian' %}">Dalmatian</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_dog_Samoyed' %}">Samoyed</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Chihuahuas.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของสุนัขพันธุ์ Chihuahua:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เจ้าตัวจิ๋วเหล่านี้ชอบเป็นจุดสนใจ และจงรักภักดีต่อเจ้าของมาก
                อย่าตัดสินชิวาวาจากรูปลักษณ์ภายนอก พวกเค้าเป็นสุนัขตัวเล็กแต่ใจใหญ่ กล้าหาญ
                ในขณะเดียวกันก็ชอบใกล้ชิดกับผู้คน มีชีวิตชีวา และแอบซุกซน แต่บางตัวก็ขี้อายและชอบเก็บตัว
                เช่นเดียวกับสุนัขพันธุ์อื่น ควรฝึกให้พวกเค้าทำความรู้จักกับผู้คน สภาพแวดล้อมใหม่ ๆ
                และเพื่อนมะหมาตั้งแต่เด็ก ชิวาวามักจะรู้สึกไม่ปลอดภัยเมื่อเจอคนแปลกหน้า
                ซึ่งอาจนำไปสู่การขู่และกัดได้สุนัขพันธุ์ชิวาวาเข้ากับเด็กและสัตว์เลี้ยงอื่นได้ดีเมื่อได้รับการฝึกอย่างเหมาะสม
                สำหรับเด็กน้อยในครอบครัว
                เจ้าของอาจต้องสอนวิธีเข้าหาน้องหมาอย่างถูกต้องควบคู่ไปด้วยน้องหมาจิ๋วเหล่านี้แสดงอารมณ์ความรู้สึกเก่ง
                พวกเค้าจะเห่าบ่อยเพื่อสื่อสารให้เจ้าของรับรู้
                รวมถึงจะเห่าเมื่อรู้สึกกลัว วิตกกังวล และต้องการความสนใจ แต่ปัญหานี้สามารถปรับได้ด้วยการฝึกอย่างเหมาะสม

            </p>
            <h1 style="text-align: center;">การดูแลสุนัขพันธุ์ Chihuahua:</h1>
            <b style="color: #00aea5;">1. สุขภาพ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สายพันธุ์นี้มีสุขภาพโดยรวมดี แต่มีแนวโน้มจะเกิดปัญหาสุขภาพทางพันธุกรรม โดยปัญหาที่พบได้คือ
                ภาวะน้ำตาลในเลือดต่ำ โรคอ้วน โรคสะบ้าเคลื่อน โรคลิ้นหัวใจรั่ว และโรคลมชัก
            </p><br>
            <b style="color: #00aea5;">2. กรูมมิ่ง</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การดูแลจะแตกต่างกันตามลักษณะขน สำหรับน้องหมาขนสั้น ควรอาบน้ำและแปรงขนอย่างสม่ำเสมอ
                น้องหมาขนยาวมักมีปัญหาขนพันกัน จึงควรแปรงขนอย่างน้อยสัปดาห์ละครั้ง

                นอกจากนี้ควรตัดเล็บและทำความสะอาดใบหูเป็นประจำ เพื่อป้องกันการติดเชื้อ เนื่องจากมักมีปัญหาสุขภาพฟัน
                จึงควรหมั่นแปรงฟันและตรวจเช็กกับสัตวแพทย์เป็นประจำ
                ทั้งนี้อาจปรึกษาคุณหมอเพื่อขอคำแนะนำเกี่ยวกับการเลือกขนมขัดฟันเพิ่มเติมได้

            </p><br>
            <b style="color: #00aea5;">3. การออกกำลังกาย</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สุนัขพันธุ์นี้ชอบทำกิจกรรมมาก ด้วยรูปร่างเล็กกะทัดรัด จึงออกกำลังกายในพื้นที่จำกัดได้ดี
                เพียงแค่เดินเล่นเป็นประจำก็ช่วยให้พวกเค้ามีร่างกายที่แข็งแรงแล้ว หากน้องหมาเริ่มหอบหรือเหนื่อย
                ให้อุ้มพวกเค้าขึ้นมา หลีกเลี่ยงการพาเดินเร็ว ๆ เนื่องจากมีขาขนาดเล็ก ทำให้ต้องออกแรงมากขึ้น
            </p><br>
            <b style="color: #00aea5;">4. โภชนาการ</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เมื่อพูดถึงอาหารสำหรับชิวาวา พวกเค้าต้องการสารอาหารจากเนื้อสัตว์ อย่างเนื้อวัว ไก่ และแกะ
                บวกกับมีความไวต่อสารเคมีและสารแต่งเติม ดังนั้นก่อนเลือกซื้ออาหารสุนัข ควรตรวจสอบรายการส่วนผสมให้ดี
                อีกทั้งยังมีความเสี่ยงต่อโรคอ้วน จึงควรกำหนดปริมาณอาหารต่อวันให้เหมาะสมด้วย</p><br>
                <b style="color: #00aea5;">5. การฝึก</b><br><br><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากไม่ได้รับการฝึก อาจมีท่าทีก้าวร้าวเมื่ออยู่ท่ามกลางคนแปลกหน้าและสัตว์ชนิดอื่น
                โดยอาจรุนแรงมากขึ้นหากมีนิสัยชอบเก็บตัว เพื่อหลีกเลี่ยงพฤติกรรมก้าวร้าว จึงควรฝึกทั้งการเล่นกับเด็ก
                พาไปเจอสภาพแวดล้อมใหม่ ๆ และลดการขู่คำราม นอกจากจะช่วยควบคุมพฤติกรรมแล้ว
                การฝึกยังช่วยลดความกังวลเมื่อต้องอยู่ตามลำพังได้อีกด้วย
                ทั้งนี้การให้รางวัลเป็นขนมแสนอร่อยจะช่วยให้การฝึกได้ผลดียิ่งขึ้น</p><br>
        </div>
    </div>
</div>
{% endblock %}