{% extends 'app_general/components/base.html' %}
{% block site_title %}แนวทางการเลี้ยง{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-2">
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_a' %}">Alpaca</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_b' %}">Ball python</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_c' %}">Bearded dragon</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_d' %}">Caracal</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_e' %}">Emperor scorpion</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_f' %}">Fire salamander</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_g' %}">Leopard gecko</a></h1>
            <h1 class="blogleftguild"><a href="{% url 'guideline_other_h' %}">Tarantula</a></h1>
            <h1 class="blogleftguild"><a class="blogleftguild" href="{% url 'guideline_other_i' %}">Fennec fox</a></h1>
        </div>
        <div class="col bg-body-secondary">
            <br><img class="guildpic" src="{% static 'app_general/Fennec fox.jpg' %}"><br>
            <h1 style="text-align: center;">พฤติกรรมของ Fennec fox:</h1>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;น้องมีขนตามตัวออกสีเหลืองน้ำตาล หนา
                เนื่องจากต้องใช้ในการพรางตัวเมื่ออยู่ในทะเลทราย มีขนใต้ท้องสีขาว หางยาวฟูเป็นพวง
                ขนน้องมีคุณสมบัติพิเศษเรื่องการปกป้องอุณหภูมิร่างกายจากอากาศเย็นในเวลากลางคืนพอเข้าสู่กลางวัน
                ขนที่ว่ายังสามารถสะท้อนความร้อนออกไปได้ด้วย มีดวงตาโตสีดำ
                จุดเด่นคือใบหูที่ใหญ่โตมโหฬารเพื่อระบายความร้อนออกจากร่างกาย สล็อต pg เว็บตรง ไม่ผ่านเอเย่นต์
                น้องตั้งท้องใช้เวลาทั้งหมด 2 เดือน เมื่อแรกเกิดน้องจะเหมือนกับลูกสุนัขและแมวคือกินนมแม่เพียงอย่างเดียว
                ขนขึ้นตามตัวแบบเบาบาง ร่างกายยังไม่แข็งแรง กระดูกอ่อนยังลุกเดินไม่ได้ หูตายังปิดอยู่
                จนผ่านไปประมาณหนึ่งเดือนถึงเริ่มหย่านม ตามธรรมชาติตัวผู้จะมีนิสัยดุร้ายและหวงตัวเมีย
                เพราะตัวผู้ต้องทำหน้าที่ปกป้องครอบครัวจากอันตรายและมีหน้าที่คอยหาอาหารมาให้ตัวเมียระหว่างที่ตั้งท้องและให้นมลูก
                ส่วนตัวเมียนั้นทำหน้าที่ให้นมลูกอยู่ในโพรง จากนั้นมันก็จะเริ่มช่วยกันสลับดูแลลูกทั้งตัวผู้และตัวเมีย
                ลูกจิ้งจอกจะเติบโตเต็มที่เมื่อมีอายุได้ 9 เดือน โดยสามารถให้ลูกได้ประมาณปีละเพียง 1 ครั้ง ครั้งละ 1 ถึง
                3 ตัวเท่านั้น อายุขัยน้องอยู่ที่ประมาณ 10 ถึง 15 ปี เป็นสัตว์ที่มีคู่เดียวตลอดชีวิต
                ขนาดเมื่อโตเต็มวัยเพศผู้อยู่ที่ประมาณ 1.75 กิโลกรัม และเพศเมียอยู่ที่ 1.25 กิโลกรัม ลำตัวมีขนาดยาวเพียง
                1 ฟุตกว่า ๆ
                น้องชอบอยู่อาศัยด้วยกันเป็นฝูงคล้ายกับสุนัข มีการใช้กลิ่นปัสสาวะในการแบ่งอาณาเขต
                และจะมีอารมณ์ฉุนเฉียวเมื่อเข้าสู่ฤดูผสมพันธุ์
                แต่น้องก็ถือว่าเป็นหมาป่าที่ปล่อยกลิ่นออกมาน้อยที่สุดแถมชอบทำความสะอาดตัวเองอยู่เป็นประจำอีกด้วย
                ผู้เลี้ยงจึงไม่จำเป็นต้องจับน้องอาบน้ำบ่อย ๆ เนื่องจากผิวหนังของน้องมาสามารถเกิดเป็นเชื้อราได้ง่าย
                กลางวันน้องจะหลับกลางคืนน้องจะตื่น มีนิสัยที่ชอบขุดคุ้ยหาอาหารตามพื้นตามรู
                น้องเป็นสัตว์ที่มีนิสัยกระตือรือร้น ซุกซน แต่บางครั้งก็ชอบอยู่ลำพังไม่อยากยุ่งกับใคร
                มีนิสัยที่เหมือนแมวกับสุนัขผสมกัน น้องมีความฉลาดหลักแหลมไม่แพ้สุนัขเลยล่ะ
            </p>
            <h1 style="text-align: center;">การดูแล Fennec fox:</h1>
            <b style="color: #00aea5;">1. การเลือกอาหาร</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หนึ่งในเหตุผลที่น้องเป็นที่นิยมนำมาเลี้ยงก็คงเป็นเรื่องเกี่ยวกับการกิน
                หลังจากถูกพัฒนาสายพันธุ์มาแล้วน้องจะไม่ล่าเหยื่อ สามารถดำรงชีวิตอยู่ได้ด้วยการกินแมลงตัวเล็ก พืช ผัก
                ผลไม้หลายชนิด อาหารมื้อหลักเลยควรให้อาหารสุนัขเกรดดี เนื่องจากร่างกายน้องต้องการโปรตีนสูง
                อาหารที่ให้ควรสลับสับเปลี่ยนหมุนเวียนอยู่ตลอด ไม่ควรให้อาหารซ้ำ ๆ
                กันเนื่องจากจะทำให้น้องได้รับสารอาหารไม่ครบถ้วน อย่างที่บอกว่าน้องสามารถทานผลไม้ได้อย่างเช่น กล้วย
                มะละกอ มะม่วง แต่ไม่แนะนำให้ให้ทุกวัน เราสามารถสลับให้กับผัก อาหารเม็ด เนื้อไก่ต้ม ไข่ต้ม ก็ได้

                สิ่งที่ควรหลีกเลี่ยงเลยคือการให้น้องทานเนื้อดิบแบบสัตว์ป่าทุกวัน
                เนื่องจากจะทำให้น้องได้รับคุณค่าทางโภชนาการไม่สมบูรณ์รวมถึงเนื้อสดที่เราซื้อมาอาจมีเชื้อโรคและแบคทีเรียที่ไม่ควรเข้าไปในร่างกายน้องทำให้น้องเกิดอาการป่วยท้องเสียจนเสียชีวิตได้เลย
                เราสามารถให้เนื้อสดน้องได้บ้าง นาน ๆ ครั้ง เช่นอาทิตย์ละ วัน วันละ 1 มื้อด้วยชิ้นเล็ก ๆ ก็เพียงพอแล้ว
            </p><br>
            <b style="color: #00aea5;">2. สถานที่ในการเลี้ยง</b><br><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากผู้เลี้ยงเลี้ยงน้องอยู่ในกรง
                ขนาดและรูปบบกรงที่สามารถใช้ได้จะเป็นกรงประเภทเดียวที่ใช้กับสุนัขหรือแมว มีขนาดความยาวตั้งแต่ 2 ฟุต
                ขึ้นไป สามารถหาเบาะมาปูรองกรงให้น้องได้
                หากเลี้ยงในห้องเราก็สามารถซื้อเบาะวางไว้ในห้องหรือทำชั้นนอนให้คล้ายกับที่นอนแมวก็ได้
                สภาพภายในกรงต้องเป็นพื้นเรียบไม่แฉะและมีน้ำขังชื้น หากเลี้ยงภายนอกตัวบ้าน กรงน้องต้องมีหลังคาที่มิดชิด
                กันน้ำ กันฝน นอกจากกรงหรือห้องที่เป็นอาณาบริเวณส่วนตัวแล้วนั้น ก็ต้องมีอุปกรณ์พื้นฐานที่ใช้ในการเลี้ยง
                เช่น ภาชนะใส่อาหารที่มีลักษณะแข็งแรง ทรงกว้างไม่พลิกคว่ำง่าย อย่างเช่นชามข้าวสุนัขเป็นต้น
                กระบอกขวดน้ำดื่มที่ยึดติดกับกรงได้ หรือจะเป็นถ้วยใส่น้ำสะอาดก็ได้อีกเช่นกัน
                อาหารเม็ดและอาหารเสริมที่ให้สุนัขหรือแมวทานน้องก็สามารถทานได้ อุปกรณ์เครื่องเล่นที่ใช้กับน้อง เป็นต้น
            </p><br>

        </div>
    </div>
</div>
{% endblock %}