{% extends 'app_general/components/base.html' %}
{% block site_title %}สายพันธุ์สุนัข{% endblock %}
{% load static %}
{% block content %}
<div class="container"><br><br>
    <div class="col-sm-12" style="text-align: center; color:white;">
        <div>
            <h2>สายพันธุ์นก</h1>
        </div>
    </div>
    <div class="col-sm-12 bg-body-secondary">
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/budgie.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/canary bird.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Crimson Rosella.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Budgie</h1>
            </div>
            <div class="col-sm-4">
                <h2>Canary</h1>
            </div>
            <div class="col-sm-4">
                <h2>Crimson rosella</h1>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/finch bird.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/galah.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/love bird.webp' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Finch</h1>
            </div>
            <div class="col-sm-4">
                <h2>Galah</h1>
            </div>
            <div class="col-sm-4">
                <h2>Lovebird</h1>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/rainbow lori.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/macaw.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/sun conure.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Rainbow lorikeet</h1>
            </div>
            <div class="col-sm-4">
                <h2>Scarlet macaw</h1>
            </div>
            <div class="col-sm-4">
                <h2>Sun conure</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}