{% extends 'app_general/components/base.html' %}
{% block site_title %}สายพันธุ์สุนัข{% endblock %}
{% load static %}
{% block content %}
<div class="container"><br><br>
    <div class="col-sm-12" style="text-align: center; color:white;">
        <div>
            <h2>สายพันธุ์อื่นๆ</h1>
        </div>
    </div>
    <div class="col-sm-12 bg-body-secondary">
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/alpaca.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Ball Python.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Bearded dragon.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Alpaca</h1>
            </div>
            <div class="col-sm-4">
                <h2>Ball python</h1>
            </div>
            <div class="col-sm-4">
                <h2>Bearded dragon</h1>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/caracal.webp' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Emperor scorpion.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/fire salamander.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Caracal</h1>
            </div>
            <div class="col-sm-4">
                <h2>Emperor scorpion</h1>
            </div>
            <div class="col-sm-4">
                <h2>Fire salamander</h1>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Leopard Gecko0.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/tarantula.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Pygmy Marmoset.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Leopard gecko</h1>
            </div>
            <div class="col-sm-4">
                <h2>Tarantula</h1>
            </div>
            <div class="col-sm-4">
                <h2>Fennec fox</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}