{% extends 'app_general/components/base.html' %}
{% block site_title %}สายพันธุ์สุนัข{% endblock %}
{% load static %}
{% block content %}
<div class="container"><br><br>
    <div class="col-sm-12" style="text-align: center; color:white;">
            <div>
                <h2>สายพันธุ์สุนัข</h1>
            </div>
    </div>
    <div class="col-sm-12 bg-body-secondary">
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Beagle.webp' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Chihuahuas.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Corgi.webp' %}">
            </div>   
        </div>
        <div class="row">
            <div class="col-sm-4"><h2>Beagle</h1></div>
            <div class="col-sm-4"><h2>Chihuahua</h1></div>
            <div class="col-sm-4"><h2>Corgi</h1></div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Golden-retriever.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/German-shepherd.png' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Siberian-Husky-dog.webp' %}">
            </div>   
        </div>
        <div class="row">
            <div class="col-sm-4"><h2>Golden-retriever</h1></div>
            <div class="col-sm-4"><h2>German-shepherd</h1 ></div>
            <div class="col-sm-4"><h2>Siberian-husky</h1></div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Shih-tzu.webp' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Dalmatian.jpg' %}">
            </div>
            <div class="grid-item">
                <img class="DogSP" src="{% static 'app_general/Samoyed.webp' %}">
            </div>   
        </div>
        <div class="row">
            <div class="col-sm-4"><h2>Shih-tzu</h1></div>
                <div class="col-sm-4"><h2>Dalmatian</h1></div>
            <div class="col-sm-4"><h2>Samoyed</h1></div>
        </div>
    </div>
    </div>
{% endblock %}